<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader>
          <h5>Gestionar condiciones de negociación programada</h5>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol xs="12" lg="3">
              <CFormLabel for="serial">Entidad</CFormLabel>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                :v_="v$.entidad"
                :options="entidadOptions"
                v-model="entidad"
                @change="handlerSelect($event, 1)"
                :disabled="
                  cc != 'MDAwMDAw' && auth_tipoUsuario == '24'
                    ? false
                    : auth_tipoUsuario == '22'
                    ? false
                    : true
                "
                hideSeleccione
              />
            </CCol>
            <CCol xs="12" lg="3" v-if="auth_tipoUsuario == '24'">
              <CFormLabel for="serial">Comprador comercial</CFormLabel>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'vSelect',
                  multiple: false
                }"
                :v_="v$.cc"
                :options="ccOptions"
                v-model="cc"
                hideSeleccione
              />
            </CCol>
            <CCol xs="12" lg="3" v-if="verOptions">
              <CFormLabel for="serial">Asociado</CFormLabel>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                :v_="v$.cc"
                :options="centroApuestaOptions"
                v-model="centroApuesta"
                :disabled="entidad != 'MDA=' ? false : true"
                hideSeleccione
              />
            </CCol>
            <CCol xs="12" lg="3" v-if="verOptions || verOptions2">
              <CFormLabel for="serial">Producto</CFormLabel>
              <CCInput
                :allData="{
                  rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                  errorMessageClasses: 'wrong-input',
                  type: 'select',
                }"
                :v_="v$.cc"
                :options="productoOptions"
                v-model="producto"
                :disabled="
                  cc != 'MDAwMDAw' && auth_tipoUsuario == '24'
                    ? false
                    : auth_tipoUsuario == '22'
                    ? false
                    : true
                "
                hideSeleccione
              />
            </CCol>
          </CRow>
          <CRow class="mb-3">
            <CCol>
              <CButton :disabled="validarBtn()"	class="btn-primario" @click="fetchCondicionAsociado()"
                >Buscar</CButton
              >
            </CCol>
          </CRow>
          <CRow class="mt-3" v-if="verTabla">
            <CCol>
              <table class="table-border-color v-table cmp-main-table w-100">
                <thead>
                  <tr>
                    <th class="mb-1 text-gray">Tipo de jugada</th>
                    <th class="mb-1 text-gray">
                      Condición de negociación actual
                    </th>
                    <th class="mb-1 text-gray">
                      Nueva condición de negociación
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in paginatedItems" :key="item.codCondicion">
                    <td class="mb-1">{{ item.desTipoJugada }}</td>
                    <td class="mb-1">{{ item.desCondicion }}</td>
                    <td class="mb-1">
                      <CCol xs="12" lg="12" class="mt-3">
                        <CCInput
                          :allData="{
                            rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                            errorMessageClasses: 'wrong-input',
                            type: 'select',
                          }"
                          :v_="v$.cc"
                          
                          :options="item.condiciones.filter(
                              (condicion) => condicion.estatus === '1',
                            ) ? [
                            ...item.condiciones.filter(
                              (condicion) => condicion.estatus === '1',
                            ),
                            
                            ...item.condiciones.filter(
                              (condicion) => condicion.estatus !== '1',
                            ),
                          ] : [
                          { label: 'SELECCIONE', value: 'MDA=' },
                            ...item.condiciones.filter(
                              (condicion) => condicion.estatus !== '1',
                            ),
                          ]"
                          v-model="condicion_valor[item.codCondicion]"
                          @change="
                            handlerSelect(
                              $event,
                              3,
                              item.codJugada,
                              item.codCondicion,
                            )
                          "
                          hideSeleccione
                        />
                      </CCol>
                    </td>
                  </tr>
                </tbody>
              </table>
              <CRow class="mt-3">
                <CModalFooter
                  class="col-lg-12 col-12 mt-3 justify-content-center mt-3 mb-3"
                >
                  <CButton
                    class="btn-primario mx-2"
                    @click="btnGuardar()"
                    :disabled="listCondiciones.length > 0 ? false : true"
                    >Guardar</CButton
                  >
                  <CButton class="btn-primario mx-2" @click="limpiarTable()"
                    >Cancelar</CButton
                  >
                </CModalFooter>
              </CRow>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import CCInput from '@/components/custom/CCInput.vue'

import esquemaProgramado from '@/_validations/gestionarEsquemasProgramado/esquemaProgramado'
import globalMixin from '@/_mixins/globals'
import { LABELS as labels } from '@/_helpers/labels'
import { esquemaRegister } from '@/_helpers/formData'
import { loadToggler } from '@/composables/loadToggler'
import { setupData } from '@/composables/tableDataStruc'

/* storeToRefs: Const que hace referencia a la tienda o store */
import { storeToRefs } from 'pinia'
// fetchRequest :
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth'

// METHODS
function handlerSelect(event, select, codigoTipoJugada, codigocondicionActual) {
   if(select == 1){
    if(this.auth_tipoUsuario == '24')this.fetchCC()
    else if(this.auth_tipoUsuario == '22'){
      this.fetchProductos(this.cc.value)
      if(this.entidad == 'Mw==') this.fetchCapuesta(this.cc.value)
      else if (this.entidad === 'NA==') this.fetchGrupos(this.cc.value)
    }
   } 
   else if (select == 2) {
    if(this.entidad == 'Mw==') this.fetchCapuesta(this.cc.value)
    else if (this.entidad === 'NA==') this.fetchGrupos(this.cc.value)
    this.fetchProductos(this.cc.value)
  } else if (select == 3) {
    const codigocondicionNueva = event.target.value
    this.listCondiciones.push({
      codigoTipoJugada,
      codigocondicionActual,
      codigocondicionNueva,
    })
  }
}
//METODO QUE LISTA LAS ENTIDADES
async function fetchEntidad() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarEntidadGeneral/${this.auth_tokenUsuario}/`,
    self,
    success: (rjson) => {
      self.entidadOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.entidadOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.entidadOptions,
      ]
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson)
    },
  })
}
//METODO QUE LISTA LOS COMPRADORES COMERCIALES
async function fetchCC() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarCompradorComercial/${this.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.ccOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.ccOptions = [
        { label: 'SELECCIONE', value: 'MDAwMDAw' },
        ...self.ccOptions,
      ]
    },
    error: (rjson) => {
      console.error('error cc', rjson)
    },
  })
}
//METODO QUE LISTA LOS ASOCIADOS
async function fetchCapuesta() {
  const self = this
  fetchRequest({
    api: `${self.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/${self.cc.value}`,
    self,
    success: (rjson) => {
      if(this.auth_tipoUsuario == '24' && this.entidad != 'Mg==') this.verOptions = true
      self.centroApuestaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.centroApuestaOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.centroApuestaOptions,
      ]
    },
    error: (rjson) => {
      this.verOptions = false
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}
//METODO QUE LISTA LOS GRUPOS
async function fetchGrupos() {
  const self = this
  fetchRequest({
    api: `${self.$apiGeneral}ListarGrupos/${self.auth_tokenUsuario}/${self.cc.value}`,
    self,
    success: (rjson) => {
      if(this.auth_tipoUsuario == '24' && this.entidad != 'Mg==') this.verOptions = true
      self.centroApuestaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.centroApuestaOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.centroApuestaOptions,
      ]
    },
    error: (rjson) => {
      this.verOptions = false
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}
//METODO QUE LISTA LOS PRODUCTOS
async function fetchProductos() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarProductoComprador/${this.auth_tokenUsuario}/${this.cc.value}`,
    self,
    success: (rjson) => {
      self.productoOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.productoOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.productoOptions,
      ]
    },
    error: (rjson) => {
      console.error('fetchProductos', rjson)
      self.productoOptions = [{ label: 'SELECCIONE', value: 'MDA=' }]
      return caseWrong({
        self,
        error: 'No existen productos activos para este comprador comercial.',
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}
//METODO QUE LLENA EL COMBO NUEVA CONDICIONES DE NEGOCIACION DE UN ASOCIADO
async function fetchCondicionAsociado() {
  const self = this
  const auxAsociado = this.centroApuesta === 'MDA=' ? 'MDAwMDAw' : this.centroApuesta
  fetchRequest({
    api: `${self.$apiAdministrativo}ConsultarCondicionNegociacionAsociado/${self.auth_tokenUsuario}/${self.entidad}/${self.cc.value}/${auxAsociado}/${self.producto}`,
    // api: `${self.$apiAdministrativo}ConsultarCondicionNegociacionAsociado/${self.auth_tokenUsuario}/Mg==/Q0MwMTc5/Q0MwMTc5/UDAzNg==`,
    self,
    success: (rjson) => {
      self.verTabla = true,
        (self.condicionNegAso = rjson.datos.map((val) => {
          return {
            desTipoJugada: val.desTipoJugada,
            desCondicion: val.desCondicion,
            codCondicion: val.codCondicion,
            codJugada: val.codJugada,
            condiciones: val.Condiciones.map((condicion) => ({
              value: condicion.codigo,
              label: condicion.descripcion,
              estatus: condicion.estatus,
            })),
          }
        }))
    },
    error: (rjson) => {
      self.verTabla = false, 
      self.entidad = 'MDA='
      self.centroApuesta = 'MDA='
      self.producto = 'MDA='
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//METODO PARA ORGANIZAR Y VALIDAR lisCondiciones
async function btnGuardar() {
  let codigoTipoJugadaSet = new Set()
  let filteredListCondiciones = []

  this.listCondiciones.forEach((condicion) => {
    if (!codigoTipoJugadaSet.has(condicion.codigoTipoJugada)) {
      codigoTipoJugadaSet.add(condicion.codigoTipoJugada)
      filteredListCondiciones.push(condicion)
    } else {
      // Reemplazar el último agregado por el primero
      filteredListCondiciones.pop()
      filteredListCondiciones.push(condicion)
    }
  })
  this.gestionarNegociacionProgramada(filteredListCondiciones)
  filteredListCondiciones = []
}

//METODO Q GESTIONA LAS NUEVAS CONDICIONES DE NEGOCIACION
async function gestionarNegociacionProgramada(listCondiciones) {
  const self = this
  const auxCentroApuesta = self.entidad === 'Mg==' ? self.cc.value : self.centroApuesta
  fetchRequest({
    api: `${self.$apiAdministrativo}GestionarCondicionNegociacionProgramada`,
    method: 'POST',
    self,
    body: {
      entidadAplica: self.entidad,
      codigoAsociado: auxCentroApuesta,
      codigoProducto: self.producto,
      lisCondiciones: listCondiciones,
      tokenUsuario: self.auth_tokenUsuario,
    },
    success: () => {
      const msg = 'Las condiciones de negociacón fueron registradas con exito.'
      self.fireToastMsg(msg, { icon: 'success' })
      self.listCondiciones = []
      self.limpiarTable()
    },
    error: (rjson) => {
      self.listCondiciones = []
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}

//METODO QUE VALIDA EL BOTON BUSCAR
function validarBtn() {
  if (this.auth_tipoUsuario == '22') {
    if (
      this.entidad === 'MDA=' ||
      this.centroApuesta === 'MDA=' ||
      this.producto === 'MDA='
    )
      return true
    else return false
  } else {
    if (this.entidad === 'Mg==') {
      if (
        this.cc === 'MDAwMDAw' ||
        this.entidad === 'MDA=' ||
        this.producto === 'MDA='
      )
        return true
      else return false
    } else {
      if (
        this.cc === 'MDAwMDAw' ||
        this.entidad === 'MDA=' ||
        this.centroApuesta === 'MDA=' ||
        this.producto === 'MDA='
      )
        return true
      else return false
    }
  }
}
function previousPage() {
  if (this.currentPage > 1) {
    this.currentPage--
  }
}
function nextPage() {
  if (this.currentPage < this.totalPages) {
    this.currentPage++
  }
}
function limpiarTable() {
  this.verTabla = false
  this.entidad = 'MDA='
  this.centroApuesta = 'MDA='
  this.producto = 'MDA='
  this.cc = { label: 'SELECCIONE', value: 'MDAwMDAw' }
}

// SETUP
function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)
  //
  loadToggler()

  return {
    ...setupData(1),
    labels,
    v$: useVuelidate(),
    esquemaRegister: esquemaRegister(),
    auth_tipoUsuario,
    auth_tokenUsuario,
  }
}

// MOUNTED
function mounted() {
  this.tRef = 'esquemaNegociacionTable'
  this.canDelete = 'esquemanegociacion' //MOMENTANEO
  ///this.fetchEsquemas();
  this.fetchEntidad()
}

//DATA
function data() {
  return {
    entidad: 'MDA=',
    cc: { label: 'SELECCIONE', value: 'MDAwMDAw' },
    centroApuesta: 'MDA=',
    producto: 'MDA=',
    entidadOptions: [],
    ccOptions: [],
    centroApuestaOptions: [],
    productoOptions: [],
    condicionNegAso: [],
    condicion_valor_array: [],
    condicion_valor: {},
    currentPage: 1,
    itemsPerPage: 5,
    listCondiciones: [],
    verTabla: false,
    verOptions: false,
    verOptions2: false
  }
}

export default {
  components: { CCInput },
  name: 'EsquemaNegociacion',
  data,
  mixins: [globalMixin],
  setup,
  methods: {
    fetchEntidad,
    fetchCC,
    fetchCapuesta,
    fetchGrupos,
    fetchProductos,
    fetchCondicionAsociado,
    handlerSelect,
    validarBtn,
    previousPage,
    nextPage,
    limpiarTable,
    gestionarNegociacionProgramada,
    btnGuardar,
  },
  computed: {
    paginatedItems() {
      const startIndex = (this.currentPage - 1) * this.itemsPerPage
      const endIndex = startIndex + this.itemsPerPage
      return this.condicionNegAso.slice(startIndex, endIndex)
    },
    totalPages() {
      return Math.ceil(this.condicionNegAso.length / this.itemsPerPage)
    },
  },
  watch: {
    cc: function (val) {
      if (val.value == 'MDAwMDAw') {
        this.centroApuesta = 'MDA='
        this.producto = 'MDA='
      }
      else {
        // if(this.auth_tipoUsuario == '24' && this.entidad != 'Mg==') this.verOptions = true
        if(this.auth_tipoUsuario == '24' && this.entidad == 'Mg==') this.verOptions2 = true
        this.handlerSelect(val.value, 2)
      }
    },
    entidad: function () {
        this.centroApuesta = 'MDA='
        this.producto = 'MDA='
        this.cc = { label: 'SELECCIONE', value: 'MDAwMDAw' }
        this.productoOptions = []
        this.centroApuestaOptions = []
        this.ccOptions = []

        if(this.auth_tipoUsuario == '22' && this.entidad != 'MDA=' ) this.verOptions = true
        else this.verOptions = false
        if(this.auth_tipoUsuario == '24'){
          this.verOptions = false
          this.verOptions2 = false
        }
        
    },
    centroApuesta: function (){
      this.producto = 'MDA='      
    }
  },
  mounted,
  /* Validaciones */
  validations() {
    return esquemaProgramado
  },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
.table-border-color {
  border: 1px solid #bdcfea;
}
.cmp-main-table {
  border: 1px solid #dae8fd;
}
thead tr {
  background: #dae8fd;
}
th {
  min-width: 6rem;
  width: 6rem;
}
thead tr th:not(:last-child) {
  border-right: 1px solid #bdcfea;
}
thead tr th {
  padding: 0.5rem 0.5rem;
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
th {
  font-weight: 600;
  text-align: inherit;
  text-align: -webkit-match-parent;
}
.text-gray {
  color: #1c4c96 !important;
}
.cmp-main-table tbody tr td:not(:last-child) {
  border-right: 1px solid #dae8fd;
}
.cmp-main-table tbody tr td {
  padding: 0rem 0.5rem;
  border-bottom: 1px solid #bdcfea;
}
.estilo-back-pagination{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.375rem;
  border: 1px solid #c4c9d0;
}
.estilo-pagination{
  padding: 0.375rem;
  border: 1px solid #c4c9d0;
}
.estilo-next-pagination{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.375rem;
  border: 1px solid #c4c9d0;
}
</style>
