<template>
    <div class="d-flex flex-row flex-wrap" v-bind:class="valForInfoText ? 'mb-0' : 'mb-3'">
        <div class="w-100 mb-3 d-grid d-md-inline-block custom-mobile-grid">
            <template v-for="(moder, moderk) in forms" :key="moderk">
                <CButton 
                    v-if="moderk !== 'figures' && (+moder.jsonKey < 1 || apiLists.tipoFuncion[moder.jsonKey])"
                    :ref="'shortcut'+moder.code"
                    color="primary" variant="outline" 
                    :active="mode === moderk && Boolean(selectedOnesUse)" 
                    :disabled="mode === 'figures' || !selectedOnesUse || (moderk === 'p' && maxDigits > 3)"
                    class="shortcut-info small me-md-2" 
                    @click="() => { setFromChildTheMode(moderk) }"
                > {{ moder.label }}
                </CButton>
            </template>
        </div>
        <!--  -->
        <CForm class="row g-3 mb-3 flex-grow-1">
            <template v-for="(field, fi) in visibleFields" :key="fi">
                <template v-for="(formV, formK, formI) in forms" :key="formI">
                    <template v-if="mode == formK">
                        <template v-if="field.tipo == 'input'">
                            <InputLot 
                                v-if="formK != specialCase && formK != 'figures'"
                                :ref="refr(field, formV)"
                                v-model="inputVal[refr(field, formV)]"
                                :data="formV" 
                                :fData="{ fCode: field.codigo }"
                                :tripleLabel="field.etiqueta"
                                :numOnlySpecial="numOnlySpecial" 
                                :colClasses="pointBreaker(false, !!biggerFields, !!alwaysWide)"
                                :extraClass="fi ? 'ps-md-2' : ''"
                                :wrong="!selectedOnesUse ? false : formV['wrong'+field.codigo]"
                                :wrongInBetween="modeSize.l"
                                :theresB="!fi && visibleFields.length > 1"
                                :isB="fi"
                                :disabled="!selectedOnesUse"
                                :isMobile="isMobile"
                                :fireToastMsg="fireToastMsg"
                                :derandomize="true"
                                :permiteEscritura="field.permiteEscritura"
                                :execute3="() => { setFromChildTheRandomized() }"
                            />
                            <template v-else-if="formK == specialCase">
                                <InputLot 
                                    v-for="(rng, rngI) of formV.range" 
                                    :key="rngI" 
                                    :ref="refr(field, formV)+rng"
                                    v-model="inputVal[refr(field, formV)][rng]"
                                    :data="{...formV, rng}" 
                                    :fData="{ fCode: field.codigo }"
                                    :tripleLabel="field.etiqueta"
                                    :tripleLabelStart="visibleFields.length > 1 && !rngI"
                                    :tripleLabelEnd="visibleFields.length > 1 && rngI"
                                    :numOnlySpecial="numOnlySpecial" 
                                    :colClasses="pointBreaker(false, !!biggerFields, !!alwaysWide)"
                                    :extraClass="fi || rngI ? 'ps-md-2' : ''"
                                    labelExtraClass="text-capitalize"
                                    :especial="true"
                                    :identifier="formV.range[!rngI ? 1 : 0]"
                                    :wrong="!selectedOnesUse ? false : formV['rangeWrong'+field.codigo][rngI]"
                                    :wrongInBetween="modeSize.l"
                                    :theresB="visibleFields.length > 1"
                                    :pos="rngI"
                                    :isB="fi"
                                    :inputIdentifier="rngI+1"
                                    :smaller="true"
                                    :disabled="!selectedOnesUse"
                                    :isMobile="isMobile"
                                    :fireToastMsg="fireToastMsg"
                                    :derandomize="true"
                                    :permiteEscritura="field.permiteEscritura"
                                    :execute3="() => { setFromChildTheRandomized() }"
                                />
                            </template>
                        </template>
                        <template v-else>
                            <template v-if="inputVal[refr(field, forms.figures)]">
                                <InputLot 
                                    v-for="(rngf, rngfI) of figureRangeRes" 
                                    :key="rngfI" 
                                    :ref="refr(field, forms.figures)+rngf"
                                    v-model="inputVal[refr(field, forms.figures)][rngf]"
                                    :data="{...forms.figures, rng: rngf, labl: forms.figures.labl, addDot: !rngfI ? forms.figures.addDot : false}" 
                                    :fData="{ fCode: field.codigo, fMax: field.maxSimbolo }"
                                    :tripleLabel="field.etiqueta"
                                    :numOnlySpecial="numOnlySpecial" 
                                    :extraClass="fi || rngfI ? 'ps-md-2' : ''"
                                    :colClasses="pointBreaker(false, !!biggerFields, !!alwaysWide)"
                                    labelExtraClass="text-capitalize"
                                    :figure="true"
                                    :wrong="(!rngfI && figsCheck[refr(field, forms.figures)]) || (!selectedOnesUse ? false : forms.figures['rangeWrong'+field.codigo][rngfI])"
                                    :wrongInBetween="modeSize.l"
                                    :disabled="!selectedOnesUse || !+noStar(field.maxSimbolo)"
                                    :isStrict="!rngfI && hasStar(field.maxSimbolo)"
                                    :inputIdentifier="rngfI+1"
                                    :button="rngfI"
                                    :figurasObj="getTablaFigura(field.codigo)"
                                    :execNoParams="() => { setFromChildTheFigsCheck(refr(field, forms.figures)) }"
                                    :execute="setFiguras"
                                    :execute2="setFocoDesdeDropdown"
                                    :isMobile="isMobile"
                                    :selection="+field.dropdown ? 'dropdown' : 'table'"
                                    :completeField="+field.dropdown ? field : null"
                                    :fireToastMsg="fireToastMsg"
                                    :derandomize="true"
                                    :permiteEscritura="field.permiteEscritura"
                                    :execute3="() => { setFromChildTheRandomized() }"
                                    :keepOpen="true"
                                /><!-- :openFiguresModal="openFiguresModal" -->
                            </template>
                        </template>
                    </template>
                </template>
            </template>
            <div class="adapt-all-md ms-md-auto w-auto">
                <CButton class="btn-primario w-100" @click="fetchCombinaciones()" :disabled="acceptDis()">
                    <CCLoader v-if="btnLoading" inline />
                    Buscar<span v-if="btnLoading">...</span>
                </CButton>
            </div>
        </CForm>
    </div>
    <CRow class="mb-3" v-if="valForInfoText">
        <em class="fs-small text-muted">{{ mode == 'p' 
        ? ('Solo se permiten permutas para un máximo de '+maximoPermuta+' dígitos.') 
        : ('Solo se permiten corridas para un máximo de '+maximoCorrida+' apuestas.')
        }}</em>
    </CRow>
    <!-- <pre>selectedOnes: {{selectedOnes}}</pre> -->
</template>

<script>
import InputLot from '@/components/shared/inputLot.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import globals from '@/_mixins/globals';
import { hasStar, noStar } from '@/_helpers/formatters';

// COMPUTED
const inputVal = {
    get() {
        return this.modelValue;
    },
    set(val) {
        this.$emit('update:modelValue', val)
    }
};

export default {
    name: 'BetFiltersCmp',
    mixins: [ globals ],
    components: {
        InputLot,
        CCLoader
    },
    props: {
        modelValue: Object, 
        forms: Object,
        apiLists: Object,
        mode: String,
        selectedOnesUse: Number,
        selectedOnes: {
            type: Array,
            default: () => []
        },
        maxDigits: Number,
        visibleFields: Array,
        specialCase: String,
        refr: Function,
        pointBreaker: Function,
        modeSize: Object,
        randomized: Boolean,
        figureRangeRes: Array,
        getTablaFigura: Function,
        setFiguras: Function,
        setFocoDesdeDropdown: Function,
        fetchCombinaciones: Function,
        btnLoading: Boolean,
        figsCheck: Object,
        biggerFields: Boolean,
        alwaysWide: Boolean,
        // 
        setFromChildTheForm: Function,
        setFromChildTheMode: Function,
        setFromChildTheRandomized: Function,
        setFromChildTheFigsCheck: Function,
        acceptDis: Function,
        valForInfoText: Boolean, 
        maximoPermuta: Number,
        maximoCorrida: Number,
    },
    emits: ['update:modelValue'],
    data() {
        return {
            fromSelf: false,
        }
    },
    computed: {
        inputVal,
    },
    setup() {
        return {
            noStar,
            hasStar,
        }
    },
}
</script>

<style lang="scss" scoped>
.custom-mobile-grid {
  @include mediaquery(md, 'max') {
    grid-template-columns: auto auto;
    grid-gap: 6px;
  }
}
</style>