<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Bloqueo de números, series y permutas</h5></CCardHeader>
        <CCardBody>
          <CRow class="mb-4">
            <CCol xs="12" lg="4" class="d-flex flex-column mb-4 mb-lg-0">
              <div class="mb-4">
                <h6>Tipo sorteo</h6>
                <CCLoader v-if="sorteoDataLoading" inline :times="3" />
                <TipoSorteosBtns noBorderR
                  :threeway="threeway"
                  :tipoSecciones="tipoSecciones"
                  :tipoSeccionSeleccionada="tipoSeccionSeleccionada"
                  :cambiarTipoSeccion="cambiarTipoSeccion"
                />
              </div>
              <!--  -->
              <HelperModalStructure list :desc="false" :checks="false"
                :loading="tableDataLoading" :sorteos_list_all="sorteosList" 
                :productActive="productActive" :setActiveProduct="setActiveProduct"
                :showProductFilter="false" :sorteosLoading="sorteoDataLoading"
              >
                <template #loaderHolder>
                  <CCLoader inside rounded />
                </template>
                <template #listTitle>Sorteos disponibles</template>
                <template #checks>
                  <p v-if="!sorteoDataNull">{{sorteosListMsg}}</p>
                  <p v-else-if="!slideActive.length">{{noProductsSelectedMsg}}</p>
                  <!-- /* ISFIX */ v-model="sorteo_.checked" -->
                  <CFormCheck 
                    v-for="sorteo_ in sorteos_por_productos" 
                    :key="sorteo_.id" :id="sorteo_.id" 
                    class="sorteo-check"
                    v-model="sorteo_.checked"
                    :label="sorteo_.nombreSorteo()" 
                    :value="sorteo_.id" 
                    :checked="sorteo_.checked" 
                    @change="considerarApuesta($event, sorteo_, true)"
                  />
                </template>
              </HelperModalStructure>
            </CCol>
            <!--  -->
            <CCol xs="12" lg="8">
              <div class="section-container">
                <h6 class="reference">Consultar combinación</h6>
                <BetFiltersCmp
                  v-model="form"
                  :forms="forms"
                  :apiLists="apiLists"
                  :mode="mode"
                  :selectedOnesUse="selectedOnesUse"
                  :selectedOnes="selected_sorteos"
                  :maxDigits="maxDigitsForFieldSelected"
                  :visibleFields="visibleFields"
                  :specialCase="specialCase"
                  :refr="refr"
                  :pointBreaker="pointBreaker"
                  :modeSize="modeSize"
                  :randomized="randomized"
                  :figsCheck="figsCheck"
                  :figureRangeRes="figureRangeRes"
                  :getTablaFigura="getTablaFigura"
                  :setFiguras="setFiguras"
                  :setFocoDesdeDropdown="setFocoDesdeDropdown"
                  :fetchCombinaciones="fetchCombinaciones"
                  :btnLoading="btnLoading"
                  :setFromChildTheMode="($event) => { mode = $event }"
                  :setFromChildTheRandomized="execRand"
                  :setFromChildTheFigsCheck="($event) => { figsCheck[$event] = false }"
                  :acceptDis="aceptarDisabled"
                  :valForInfoText="valForInfoText"
                  :maximoPermuta="maximoPermuta"
                  :maximoCorrida="maximoCorrida"
                />

                <CRow class="mb-2">
                  <CCTable
                    :ref="tRef"
                    v-model="currentPage"
                    :tableData="tableData"
                    :inTableData="inTableData"
                    :multidelete="tableMultidelete"
                    :setTableState="setTableState"
                    :showPagination="showPagination"
                    :setShowPagination="setShowPagination"
                    :unselectFromTable="eraseFromTable"
                    :alertMsgs="[
                      labels.sureDelete(true, 'combinación'), labels.sureDelete(false, 'combinación'), 
                      labels.deleteAll('combinaciones'), labels.deleteOne('combinación'), labels.betsNotExist(null,'',true,'combinaciones'),
                      labels.sureDeleteSelected('combinacione'), labels.deleteAllSeleted('combinaciones')
                    ]"
                    :loading="tableDataLoading"
                    :pressable="!sorteoDataLoading || !tableDataLoading || !tableDataLoading2"
                    :hideClearAll="false"
                    :optionsAsGrid="false"
                    :optionsColWidth="optionsColWidthRem"
                    maxHeight="30rem"
                    doNotEmit
                    :checkCol="true"
                    :applyMontoEditable="false"
                  />
                  <!--  -->
                  <div class="adapt-all-md ms-md-auto w-auto">
                    <CButton class="btn-primario w-100" @click="openModalOpciones()" :disabled="!selectedOnesFromTable.length">
                      <CCLoader v-if="tableDataLoading2" inline />
                      Agregar<span v-if="tableDataLoading2">...</span>
                    </CButton>
                  </div>
                </CRow>
              </div>
            </CCol>
          </CRow>
          <!--  -->
          <CRow class="mb-2">
            <CCol xs="12">
              <div class="section-container d-flex flex-column">
                <h6 class="reference">Números bloqueados</h6>
                <CCTable 
                  :ref="tRef2" 
                  v-model="currentPage2" 
                  :tableNum="2"
                  :tableData="tableData2" 
                  :inTableData="inTableData2"
                  :multidelete="tableMultidelete2"
                  :setTableState="setTableState"
                  :showPagination="showPagination2"
                  :setShowPagination="setShowPagination"
                  :unselectFromTable="unlockCombinations"
                  :alertMsgs="[
                    labels.sureDelete(true,'combinación',true,'','es','desbloquear','combinacion'), 
                    labels.sureDelete(false,'combinación',true,'','es','desbloquear'),
                    labels.deleteAll('combinaciones',true,'desbloquear'), 
                    labels.deleteOne('combinación',true,'desbloque'), 
                    labels.betsNotExist(null,'',true,'combinaciones','desbloquear'),
                    labels.sureDeleteSelected('',true,'es','desbloquear','combinacion'), 
                    labels.deleteAllSeleted('combinaciones',true,'desbloquear')
                  ]"
                  :loading="tableDataLoading2"
                  :pressable="!sorteoDataLoading || !tableDataLoading || !tableDataLoading2"
                  :hideClearAll="false"
                  :optionsAsGrid="false"
                  :optionsColWidth="optionsColWidthRem2"
                  maxHeight="30rem"
                  doNotEmit
                  :checkCol="true"
                  :applyMontoEditable="false"
                  disBy="tipoBloqueo"
                  :selectedRows="selectedOnesFromTable2"
                /><!-- deliveredParam="numero" -->

                <div class="adapt-all-md me-md-auto w-auto mb-2">
                  <CButton class="btn-primario w-100" :disabled="sorteoDataLoading" @click="viewBlockedOnesList()">
                    <CCLoader v-if="blockListDataLoading" inline />
                    Ver listado de bloqueados<span v-if="blockListDataLoading">...</span>
                  </CButton>
                </div>
              </div>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalOpcionesBloqueo 
    ref="modalopcionesbloqueoDecorator"
    :visible="opcionesbloqueoModalVisible" 
    :data="opcionesbloqueoModalDta"
    :close="() => {closeModal('opcionesbloqueo')}" 
    :opcionesData="opcionesBloqueoModal"
    :save="preAddBlockedOnes"
    :sorteos="selectedOnesFromTable"
  />
  <!--  -->
  <ModalListadoBloqueados 
    ref="modallistadobloqueadosDecorator"
    :visible="listadobloqueadosModalVisible" 
    :data="listadobloqueadosModalDta"
    :close="() => {closeModal('listadobloqueados')}" 
    :tokUsr="auth_tokenUsuario"
    :updateLockCombinationsTable="updateLockCombinationsTable"
  />
</template>

<script>
import { loadToggler } from '@/composables/loadToggler'
import { loadMultiMon } from '@/composables/multimonCmpb'
import globalMixin from '@/_mixins/globals';
import lotteryShared from '@/_mixins/lotteryShared';
import TipoSorteosBtns from '@/components/shared/tipoSorteosBtns.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import HelperModalStructure from '@/components/shared/HelperModalStructure.vue';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { hasStar, noStar } from '@/_helpers/formatters';
import { storeToRefs } from 'pinia';
import { resCodes } from '@/_helpers/general';
import { useAuth } from '@/store/auth';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { loadMainLotDta } from '@/composables/mainLotteryDta';
import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import { LABELS as labels } from '@/_helpers/labels';
import { modalSetupData } from '@/composables/modalDataStruct';
import ModalOpcionesBloqueo from './modales/modalOpcionesBloqueo.vue';
import ModalListadoBloqueados from './modales/modalListadoBloqueados.vue';
import { opcionesBloqueoModal } from '@/_helpers/formData';
import BetFiltersCmp from './betFiltersCmp.vue';
import bloqueoNumerosGrals from './bloqueoNumerosGrals';

//#region METHODS
async function fetchSorteos () {
  this.sorteoDataLoading = true;
  const self = this;
  fetchRequest({
      api: this.$apiAdministrativo+'ConsultarSorteos/'+this.auth_tokenUsuario, 
      mock: 'lotoIniciarBloqueo',
      applyMock: false,
      self,
      success: (rjson) => {
        const rdatos = rjson.datos || rjson.data;
        console.log('datos from bloquear', rdatos);
        
        self.dataRequest({
          self,
          rjson,
          rdatos,
          blockGenerals: () => {
            self.maximoCorrida = +rdatos.maximoCorrida;
            self.maximoPermuta = +rdatos.maximoPermuta;
          },
        });
      },
      error: (rjson) => {
        if (resCodes(rjson).includes("052")) self.sorteosListMsg = rjson.msg;
        const theresJugadas = self.tableData.length;
        self.sorteoDataNull = null;
        self.sorteosListAll = {};
        self.apiLists = {
          productos: {},
          loterias: {},
          turno: {},
          tipoFuncion: {},
          modalidad: {},
          secciones: {},
          tipoSeccion: {},
        };
        self.removeFromTable(true);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg), loading: 'sorteoDataLoading',
            defaultMsg: labels.defaultErrorMsgPlus('cargar sorteos', false, `${theresJugadas ? ' Se limpiará la tabla.' : ''}`),
        });
      },
  });
}

function openModalOpciones () {
  this.actionFromTable({}, 'register', 'opcionesbloqueo');
}

function viewBlockedOnesList () {
  const data = {
    apiLists: this.apiLists,
    tipoSecciones: this.tipoSecciones,
    modalidadComponentes: this.modalidadComponentes,
    componentesDta: this.componentesDta,
    seccionCodigosElementos: this.seccionCodigosElementos,
    seccionCampos: this.seccionCampos,
    camposTodos: this.camposTodos,
    tipoSeccionSorteos: this.tipoSeccionSorteos,
    sorteosListAll: this.sorteosListAll,
    maximoCorrida: this.maximoCorrida,
    maximoPermuta: this.maximoPermuta,
  };
  this.actionFromTable(data, 'view', 'listadobloqueados');
}
//#endregion

//#region COMPUTED
function selectedOnesUse () {
  return this.selected_sorteos.length
}
//#endregion

export default {
    name: 'bloquearNumero',
    mixins: [ 
      globalMixin,
      lotteryShared,
      tableGenerals, 
      modalGenerals,
      bloqueoNumerosGrals
    ],
    components: { 
      TipoSorteosBtns,
      CCLoader,
      HelperModalStructure,
      CCTable,
      ModalOpcionesBloqueo,
      ModalListadoBloqueados,
      BetFiltersCmp
    },
    data() {
      return {
        blockListDataLoading: false,
        maximoCorrida: Infinity,
        maximoPermuta: Infinity,
      }
    },
    setup() {
      const authStore = useAuth()
      const { auth_tokenUsuario } = storeToRefs(authStore)

      loadToggler()

      const sameW = 3.35
      const optionsColWidthRem = sameW
      const optionsColWidthRem2 = sameW
      const forTabla = [
        [{name: 'sorteo', attr: 'nombreSorteo', attrFunc: true, dir: 'no'}], 
        [{name: 'apuesta', attr: 'betDetail', attrFunc: true, dir: 'no'}], 
        [{name: 'venta sorteo', attr: 'played', dir: 'dot'}],
        [{name: 'peso del premio', attr: 'weightPrice', dir: 'dot'}],
      ]
      const forTabla2 = [
        [{name: 'sorteo con bloqueo', attr: 'nombreSorteo', attrFunc: true, dir: 'no'}], 
        [{name: 'apuesta', attr: 'betDetail', attrFunc: true, dir: 'no'}], 
        [{name: 'tipo bloqueo', attr: 'typeBlocking', slct: true}],
        [{name: 'bloqueado por', attr: 'bloqueadoPor', attrFunc: true, dir: 'no'}],
      ]
      const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))
      const inTableData2 = tableDataStruc(forTabla2.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla2.length, optionsColWidthRem2) : {}) })))

      return {
        ...setupData(2),
        ...modalSetupData('opcionesbloqueo','listadobloqueados'),
        ...loadMultiMon(),
        ...loadMainLotDta(true),
        auth_tokenUsuario,
        optionsColWidthRem,
        optionsColWidthRem2,
        inTableData,
        inTableData2,
        labels,
        opcionesBloqueoModal,
        noStar,
        hasStar,
      }
    },
    methods: {
      fetchSorteos,
      openModalOpciones,
      viewBlockedOnesList,
      execRand: function () { 
        this.randomized = false;
        Object.keys(this.forms).forEach(frmK => this.falser(this.forms[frmK], 'required', 'wrong'));
      },
      unlockCombinations: async function (data = [], msgs) {
        const theData = data instanceof Array ? (this.selectedOnesFromTable2?.length ? this.selectedOnesFromTable2 : data) : [data];
        await this.eraseFromTable(data, msgs, true, true, '2', 'addBlockedOnes', theData, false, '2');
        this.tableDataLoading2 = false;
      },
      updateLockCombinationsTable: function (sorteos) {
        const srtsShorts = sorteos.reduce((dts, dt) => ({...dts, [dt.betsShortcut]: true}), {});
        const forTable_ = this.tableData2.reduce((srts, srt) => {
          if (!srtsShorts[srt.betsShortcut]) srts.push(srt);
          return srts
        }, []);
        this.tableData2 = forTable_;
        this.setTableDeselected(true, '2');
      },
      preAddBlockedOnes: async function (...args) {
        await this.addBlockedOnes(...args);
        if (!this.tableData.length && this.resetLottery) this.resetLottery(true);
      },
    },
    computed: {
      selectedOnesUse,
    },
    mounted() {
      this.tRef = 'consultedCombinationsTable';
      this.tRef2 = 'blockedOnesAddedTable';
      this.tableMultidelete = true;
      this.tableMultidelete2 = true;
      this.allOfLot = false;
      this.isBlockedOnesPage = true;
      this.idForMultiElim = 'guid';
      this.fetchSorteos();
    },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>