<template>
    <aside 
        class="side-figuras px-0"
        v-bind:class="[
            sideFiguresVisible ? 'open-figures' : '',
            printing ? 'has-before-unclicable' : ''
        ]"
        v-bind:style="{
            top: headerHeight
        }"
    >
        <div class="d-flex flex-column h-100">
            <div class="help-header d-flex px-1 pt-3 pb-2">
                <template v-for="num in 2" :key="num">
                    <a 
                        href="javascript:void(0);" 
                        class="text-decoration-none me-3 text-white"
                        v-bind:class="[
                            num == 2 ? (sideFiguresVisible ? 'd-none' : 'd-flex') : '',
                            num == 2 ? 'position-absolute lefter text-gris' : ''
                        ]"
                        @click="sideFiguresToggler"
                    >
                        <CIcon :icon="'cic-chevron-double-'+(num == 1 ? 'right' : 'left')" size="xl" />
                    </a>
                </template>
                <span class="text-white text-uppercase">FIGURAS {{figurasActualesLabel}}</span>
            </div>
            <div class="help-body p-3 flex-grow-1 overflow-auto">
                <slot />
            </div>
        </div>
    </aside>
</template>

<script>
import { useSideHelp } from '@/store/sidehelp'
import { storeToRefs } from 'pinia'

export default {
    name: 'sideFiguras',
    setup() {
        const sideHelpStore = useSideHelp()
        const { headerHeight, sideFiguresVisible } = storeToRefs(sideHelpStore)

        return {
            headerHeight,
            sideFiguresVisible,
        }
    },
    props: {
        sideFiguresToggler: Function,
        figurasActualesLabel: {
            type: String,
            default: '',
        },
        printing: Boolean,
    }
}
</script>

<style lang="scss" scoped>
.side-figuras {
    position: fixed;
    bottom: 0;
    // z-index: 1028;
    z-index: 0;
    right: 0;
    width: $sidebar-width-fcui;
    background: #fff;
    margin-right: calc(-1 * $sidebar-width-fcui);
    transition: $sidebar-transition-fcui;

    &.open-figures {
        margin-right: 0 !important;
    }

    .help-header{
        background: $dark-gray;

        a.lefter {
            left: -1.5rem;
        }
    }

    // .help-body{
        
    // }
}
</style>>