<template>
    <div class="figures-actions-grid overflow-auto mx-auto">
        <template v-for="(t1, t1i) in 4" :key="t1i">
            <div :class="'gr gr-'+t1">
                <div class="item" v-for="(gr1O, gr1) in shortcuts[t1i]" :key="gr1">
                    <CCFilterButon 
                        v-model="currfilter" 
                        :identifier="gr1O.case" 
                        :label="gr1O.label || ''" 
                        :label2="gr1O.label2 || ''" 
                        :bkey="gr1O.key || ''" 
                        :extraClasses="t1 == 4 ? 'street' : ('liner d-flex liner'+t1)" 
                    />
                </div>
            </div>
        </template>
        <div class="gr gr-5">
            <CCol 
                xs="12" 
                class="figure-grid" 
            >
                <template v-for="(figura, figuraInd) in figurasArr" :key="figuraInd">
                    <div 
                        class="figure text-center border-bottom figura-tabla" 
                        v-bind:class="[figurasArr.length % 2 == 0 && figuraInd < 2 ? (!figuraInd ? 'span-custom' : 'span-custom row-custom') : 'not-custom']"
                    >
                        <input 
                            class="check-figura d-block" 
                            type="checkbox" 
                            :id="'figura-' + figura" 
                            :value="figura" 
                            v-model="selectedOnes"
                            @change="setFilter('clearAllFigureData')"
                        >
                        <label 
                            :for="'figura-' + figura" 
                            class="d-flex flex-column h-100 align-items-center flex-wrap" 
                            v-bind:class="[
                                checkIfSelected(figura) ? 'selected' : '',
                                figurasArr.length % 2 == 0 && (!figuraInd || figuraInd == 1) ? 'justify-content-center' : ''
                            ]"
                        >
                            <div 
                                class="figure-data data"
                                v-bind:class="[
                                    figuras[figura].color,
                                    figurasArr.length % 2 == 0 && (!figuraInd || figuraInd == 1) ? 'mx-1' : 'mx-auto'
                                ]"
                            >
                                <span class="figure-name">{{ figuras[figura].name }}</span>
                                <span class="figure-id fw-bold ms-1">{{ figurasArr.length % 2 == 0 && figuraInd > 1 ? +figura : figura }}</span>
                            </div>
                            <div 
                                class="figure-data image"
                                v-bind:class="[figurasArr.length % 2 == 0 && (!figuraInd || figuraInd == 1) ? 'mt-3' : 'mx-auto']"
                            >
                                <img 
                                    :src="imgSprite" 
                                    alt="figuras"
                                    v-bind:style="{ 
                                        width: figurasArr.length % 2 == 0 && (!figuraInd || figuraInd == 1) ? '69px' : '50px',
                                        height: figurasArr.length % 2 == 0 && (!figuraInd || figuraInd == 1) ? '35px' : '39px',
                                        objectFit: 'none',
                                        objectPosition: figuras[figura].image
                                    }"
                                >
                            </div>
                        </label>
                    </div>
                </template>
            </CCol>
        </div>
        <template v-for="(t2, t2i) in 5" :key="t2i">
            <div :class="'gr gr-'+(t2+5)">
                <div class="item" v-for="(gr2O, gr2) in shortcuts[t2i + 4]" :key="gr2">
                    <CCFilterButon 
                        v-if="!t2i || t2i > 2 || gr2" 
                        v-model="currfilter" 
                        :identifier="gr2O.case" 
                        :label="gr2O.label || ''"
                        :label2="gr2O.label2 || ''"  
                        :bkey="gr2O.key || ''" 
                        :extraClasses="
                            ((gr2 == (shortcuts[t2i + 4].length - 1)) ? 'lastchild ' 
                             : !gr2 ? 'firstchild ' 
                             : ('child-'+gr2+' '))
                            +(!t2i ? 'column' 
                              : t2i == 1 ? 'dozen' 
                              : t2i == 2 ? 'half' 
                              : (t2i == 3 ? 'colors' : 'evens'))" 
                    />
                </div>
            </div>
        </template>
    </div>
</template>

<script>
import CCFilterButon from '@/components/custom/CCFilterButon.vue';

// METHODS
function switchFilter (filter) {
    const colRowLiner = (n_, c = true, h = 0, z = false) => this.figurasArr.filter((figura) => {
        const rangeNums = !n_ && c ? [0] : 
            Array.from(
                Array(this.halfSquareUnits * (!h ? 2 : h)).fill(this.halfSquareUnits), 
                (hsu,i) => hsu * (i < hsu ? (c ? i : n_) : (c ? ((i < (hsu * 2)) ? (i - hsu) : (i - hsu * 2)) : (n_ + 1))) + 
                           (i < hsu ? (c ? n_ : (i + 1)) : (c ? ((i < (hsu * 2)) ? (n_ + 1) : (n_ + 2)) : ((i - hsu) + 1)))
            );
        if (z) rangeNums.unshift(0);
        return rangeNums.includes(+figura);
    });

    switch (filter) {
        case 'even': this.selectedOnes = this.figurasArr.filter(figura => +figura && +figura % 2 === 0); break;
        case 'odd': this.selectedOnes = this.figurasArr.filter(figura => +figura % 2 !== 0); break;
        case 'black': this.selectedOnes = this.figurasArr.filter(figura => this.figuras[figura].color === 'black'); break;
        case 'red': this.selectedOnes = this.figurasArr.filter(figura => this.figuras[figura].color === 'red'); break;
        default: {
            const fl = (fl) => fl.includes(filter);
            const arraier = (...nums) => nums.map(n => (n[0] == 'l' ? 'liner' : n[0] == 's' ? 'street' : n[0] == 'c' ? 'col' : n[0] == 'd' ? 'dozen' : 'half') + n.slice(1));
            if (['liner','street','col','dozen','half'].some(flt => filter.includes(flt))) {
                const paramsArr = [
                    fl(arraier('l2','l9','s2','c2','d1','h1')) ? 1 
                        : fl(arraier('l1','l4','s3','c3')) ? 2 
                        : fl(arraier('l11','s4','c4','d2')) ? 3 
                        : fl(arraier('l6','l12','s5','c5','h2')) ? 4 
                        : fl(arraier('s6','c6','d3')) ? 5 
                        : fl(arraier('c7')) ? 6 : 0, 
                    !fl(arraier('l1','l8','l9','l11','l12','s1','s2','s3','s4','s5','s6')), 
                    fl(arraier('l1','l4','l6','l8','l9','l11','l12','c1','d1','d2','d3')) ? 0 
                        : fl(arraier('l2','s1','s2','s3','s4','s5','s6','c2','c3','c4','c5','c6','c7')) ? 1 
                        : this.halfHalf, 
                    fl(arraier('l1','l2'))
                ];
                this.selectedOnes = colRowLiner(...paramsArr);
            }
            break;
        }
    }
    this.currfilter = filter;
}

function diselect () {
    this.selectedOnes = [];
    this.currfilter = '';
}

function checkIfSelected(val) {
    return this.selectedOnes.includes(val)
}

// WATCHERS
function currfilter(val) {
    this.setFilter(val);
}

function filter(val) {
    if (val) this.switchFilter(val);
    else this.diselect();
}

// COMPUTED
const selectedOnes = {
    get() {
        return this.modelValue;
    },
    set(val) {
        this.$emit('update:modelValue', val)
    }
};

// DATA
function data () {
    return {
        currfilter: '',
    }
}

// LIFECYCLE HOOKS
function setup () {
    const shortcuts = [
        [{key:'a',case:'liner1'}],
        [{key:'b',case:'liner2'},{key:null,case:'liner3'},{key:'c',case:'liner4'},{key:null,case:'liner5'},{key:'g',case:'liner6'},{key:null,case:'liner7'}],
        [{key:'n',case:'liner8'},{key:'o',case:'liner9'},{key:null,case:'liner10'},{key:'p',case:'liner11'},{key:'s',case:'liner12'}],
        [{key:'1',case:'street1',label:'Calle'},{key:'2',case:'street2',label:'Calle'},{key:'3',case:'street3',label:'Calle'},{key:'4',case:'street4',label:'Calle'},{key:'5',case:'street5',label:'Calle'},{key:'6',case:'street6',label:'Calle'}],
        [{key:'1',case:'col1',label:'Columna'},{key:'2',case:'col2',label:'Columna'},{key:'3',case:'col3',label:'Columna'},{key:'4',case:'col4',label:'Columna'},{key:'5',case:'col5',label:'Columna'},{key:'6',case:'col6',label:'Columna'},{key:'7',case:'col7',label:'Columna'}],
        [{key:'0',case:'docenaNula'},{key:'1',case:'dozen1',label2:'1era',label:'Docena'},{key:'2',case:'dozen2',label2:'2da',label:'Docena'},{key:'3',case:'dozen3',label2:'3era',label:'Docena'}],
        [{key:'0',case:'mitadNula'},{key:'1',case:'half1',label2:'1era',label:'Mitad'},{key:'2',case:'half2',label2:'2da',label:'Mitad'}],
        [{label:'negro',case:'black'},{label:'rojo',case:'red'}],
        [{label:'par',case:'even'},{label:'impar',case:'odd'}],
    ];

    const halfHalf = 3;
    const halfSquareUnits = 6;

    const imgSprite = require('@/assets/images/spriteanimalitos.webp')

    return {
        shortcuts,
        halfHalf,
        halfSquareUnits,
        imgSprite,
    }
}

export default {
  name: 'CCFiguresGrid',
  data,
  components: {CCFilterButon},
  props: [
      'modelValue', 
      'figurasArr', 
      'isMain', 
      'figuras', 
      'filter',
      'setFilter',
  ],
  setup,
  emits: ['update:modelValue'],
  computed: {
    selectedOnes,
  },
  methods: {
    checkIfSelected,
    switchFilter,
    diselect,
  },
  watch: {
    filter,
    currfilter,
  },
}
</script>

<style lang="scss" scoped>
.figure-grid {
    @include gridDist(null, repeat(7, 6.5rem), true);
    column-gap: 4px;
    row-gap: 3px;
    background: $soft-gray;
    padding: 4px 4px 3px;

    .figure {
        background: #fff;

        &.span-custom {
            grid-area: span 3 / auto;

            &.row-custom {
                grid-area: 4 / auto / span 3 / auto;
            }
        }

        &.not-custom {
            height: 4rem;
            width: 6.5rem;
        }

        .check-figura {
            @include sqrDist(0,'width','height');

            + label {
                font-size: small;
                font-weight: 600;
                width: 100%;
                cursor: pointer;
                padding-left: 0.25rem;

                &.selected {
                    background: $softie-gray;
                }
            }
        }
        
        .figure-data {
            $font-eachers: ('green','#008000'), ('red','#ff0000'), ('black','#000');
            @each $font-eacher in $font-eachers {
                &.#{nth($font-eacher, 1)} {
                    color: #{nth($font-eacher, 2)};
                }
            }
        }
    }
}

.figures-actions-grid {
    @include gridDist(null, auto repeat(7, calc(6.5rem + 4px)) auto auto, true);

    .gr {
        &:not(.gr-5) {
            display: grid;
            width: auto;   
        }

        .item {
            display: flex;
        }

        &.gr-1{
            grid-area: 2 / auto / span 6 / auto;

            .item {
                padding-left: 1rem;
            }
        }

        &.gr-2 {
            @include gridDist(auto / 2 / auto / span 7, 6.82rem repeat(6, calc(100% / 6 - 18.5px)));
            width: 47.5rem;
        }

        &.gr-3 {
            padding-left: 0.8rem;
            grid-area: 2 / 9 / span 5 / auto;

            .item {
                height: calc(4rem + 3px);

                &:first-child {
                    height: calc(4rem + 4px);
                }
            }
        }

        &.gr-4 {
            grid-area: 2 / 10 / span 6 / auto;
        }

         &.gr-5 {
            grid-area: span 6 / span 7;
            width: 47.5rem;
         }

         &.gr-6 {
            @include gridDist(auto / 2 / auto / span 7, repeat(7, 1fr));
            width: 47.35rem;
            padding-left: 0.15rem;
         }

         &.gr-7 {
            @include gridDist(auto / 2 / auto / span 7, calc(6.5rem + 6.2px) repeat(3, calc(33.333% - (6.5rem + 8.6px) / 3)));
            width: 47.5rem;
         }

         &.gr-8 {
            @include gridDist(auto / 2 / auto / span 7, calc(6.5rem + 3.8px) repeat(2, calc(50% - (6.5rem + 5.4px) / 2)));
            width: 47.45rem;
            padding-left: 0.15rem;
         }

         &.gr-9, &.gr-10 {
            @include gridDist(9 / 9 / auto / span 2, repeat(2, 1fr));
            padding-left: 0.5rem;

            .item {
                justify-content: center;
            }
         }

         &.gr-9 {
            position: relative;
            top: -1rem;
         }

         &.gr-10 {
            grid-area: 10 / 9 / auto / span 2;
            position: relative;
            top: -0.5rem;
         }
    }
}
</style>