<template>
    <CForm class="d-flex flex-wrap justify-content-between" v-bind:class="asStart ? 'align-items-start' : 'align-items-baseline'">
        <template v-for="(formObj, foi) in formData" :key="foi">
            <CRow v-if="formObj.filler" v-bind:class="formObj.class || ''"></CRow>
            <template v-else-if="!formObj.structure">
                <slot v-if="formObj.outFreeCode" name="outFreeCode" v-bind="formObj" />
                <slot v-else-if="formObj.freeButton" name="freeButtonOut" v-bind="formObj" />
                <template v-else-if="formObj.buttonTag">
                    <CButton 
                        v-if="showCustom"
                        v-bind:class="formObj.class || ''"
                        :disabled="customVals(formObj.validators)"
                        @click="btnAction[(formObj.buttonTagNum || 1) - 1]"
                    >Agregar
                    </CButton>
                </template>
                <slot v-else name="formOut" v-bind="formObj" />
            </template>
            <template v-else-if="(!formObj.code || !hideTable.includes(formObj.code)) && (!formObj.ifFreeCode || showFreeCode)">
                <CCol xs="12" class="section-container d-flex mt-3" v-bind:class="formObj.flexWrap ? 'flex-wrap' : ''">
                    <h6 class="reference">{{ formObj.name }}</h6>
                    <template v-for="(inStructure, stri) in formObj.structure" :key="stri">
                        <CRow v-bind:class="inStructure.rowClass || 'w-100 mx-0'">
                            <CCol xs="12" v-bind:class="inStructure.class || ''">
                                <template v-for="(inCol, ci) in inStructure.columna" :key="ci">
                                    <CRow v-if="inCol.filler" v-bind:class="inCol.class || ''"></CRow>
                                    <template v-else-if="inCol.buttonTag">
                                        <template v-if="!inCol.isFree">
                                            <CButton 
                                                v-if="showCustom" 
                                                v-bind:class="inCol.class || ''"
                                                :disabled="customVals(inCol.validators)"
                                                @click="btnAction[(inCol.buttonTagNum || 1) - 1]"
                                            >
                                                Agregar
                                            </CButton>
                                        </template>
                                        <slot v-else name="freeButton" v-bind="inCol" />
                                    </template>
                                    <slot v-else-if="inCol.colFreeCode" name="colFreeCode" v-bind="inCol" />
                                    <slot v-else name="formIn" v-bind="inCol" />
                                </template>
                                <CCol xs="12" v-if="inStructure.freeCode">
                                    <slot v-if="inStructure.freeCodeNum && inStructure.freeCodeNum === 2" name="freeCode2" />
                                    <slot v-else name="freeCode" v-bind="inStructure" />
                                </CCol>
                            </CCol>
                        </CRow>
                    </template>
                </CCol>
            </template>
        </template>
    </CForm>
</template>

<script>
export default {
    name: 'CCFormStructureWrapper',
    props: {
        formData: {
            type: Array,
            default: () => [],
        },
        btnAction: { type: Array, default: () => [()=>{}] }, // arreglo de funciones
        customVals: Function,
        hideTable: {
            type: Array,
            default: () => [],
        },
        showFreeCode: {
            type: Boolean,
            default: true,
        },
        asStart: Boolean,
        showCustom: {
            type: Boolean,
            default: true,
        },
    },
}
</script>

<style lang="scss" scoped>
.h-fit {
    height: fit-content;
}
</style>