<template>
    <CRow v-bind:class="[
        allData.inFlex ? 'col-12' : '',
        allData.rowClasses || '',
    ]">
        <CFormLabel 
            v-if="allData.label && v_"
            :for="v_.$path+'Input'" 
            class="col-form-label"
            v-bind:class="[
                col || !allData.label ? 'col-12' : 'col-sm-6',
                allData.labelClasses || '',
                allData.byRem ? 'with-rem' : ''
            ]"
        >{{allData.label}}</CFormLabel>
        <div 
            v-if="v_"
            v-bind:class="[
                allData.nonApply ? '' : (col || !allData.label) ? 'col-12' : allData.hasCustom ? '' : 'col-sm-6',
                allData.label && !col ? 'ps-md-0' : '',
                allData.inputWrapperClasses || '',
                allData.byRem ? 'with-rem' : ''
            ]"
        >
            <vSelect 
                :id="v_.$path+'Input'" 
                class="select-multiple"
                v-if="allData.type === 'vSelect'"
                :multiple="allData.multiple"
                v-model="ccValue"
                placeholder="SELECCIONE"
                :options="options"
                :disabled="disabled || loaders[allData.typeLoading]"
            >
                <template #no-options="{ search, searching }">
                    <template v-if="searching">
                        No se encontraron resultados para <em>{{ search }}</em>.
                    </template>
                    <template v-else>
                      No hay resultados para mostrar.
                    </template>
                </template>
            </vSelect>
            <!--  -->
            <CFormSelect
                v-else-if="allData.type === 'select' || allData.type === 'selectSolo'"
                :id="v_.$path+'Input'"
                v-model="ccValue"
                aria-label="select"
                class="custom-input-class"
                v-bind:class="disabledLighted ? 'lighted' : ''"
                :disabled="disabled || loaders[allData.typeLoading]"
                @change="execAction"
            >
                <option 
                    v-if="!hideSeleccione" 
                    :value="(allData.type === 'selectSolo' && ccValue) || 'seleccione'"
                >
                    {{(allData.type === 'selectSolo' && ccValue) || 'SELECCIONE'}}
                </option>
                <template v-if="allData.type === 'select'">
                    <option 
                        v-for="(option, sel_i) in options" 
                        :key="sel_i"
                        :value="option.value"
                        :selected="option.value === ccValue"
                    >
                        {{option.label}}
                    </option>
                </template>
            </CFormSelect>
            <!--  -->
            <div v-else-if="allData.type === 'switch'" class="custom-input-class"
                v-bind:class="[
                    disabledLighted ? 'lighted' : '',
                    allData.inputClasses || ''
                ]"
            >
                <CFormSwitch 
                    :id="v_.$path+'Input'" 
                    v-model="ccValue"
                    :checked="ccValue" 
                    :disabled="disabled"
                />
            </div>
            <!--  -->
            <CFormTextarea 
                v-else-if="allData.type === 'textarea'" 
                :id="v_.$path+'Input'" 
                v-model="ccValue"
                :placeholder="placeholder"
                class="custom-input-class"
                v-bind:class="disabledLighted ? 'lighted' : ''"
                :disabled="disabled"
                rows="3"
            ></CFormTextarea>
            <!--  -->
            <Datepicker 
                v-else-if="allData.type === 'date'" 
                :id="v_.$path+'Input'" 
                class="w-100 form-control custom-input-class custom-input-class-date"
                v-model="ccValue"
                :disabled="disabled"
                inputFormat="dd-MM-yyyy"
                :lowerLimit="sinceDate"
                :upperLimit="untilDate"
            />
            <!--  -->
            <Vue3TimePicker 
                v-else-if="allData.type === 'time'" 
                :id="v_.$path+'Input'" 
                v-model="ccValue" 
                v-bind:class="disabledLighted || disabled ? 'time-picker-disabled' : ''"
                classes="form-control custom-input-class"
            />
            <!--  -->
            <CInputGroup v-else-if="allData.type === 'group'" >
                <CInputGroupText  v-if="allData.urlPath" :id="v_.$path+'InputGroup'" >{{allData.urlPath}}</CInputGroupText>
                <CFormInput 
                    :type="cil_eye_p" 
                    :id="v_.$path+'Input'" 
                    v-model="ccValue"
                    :placeholder="placeholder"
                    class="custom-input-class"
                    v-bind:class="disabledLighted ? 'lighted' : ''"
                    :disabled="disabled"
                    :maxlength="allData.max ? v_.maxlength.$params.max : allData.max"
                    :minlength="allData.min ? v_.maxlength.$params.min : allData.min"
                    @input="execAction"
                    @keypress="execAction($event, 'keypress')"
                    @blur="execAction($event, 'blur')"
                />
                <CInputGroupText  v-if="allData.icon" :id="v_.$path+'InputGroup'" @click="togglePasswordVisibility(cil_eye_p)">
                    <CIcon v-if="cil_eye_p === 'password'" icon="cicEyeClosed" /> 
                    <CIcon v-if="cil_eye_p === 'text'" icon="cicEye" /> 
                </CInputGroupText>
            </CInputGroup>
            <!--  -->
            <div v-else-if="allData.type === 'radio'" class="custom-input-class"
                v-bind:class="[
                    disabledLighted ? 'lighted' : '',
                    allData.inputClasses || ''
                ]"
            >
                <CFormCheck 
                    v-for="(option, sel_i) in options" :key="sel_i"
                    type="radio"
                    name="range-radios"
                    :id="v_.$path+'Input-'+(sel_i+1)"
                    :label="option.label"
                    :value="option.value"
                    :disabled="disabled"
                    autocomplete="off" 
                    :checked="option.value === ccValue" 
                    @change="ccValue = option.value"
                />
            </div>
            <!--  -->
            <CCRange 
                v-else-if="allData.type === 'range'" 
                :crId="v_.$path+'Input'"
                class="custom-input-class"
                v-model="ccValue" 
                :progressBarLabel="allData.innerLabel"
                :disabled="disabled"
            />
            <!--  -->
            <div v-else v-strCustom:[dir]="ccValue">
                <CFormInput 
                    :type="allData.type || 'text'" 
                    :id="v_.$path+'Input'" 
                    v-model="ccValue"
                    :placeholder="placeholder"
                    class="custom-input-class"
                    v-bind:class="disabledLighted ? 'lighted' : ''"
                    :disabled="disabled"
                    :maxlength="allData.max ? v_.maxlength.$params.max : allData.max"
                    :minlength="allData.min ? v_.maxlength.$params.min : allData.min"
                    :min="allData.minimum"
                    :max="allData.maximum"
                    @input="execAction"
                    @keypress="execAction($event, 'keypress')"
                    @blur="execAction($event, 'blur')"
                />
            </div>
        </div>
        <template v-if="v_ && (lowerThan || greaterThan || (v_.$errors && v_.$errors.length))">
            <CFormText component="span" v-bind:class="[
                allData.errorMessageClasses || '',
                col || !allData.label ? 'text-start' : !allData.errorMessageClasses ? 'text-start text-md-end' : ''
            ]">
                {{lowerThan || greaterThan || v_.$errors[0].$message}}
            </CFormText>
        </template>
    </CRow>
</template>

<script>
import { strCustom } from '@/directives/string';
import CCRange from './CCRange.vue';

function data() {
    return {
        cil_eye_p: 'password',
        iconShow : 'cicEye'
    }
}
export default {
    name: 'CCInput',
    components: { CCRange },
    data,
    props: {
        allData: {
            type: Object,
            default: () => ({})
        },
        modelValue: [String, Number, Boolean, Array, Object], 
        v_: Object, 
        placeholder: String,
        hasUnless: String,
        keyPress: Boolean,
        col: Boolean,
        disabled: Boolean,
        disabledLighted: Boolean,
        options: Array,
        execute: Function,
        activateTouched: {
            type: Boolean,
            default: false,
        },
        hideSeleccione: {
            type: Boolean,
            default: false,
        },
        sinceDate: Date,
        untilDate: Date,
        loaders: {
            type: Object,
            default: () => ({}),
        },
        compare: Boolean,
        lowerThan: {
            type: String,
            default: '',
        },
        greaterThan: {
            type: String,
            default: '',
        },
    },
    emits: ['update:modelValue'],
    computed: {
        ccValue: {
            get() {
                return this.modelValue;
            },
            set(val) {
                this.$emit('update:modelValue', val)
            }
        },
        dir: function () {
            return this.allData?.dir || ''
        },
        // manejo con Geo para carga de estados, ciudades y municipios
        fillSelect: function () {
            return this.allData?.fillSelect || []
        },
    },
    watch: {
        ccValue: function () {
            if (this.compare) this.execute(this.lowerThan || this.greaterThan || '');
        },
    },
    methods: {
        execAction(e, desc = 'changeORinput') {
            if (desc === 'changeORinput' && this.activateTouched) {
                if (this.execute) this.execute();
                return;
            }
            switch (desc) {
                case 'blur':
                case 'keypress': {
                    const theCode = desc === 'blur' ? 13 : (e?.keyCode || e?.which || 0);
                    if (theCode === 13 && this.keyPress) this.execute(desc);
                    break;
                }
                default:
                    if (this.hasUnless) this.execute(this.hasUnless);
                    if (this.fillSelect.length && e?.target?.value) this.execute(['fillSelect', this.fillSelect[0], this.fillSelect.slice(1), e.target.value]);
                    break;
            }
        },
        togglePasswordVisibility(type) {
            this.cil_eye_p = type === 'text' ? 'password' : 'text'
            this.iconShow = type === 'text' ? 'cilXCircle' : 'cicEye'
        }
    },
    directives: {
      strCustom,
    }
}
</script>

<style lang="scss" scoped>
.with-rem {
    @include mediaquery(lg) {
        flex: 1 0 auto;
        width: min-content;

        &.col-form-label {
            flex: 0 0 auto;
            min-width: 7rem;

            @include mediaquery(xl) {
                min-width: 9rem;
            }
        }
    }
}

.flex-1-not-large {
    @include mediaquery(lg, 'max') {
        flex-grow: 1 !important;
    }
}

.flex-one {
    flex: 1;
}
.flex-xl-one {
    @include mediaquery(xxl) {
        flex: 1;
    }
}

:deep(.time-picker-disabled) {
    &::before {
        content: "";
        background: transparent;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .custom-input-class {
        background: $disabled-gray;
        border-color: $disabled-border;
    }
}

@include switchNM;
</style>