<template>
    <div class="position-relative">
        <label v-if="label" :for="crId" class="form-label">{{label}}</label>
        <CFormRange
            :id="crId"
            v-model="inputVal"
            @input="updatePercentage"
            :min="min"
            :max="max"
            :disabled="disabled"
        />
        <CProgress :height="20" class="position-relative c-progress" v-bind:class="disabled ? 'is-disabled' : ''">
            <CProgressBar :value="+inputVal"><strong>{{labels.progressLbl(inputVal, progressBarLabel)}}</strong></CProgressBar>
        </CProgress>
    </div>
</template>

<script>
import { LABELS as labels } from '@/_helpers/labels';

// COMPUTED
const inputVal = {
    get() {
        return this.modelValue;
    },
    set(val) {
        this.$emit('update:modelValue', val)
    }
};

export default {
    name: 'CCRange',
    props: {
        modelValue: String, 
        crId: { type: String, default: 'customRange' },
        label: { type: String, default: '' },
        min: { type: Number, default: 0 },
        max: { type: Number, default: 100 },
        progressBarLabel: { type: String, default: '100%' },
        disabled: Boolean,
    },
    emits: ['update:modelValue'],
    setup() {
        return {
            labels,
        }
    },
    computed: {
        inputVal,
    },
    methods: {
        updatePercentage: function (event) {
            this.$emit('update:modelValue', event.target.value);
        },
    },
}
</script>

<style lang="scss" scoped>
:deep(.form-range) {
  position: relative;
  z-index: 1;
}
.c-progress {
  --cui-progress-bar-bg: #{$dark-gray} !important;
  --cui-progress-border-radius: 1rem !important;
  top: -2.05rem;
  z-index: 0;

  &.is-disabled {
    --cui-progress-bar-bg: #{$disabled-border} !important;
  }
}
</style>