<template>
  <CModal
    size="lg"
    alignment="center"
    backdrop="static"
    :visible="visible"
    @close="shouldClose"
  >
    <CModalHeader>
      <CModalTitle
        >{{
          mode === 'edit'
            ? 'Modificar'
            : mode === 'view'
            ? 'Detalle'
            : 'Agregar'
        }}
        taquilla</CModalTitle
      >
    </CModalHeader>

    <CModalBody>
      <div>
        <CNav variant="tabs">
          <CNavItem>
            <CNavLink @click="handlerTabs(0)" :active="usuario">
              <CIcon icon="cil-user" class="me-2" />
              Datos usuario
            </CNavLink>
          </CNavItem>
          <CNavItem>
            <CNavLink
              @click="handlerTabs(1)"
              :active="impresora"
              :disabled="
                mode === 'register' ? btnDisabled(1) : false
              "
              ><CIcon icon="cil-print" class="me-2" />Datos impresora</CNavLink
            >
          </CNavItem>
          <CNavItem>
            <CNavLink @click="handlerTabs(2)" :active="menu" :disabled="mode === 'register' ? btnDisabled(2) : false">
              <CIcon icon="cil-menu" class="me-2" />
              Datos menú
            </CNavLink>
          </CNavItem>
        </CNav>
        <CTabContent class="rounded-bottom">
          <CTabPane class="p-3 preview" :visible="usuario">
            <div class="col-md-12">
              <CRow>
                <CCol xs="12" lg="2" v-if="mode === 'edit'">
                  <CFormLabel for="taquillaInput">Taquilla</CFormLabel>
                  <CCInput
                    :allData="{
                      rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                      labelClasses: 'pt-0 w-auto wide-mobile-md',
                      inputWrapperClasses: 'flex-grow-1',
                      errorMessageClasses: 'wrong-input',
                      type: 'text',
                    }"
                    :v_="v$.taquilla"
                    v-model="taquilla"
                    :disabled="true"
                  />
                </CCol>
                <!-- <CCol xs="12" lg="3" v-if="mode === 'register'">
                                    <CFormLabel for="serial">Tipo de usuario</CFormLabel>
                                    <CCInput :allData="{
                                        rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                                        errorMessageClasses: 'wrong-input',
                                        type: 'select',
                                    }" 
                                    :v_="v$.tipoUsuario" 
                                    :options="tipoUsuarioOptions" 
                                    v-model="tipoUsuario"
                                    />
                                </CCol> -->
                <CCol xs="12" lg="3" v-if="mode != 'edit'">
                  <CFormLabel for="loginInput">Login del usuario</CFormLabel>
                  <CCInput
                    :allData="{
                      rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                      labelClasses: 'pt-0 w-auto wide-mobile-md',
                      inputWrapperClasses: 'flex-grow-1',
                      errorMessageClasses: 'wrong-input',
                      type: 'text',
                    }"
                    :v_="v$.login"
                    v-model="login"
                    activateTouched
                    :execute="
                      () => {
                        v$.login.$touch()
                      }
                    "
                  />
                </CCol>
                <CCol xs="12" lg="3" v-if="mode != 'edit'">
                  <CFormLabel for="claveInput">Contraseña</CFormLabel>
                  <CCInput
                    :allData="{
                      rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                      labelClasses: 'pt-0 w-auto wide-mobile-md',
                      inputWrapperClasses: 'flex-grow-1',
                      errorMessageClasses: 'wrong-input',
                      type: 'text',
                    }"
                    :v_="v$.clave"
                    v-model="clave"
                    activateTouched
                    :execute="
                      () => {
                        v$.clave.$touch()
                      }
                    "
                  />
                </CCol>
                <CCol xs="12" lg="12" v-if="mode != 'register'">
                  <CRow>
                    <CCol xs="12" lg="3">
                      <CFormCheck
                        inline
                        class="text-capitalize"
                        name="reqIdentificador"
                        autocomplete="off"
                        label="Requiere identificador"
                        v-model="reqIdentificador"
                        :value="reqIdentificador"
                        :checked="reqIdentificador"
                        @change="handlerCheck(reqIdentificador,1)"
                      />
                    </CCol>
                    <CCol xs="12" lg="6">
                      <CFormLabel for="identificadorInput"
                        >Identificador</CFormLabel
                      >
                      <CCInput
                        :allData="{
                          rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                          labelClasses: 'pt-0 w-auto wide-mobile-md',
                          inputWrapperClasses: 'flex-grow-1',
                          errorMessageClasses: 'wrong-input',
                          type: 'text',
                        }"
                        :v_="v$.identificador"
                        v-model="identificador"
                        activateTouched
                        :execute="
                          () => {
                            v$.identificador.$touch()
                          }
                        "
                        :disabled="!reqIdentificador"
                      />
                    </CCol>
                  </CRow>
                </CCol>
                <CCol xs="12" lg="4">
                  <CCol class="mb-1 color-text">Estatus</CCol>
                  <CCInput
                    :allData="{
                      rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                      errorMessageClasses: 'wrong-input',
                      type: 'select',
                    }"
                    :v_="v$.estatus"
                    :options="estatusOptions"
                    :disabled="mode === 'register'"
                    v-model="estatus"
                  />
                </CCol>
                <CCol xs="12" lg="4">
                  <CCol class="mb-1 color-text">Software</CCol>
                  <CCInput
                    :allData="{
                      rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                      errorMessageClasses: 'wrong-input',
                      type: 'select',
                    }"
                    :v_="v$.software"
                    :options="softwareOptions"
                    v-model="software"
                    :disabled="softwareOptions.length === 1"
                  />
                </CCol>
                <CCol xs="12" lg="12">
                  <CCol class="mb-1 color-text">Configurar horario</CCol>
                  <div class="border-blue row">
                    <div class="col-lg-6">
                      <CCol class="mb-1 color-text">Hora desde</CCol>
                      <CCInput
                        :allData="{
                          inputWrapperClasses: 'flex-grow-1',
                          type: 'time',
                        }"
                        v-model="horaDesde"
                        :v_="v$.horaDesde"
                      />
                    </div>
                    <div class="col-lg-6">
                      <CCol class="mb-1 color-text">Hora hasta</CCol>
                      <CCInput
                        :allData="{
                          inputWrapperClasses: 'flex-grow-1',
                          type: 'time',
                        }"
                        v-model="horaHasta"
                        :v_="v$.horaHasta"
                      />
                    </div>
                  </div>
                </CCol>
              </CRow>
            </div>
            <CModalFooter v-if="showFooter" class="justify-content-right">
              <CButton
                class="btn-primario"
                @click="handlerTabs(1)"
                :disabled="
                  mode === 'register' ? btnDisabled(1) : false
                "
              >
                Continuar
              </CButton>
            </CModalFooter>
          </CTabPane>
          <CTabPane class="p-3 preview" :visible="impresora">
            <div class="row">
              <CCol xs="12" lg="4">
                <CCol class="mb-1 color-text">Cantidad de columna</CCol>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  :v_="v$.cColumna"
                  :options="cColumnaOptions"
                  v-model="cColumna"
                  activateTouched
                  hideSeleccione
                  :execute="
                    () => {
                      v$.cColumna.$touch()
                    }
                  "
                />
              </CCol>
              <CCol xs="12" lg="4">
                <CCol class="mb-1 color-text">Tipo de impresora</CCol>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  :v_="v$.impresoraValue"
                  :options="impresoraOptions"
                  v-model="impresoraValue"
                  activateTouched
                  hideSeleccione
                  :execute="
                    () => {
                      v$.impresoraValue.$touch()
                    }
                  "
                />
              </CCol>
            </div>
            <CModalFooter v-if="showFooter" class="justify-content-right">
              <CButton
                class="btn-primario"
                @click="handlerTabs(2)"
                :disabled="
                  mode === 'register' ? btnDisabled(2) : false
                "
              >
                Continuar
              </CButton>
            </CModalFooter>
          </CTabPane>
          <CTabPane class="p-3 preview" :visible="menu">
            <div class="table-responsive">
              <div class="tableContainer">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="mb-1 color-text maximo">Asociar</th>
                      <th class="mb-1 color-text">Opciones del menú</th>
                    </tr>
                  </thead>
                  <tbody class="last-row-tr">
                    <template v-for="(data, index) in dataMenu" :key="index">
                      <tr>
                        <td class="mb-1 maximo cpl" v-bind:class="data.nivel ? ('cpl-'+data.nivel) : ''">
                          <CCol xs="12" lg="12" class="mt-1">

                            <input
                              class="check-figura d-block"
                              type="checkbox"
                              :id="'menu-' + index"
                              :value="menuArray[index]"
                              v-model="menuArray[index]"
                              @change="cambiarEstatus(data)"
                              :checked="data.estatusMenu === '1'"
                              :disabled="data.idMenuPadre === 'MA=='"
                            />
                          </CCol>
                        </td>
                        <td class="mb-1 cpl" v-bind:class="data.nivel ? ('cpl-'+data.nivel) : ''">
                          <CCol xs="12" lg="12">
                            {{ data.descripcionMenu }}
                          </CCol>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
            <CModalFooter v-if="showFooter" class="justify-content-center">
              <CButton
                ref="acceptbtn"
                class="btn-primario"
                @click="actionTaquillaSistAdmin"
                :disabled="btnValGuardar() || valBtn"
              >
                {{
                  mode === 'edit'
                    ? 'Modificar'
                    : mode === 'view'
                    ? modifying
                      ? 'Guardar Cambios'
                      : 'Modificar'
                    : 'Guardar'
                }}
              </CButton>
              <CButton
                ref="cancelbtn"
                class="btn-primario"
                @click="shouldClose"
              >
                Cancelar
              </CButton>
            </CModalFooter>
          </CTabPane>
        </CTabContent>
      </div>
    </CModalBody>
  </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals'
import useVuelidate from '@vuelidate/core'
import taquillasistRegisterVals from '@/_validations/taquillasistRegisterVals'
import CCInput from '@/components/custom/CCInput.vue'
import { fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { menuFinal } from '@/_nav'

// METHODS
function btnDisabled(val) {
  if(val === 1){
    if (this.login === '' || this.clave === '' || (this.horaDesde === undefined || this.horaDesde === '') || (this.horaHasta === undefined || this.horaHasta === '')) return true
    else return false
  }else if(val === 2){
    if ((this.impresoraValue === undefined || this.impresoraValue === 'MDA=') || (this.cColumna === '' || this.cColumna === 'MDA=')) return true
    else return false
  }
}

function clearInputs() {
  this.fetching = false
  ;[
    'clave',
    'identificador',
    'fetching',
    'cColumna',
    'login',
    'impresoraValue',
    'horaDesde',
    'horaHasta',
    'reqIdentificador',
  ].forEach((ths, i) => (this[ths] = i > 1 ? '' : false))
  this.v$.$reset()
  this.menuArray = []
}

function handlerTabs(val) {
  if (val == 0) {
    this.usuario = true
    this.impresora = false
    this.menu = false
  } else if (val == 1) {
    this.usuario = false
    this.impresora = true
    this.menu = false
  } else {
    this.menu = true
    this.usuario = false
    this.impresora = false
  }
}

function handlerCheck(val,num) {
    if(num === 1 && val === true){
        this.fireToastMsg('Se recomienda que por seguridad esta configuración este activa, ya que el usuario podrá ingresar en cualquier computadora.', { icon: 'warning' });
    }
}

async function fetchEstatus() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral + 'ListarEstatusTaquilla',
    self,
    success: (rjson) => {
      self.estatusOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
    },
    error: (rjson) => {
      console.error('jsonResponse', rjson)
    },
  })
}

async function fetchColumnaImpresora() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral + 'ListarCantidadColumnaImpresora',
    self,
    success: (rjson) => {
      self.cColumnaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.cColumnaOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.cColumnaOptions,
      ]
    },
    error: (rjson) => {
      console.error('jsonResponse', rjson)
    },
  })
}

async function fetchSotware() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarSoftwareTaquilla/${this.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.softwareOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
    },
    error: (rjson) => {
      console.error(rjson)
    },
  })
}

async function fetchTipoImpresora() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarTipoImpresora/${this.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.impresoraOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.impresoraOptions = [
        { label: 'SELECCIONE', value: 'MDA=' },
        ...self.impresoraOptions,
      ]
    },
    error: (rjson) => {
      console.error(rjson)
    },
  })
}

function format24hrs(horaDesde) {
  let [hora, minutos] = horaDesde.split(':')
  let esPM = horaDesde.includes('PM')

  if (esPM && hora !== '12') {
    hora = String(Number(hora) + 12)
  } else if (!esPM && hora === '12') {
    hora = '00'
  }

  let hora24 = `${hora}:${minutos}`

  // Eliminar AM o PM de la salida
  hora24 = hora24.replace(/\s?[AP]M$/, '')

  return hora24
}

async function fetchOpcionesMenu() {
  const self = this

  fetchRequest({
    api: `${self.$apiAdministrativo}ConsultarOpcionesMenu/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      const theDataMenu = rjson.datos.map((val) => {
        return {
          codigoMenu: val.codigoMenu,
          descripcionMenu: val.descripcionMenu,
          estatusMenu: val.estatusMenu,
          idMenuPadre: val.idMenuPadre,
        }
      });
      self.dataMenu = menuFinal(theDataMenu);
    },
    error: (rjson) => {
      console.error(rjson)
    },
  })
}

function cambiarEstatus(data) {
  // Buscar otros elementos con el mismo codigoMenu
    const elementosMismoCodigo = this.dataMenu.filter((elemento) => elemento.codigoMenu === data.codigoMenu);

   if (data.estatusMenu === '1') {
      data.estatusMenu = '0';
    } else {
      // Actualizar el estatusMenu a 1 en los elementos encontrados
      elementosMismoCodigo.forEach((elemento) => {
        elemento.estatusMenu = '1';
      });
    }
}

function fillInputs(data) {
  this.login = data.login
  this.identificador = data.identificador
  this.cColumna = data.cColumna ? data.cColumna.toString() : ''
  this.impresoraValue = data.impresoraValue
  this.taquilla = data.taquilla
  this.estatus = data.estatus;
  this.horaHasta = data.horaHasta;
  this.horaDesde = data.horaDesde;
  this.reqIdentificador = data.reqIdentificador == 'MQ==' ? true : false;
  if (this.mode === 'edit') this.dataMenu = menuFinal(data.listaMenu);
  this.v$.$reset()
}

function actionTaquillaSistAdmin() {
  const self = this;
  self.valBtn = true
  const theDataMenu = this.dataMenu.map(dtaM => {
    if ('nivel' in dtaM) delete dtaM.nivel;
    return dtaM;
  });
  const data = {
    codigoTaquilla:
      this.mode === 'edit' ? window.btoa(this.taquilla) : this.taquilla,
    login: window.btoa(this.login),
    clave: this.mode === 'edit' ? '' : window.btoa(this.clave),
    identificador:
      this.mode === 'register'
        ? window.btoa('00000000000000000000')
        : this.reqIdentificador === true
        ? window.btoa(this.identificador)
        : '',
    software: this.software,
    cantidadColumna: this.cColumna,
    estatusTaquilla: window.btoa(this.estatus),
    tipoImpresora: this.impresoraValue,
    tipoOperacion: this.mode === 'edit' ? '1' : '0',
    tokenUsuario: this.auth_tokenUsuario,
    codigoPuntoVenta: this.betCenter.value,
    tipoUsuario: 'MjA=',
    horaDesde: format24hrs(this.horaDesde),
    horaHasta: format24hrs(this.horaHasta),
    reqIdentificador:
      this.mode === 'register'
        ? window.btoa('1')
        : this.reqIdentificador === true
        ? window.btoa('1')
        : window.btoa('0'),
    listaMenu: theDataMenu,
  }
  const edit_ = () => {
    self.fetching = true
    self.edit(data /* , isDetail */)
  }

  if (this.mode === 'edit') {
    edit_()
    this.dataMenu = []
    this.usuario = true
    this.impresora = false
    this.menu = false
    this.shouldClose()
    return
  }
  if (this.mode === 'view') {
    const modVal = Boolean(this.modifying)
    this.modifying = !this.modifying
    if (modVal) edit_(/* true */)
    return
  }
  // register
  this.fetching = true
  this.dataMenu = []
  this.save(data)
  this.usuario = true
  this.impresora = false
  this.menu = false
  this.shouldClose()
}

function shouldDisabled(model) {
  return (
    model !== 'status' ||
    (this.mode === 'view' && !this.modifying) ||
    this.fetching
  )
}

function shouldClose() {
  this.usuario = true
  this.impresora = false
  this.menu = false
  this.dataMenu = []
  this.clearInputs()
  if (this.fetching) return
  this.close()
  this.valBtn = false;
}

// COMPUTED
function btnValGuardar() {
  const auxCol = this.cColumna === '' ? 'MDA=' : this.cColumna
  const auxImpresora =
    this.impresoraValue === undefined ? 'MDA=' : this.impresoraValue

  if (auxCol === 'MDA=' || auxImpresora === 'MDA=') return true
  else return false
}

// WATCH
function visibleW(val) {
  if (!val) this.clearInputs()
  else if (this.data) this.fillInputs(this.data)
  if (this.mode === 'register') {
    this.estatus = '1'
    this.taquilla = window.btoa('00')
    this.reqIdentificador = false
    this.fetchOpcionesMenu()
  }
  this.fetchEstatus()
  this.fetchSotware()
  this.fetchColumnaImpresora()
  this.fetchTipoImpresora()
}

// MOUNTED
function mounted() {

}
export default {
  components: { CCInput },
  name: 'ModalTaquillaSistAdmin',
  mixins: [globalMixin],
  data() {
    return {
      login: '',
      clave: '',
      identificador: '',
      estatus: '1',
      taquilla: window.btoa('00'),
      software: 'MDE=',
      modifying: false,
      fetching: false,
      cColumna: 'MDA=',
      usuario: true,
      impresora: false,
      impresoraValue: 'MDA=',
      estatusOptions: [],
      impresoraOptions: [],
      cColumnaOptions: [],
      softwareOptions: [],
      tipoUsuario: 'MjA=',
      // tipoUsuarioOptions: [
      //     { label: 'Taquilla', value: '20' },
      //     { label: 'Centro de Apuesta', value: '21' },
      // ],
      horaDesde: '',
      horaHasta: '',
      reqIdentificador: false,
      menu: false,
      dataMenu: [],
      menuArray: [],
      valBtn: false
    }
  },
  props: {
    visible: Boolean,
    close: Function,
    save: Function,
    edit: Function,
    formData: {
      type: Array,
      default: () => [],
    },
    mode: {
      type: String,
      default: 'register',
    },
    data: Object,
    showFooter: {
      type: Boolean,
      default: true,
    },
    betCenter: String,
  },
  setup() {
    const authStore = useAuth()
    const { auth_tokenUsuario } = storeToRefs(authStore)
    return {
      v$: useVuelidate(),
      auth_tokenUsuario,
    }
  },
  methods: {
    clearInputs,
    fillInputs,
    actionTaquillaSistAdmin,
    shouldDisabled,
    shouldClose,
    fetchEstatus,
    handlerTabs,
    fetchSotware,
    fetchColumnaImpresora,
    fetchTipoImpresora,
    handlerCheck,
    btnDisabled,
    btnValGuardar,
    format24hrs,
    fetchOpcionesMenu,
    cambiarEstatus,
  },
  mounted,
  computed: {},
  validations() {
    return taquillasistRegisterVals(this.visible)
  },
  watch: {
    visible: visibleW,
  },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
a {
  color: gray !important;
}
.nav-link {
  color: gray !important;
}
.border-blue {
  border: 4px solid #dae8fd;
  border-radius: 10px;
  padding: 0.75rem 0.5rem 0.5rem;
}
.color-text {
  color: #1c4c96;
}
</style>