<template>
    <CModal size="xl" alignment="center" backdrop="static" :visible="visible" @close="close">
        <CModalHeader>
            <CModalTitle>{{ mode === 'edit' ? 'Modificar condición de negociación ' : mode === 'view' ? 'Detalle condición de negociación' : 'Registrar condición de negociación' }}</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CCFormStructureWrapper :formData="esquemaData">
                <!-- <template #formOut="formObj">
                    <CCInput :allData="formObj" v-model="v$[formObj.model].$model" :v_="v$[formObj.model]"
                        :col="formObj.col" :disabled="formObj.disabled || shouldDisabled(formObj.unless)"
                        :options="getOptions(formObj.options)" :hasUnless="formObj.unless" :execute="resetSpecific"
                        :disabledLighted="!showFooter" :keyPress="formObj.kpress" hideSeleccione/>
                </template> -->
                <template #outFreeCode="colFreeCode">
                    <CRow class="mt-3">
                        <CCol xs="12" lg="12">
                            <CFormLabel>Descripción</CFormLabel>
                                <CCInput
                                :allData="{
                                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                                    errorMessageClasses: 'wrong-input',
                                }"
                                :v_="v$.description"
                                v-model="description"
                                hideSeleccione
                                :disabled="mode === 'view' ? true : false"
                                />
                                <div class="row" v-if="description.length > 0 && this.v$.description.maxlength.$invalid"><span style="color: red;">{{ this.v$.description.maxlength.$message }}</span></div>
                                <div class="row" v-if="description.length > 0 && this.v$.description.cNumberLetterSpecialNegociacion.$invalid"><span style="color: red;">{{ this.v$.description.cNumberLetterSpecialNegociacion.$message }}</span></div>
                        </CCol>
                        <CCol xs="12" lg="12" v-if="auth_tipoUsuario === 24">
                            <CFormLabel>Comprador</CFormLabel>
                                <CCInput
                                :allData="{
                                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                                    errorMessageClasses: 'wrong-input',
                                    type: 'vSelect',
                                    multiple: true
                                }"
                                :v_="v$.cc"
                                :options="ccOptions"
                                v-model="cc"
                                hideSeleccione
                                :disabled="mode === 'view' || entidad === 'Mg==' ? true : false"
                                placeholder="SELECCIONE"
                                />
                        </CCol>
                        <CCol xs="12" lg="3">
                            <CFormLabel>Entidad a la que aplica</CFormLabel>
                                <CCInput
                                :allData="{
                                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                                    errorMessageClasses: 'wrong-input',
                                    type: 'select',
                                }"
                                :v_="v$.entidad"
                                :options="entidadOptions"
                                v-model="entidad"
                                hideSeleccione
                                :disabled="mode === 'view' ? true : false"
                                />
                        </CCol>
                        <CCol xs="12" lg="3">
                            <CFormLabel>Forma de premiación</CFormLabel>
                                <CCInput
                                :allData="{
                                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                                    errorMessageClasses: 'wrong-input',
                                    type: 'select',
                                }"
                                :v_="v$.formaDePremiacion"
                                :options="formaDePremiacionOptions"
                                v-model="formaDePremiacion"
                                hideSeleccione
                                :disabled="mode === 'view' ? true : false"
                                />
                        </CCol>
                        <CCol xs="12" lg="3">
                            <CFormLabel>Frecuencia</CFormLabel>
                                <CCInput
                                :allData="{
                                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                                    errorMessageClasses: 'wrong-input',
                                    type: 'select',
                                }"
                                :v_="v$.utilityFreq"
                                :options="frecuenciaOptions"
                                v-model="utilityFreq"
                                hideSeleccione
                                :disabled="mode === 'view' ? true : false"
                                @change="changeUtilityFreq(utilityFreq)"
                                />
                        </CCol>
                        <CCol xs="12" lg="3">
                            <CFormLabel>Tipo de jugada</CFormLabel>
                                <CCInput
                                :allData="{
                                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                                    errorMessageClasses: 'wrong-input',
                                    type: 'select',
                                }"
                                :v_="v$.tipoJugada"
                                :options="tipoJugadaOptions"
                                v-model="tipoJugada"
                                hideSeleccione
                                :disabled="mode === 'view' ? true : false"
                                />
                        </CCol>
                    </CRow>
                    <div v-bind:class="colFreeCode.class || ''" v-if="mode === 'edit'">
                        <CFormLabel for="aim-radios" class="me-3">Estatus:</CFormLabel>
                        <div id="aim-radios">
                            <CFormCheck v-for="aim of estatusOptions" :key="aim" inline class="text-capitalize" type="radio"
                                name="status" :id="'status' + aim" autocomplete="off" :label="aim.descripcion"
                                :value="aim.codigo" :checked="status === aim.codigo"
                                @change="handlerFormPago(aim.codigo, 1)" />
                        </div>
                    </div>
                    <CCol xs="12" lg="12" class="mt-3">
                        <CCol class="mb-1 color-text">Porcentajes</CCol>
                        <div class="border-blue row">
                            <CCol xs="12" lg="4">
                                <CFormLabel>Utilidad</CFormLabel>
                                    <CCInput
                                    :allData="{
                                        rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                                        errorMessageClasses: 'wrong-input',
                                        type:'text'
                                    }"
                                    :v_="v$.utility"
                                    v-model="utility"
                                    :disabled="this.participation > 0 ? true : camposDisabled()"
                                    
                                    />
                            </CCol>
                            <CCol xs="12" lg="4">
                                <CFormLabel>Participación</CFormLabel>
                                    <CCInput
                                    :allData="{
                                        rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                                        errorMessageClasses: 'wrong-input',
                                        type:'text'
                                    }"
                                    :v_="v$.participation"
                                    v-model="participation"
                                    :disabled="this.utility > 0 ? true : camposDisabled()"
                                    />
                            </CCol>
                            <CCol xs="12" lg="4">
                                <CFormLabel>Venta</CFormLabel>
                                    <CCInput
                                    :allData="{
                                        rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                                        errorMessageClasses: 'wrong-input',
                                        type:'text'
                                    }"
                                    :v_="v$.sales"
                                    v-model="sales"
                                    :disabled="mode === 'view' ? true : false"
                                    />
                            </CCol>
                            <div class="row" v-if="this.v$.utility.cNumeric.$invalid"><span style="color: red;">{{ this.v$.utility.cNumeric.$message }}</span></div>
                            <div class="row" v-else-if="this.v$.utility.maxlength.$invalid"><span style="color: red;">{{ this.v$.utility.maxlength.$message }}</span></div>

                            <div class="row" v-else-if="this.v$.participation.cNumeric.$invalid"><span style="color: red;">{{ this.v$.utility.cNumeric.$message }}</span></div>
                            <div class="row" v-else-if="this.v$.participation.maxlength.$invalid"><span style="color: red;">{{ this.v$.utility.maxlength.$message }}</span></div>

                            <div class="row" v-else-if="this.v$.sales.cNumeric.$invalid"><span style="color: red;">{{ this.v$.sales.cNumeric.$message }}</span></div>
                            <div class="row" v-else-if="this.v$.sales.maxlength.$invalid"><span style="color: red;">{{ this.v$.sales.maxlength.$message }}</span></div>
                        </div>           
                    </CCol>
                </template>
                <template>
                    <!-- <CCInput :allData="inCol" v-model="v$[inCol.model].$model" :v_="v$[inCol.model]" :col="inCol.col"
                        :disabled="inCol.disabled || shouldDisabled(inCol.unless)" :options="inCol.options"
                        :hasUnless="inCol.unless" :execute="resetSpecific" :disabledLighted="!showFooter"
                        :keyPress="inCol.kpress" /> -->
                </template>
            </CCFormStructureWrapper>
            

        </CModalBody>
        <CModalFooter v-if="showFooter" class="justify-content-center">
            <CButton v-if="this.auth_tipoUsuario != '23' && mode != 'view'" ref="acceptbtn" class="btn-primario" @click="actionEsquemaN" :disabled="btnDisabled() || valBtn">
                {{ mode === 'edit' ? 'Modificar' : 'Guardar' }}
            </CButton>
            <CButton ref="cancelbtn" class="btn-primario" @click="close">
                Cancelar
            </CButton>
        </CModalFooter>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import useVuelidate from '@vuelidate/core';
import registerVals from '@/_validations/esquemaRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import { fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth';
import { storeToRefs } from 'pinia';

// METHODS
function clearInputs() {
    ['status', 'modifying', 'description', 'entidad', 'cc',
        'utility', 'participation', 'sales', 'utilityFreq', 'entidad']
        .forEach((ths, i) => this[ths] = i > 1 ? '' : false);
    this.v$.$reset();
}

function camposDisabled(){
    if(this.utilityFreq === '' || this.utilityFreq === 'MDA=' || this.mode === 'view') return true
    else return false
}

function btnDisabled() {
    if(this.mode != 'view' && this.auth_tipoUsuario === 24 && (this.utilityFreq === 'MDA=' || this.utilityFreq === '')){
        if( (this.description === '' || this.v$.description.maxlength.$invalid || this.v$.description.cNumberLetterSpecialNegociacion.$invalid) || 
        (this.entidad === 'MDA=' || this.entidad === undefined) ||
        (this.formaDePremiacion === 'MDA=' || this.formaDePremiacion === undefined) ||
        (this.tipoJugada === 'MDA=' || this.tipoJugada === undefined) ||
        (this.sales === '' || this.sales === undefined || this.v$.sales.cNumeric.$invalid || this.v$.sales.maxlength.$invalid) || (this.entidad != "Mg==" ? this.cc.length === 0 : this.cc.length === '')
        ) return true     
        else return false
    }
    else if(this.mode != 'view' && this.auth_tipoUsuario === 24 && this.utilityFreq != 'MDA='){
        if( (this.description === '' || this.v$.description.maxlength.$invalid || this.v$.description.cNumberLetterSpecialNegociacion.$invalid ) || 
                (this.entidad === 'MDA=' || this.entidad === undefined) ||
                (this.formaDePremiacion === 'MDA=' || this.formaDePremiacion === undefined) ||
                (this.tipoJugada === 'MDA=' || this.tipoJugada === undefined) ||
                (this.sales === '' || this.sales === undefined || this.v$.sales.cNumeric.$invalid || this.v$.sales.maxlength.$invalid) || (this.entidad != "Mg==" ? this.cc.length === 0 : this.cc.length === '') ||
                (this.utility === '' || this.participation === '') || (this.utility === 0 && this.participation === 0) ||
                (this.v$.utility.cNumeric.$invalid || this.v$.utility.maxlength.$invalid) || (this.v$.participation.cNumeric.$invalid || this.v$.participation.maxlength.$invalid)
                ) return true
        else return false
    }
    else if(this.mode != 'view' && this.auth_tipoUsuario === 22 && (this.utilityFreq === 'MDA=' || this.utilityFreq === '')){
        if( (this.description === '' || this.v$.description.maxlength.$invalid || this.v$.description.cNumberLetterSpecialNegociacion.$invalid ) || 
        (this.entidad === 'MDA=' || this.entidad === undefined) ||
        (this.formaDePremiacion === 'MDA=' || this.formaDePremiacion === undefined) ||
        (this.tipoJugada === 'MDA=' || this.tipoJugada === undefined) ||
        (this.sales === '' || this.sales === undefined || this.v$.sales.cNumeric.$invalid || this.v$.sales.maxlength.$invalid)) return true       
    else return false
    }
    else if(this.mode != 'view' && this.auth_tipoUsuario === 22 && this.utilityFreq != 'MDA='){
        if( (this.description === '' || this.v$.description.maxlength.$invalid || this.v$.description.cNumberLetterSpecialNegociacion.$invalid) || 
        (this.entidad === 'MDA=' || this.entidad === undefined) ||
        (this.formaDePremiacion === 'MDA=' || this.formaDePremiacion === undefined) ||
        (this.tipoJugada === 'MDA=' || this.tipoJugada === undefined) ||
        (this.sales === '' || this.sales === undefined || this.v$.sales.cNumeric.$invalid || this.v$.sales.maxlength.$invalid) || (this.utility === '' || this.participation === '') || (this.utility === 0 && this.participation === 0)
        || (this.v$.utility.cNumeric.$invalid || this.v$.utility.maxlength.$invalid) || (this.v$.participation.cNumeric.$invalid || this.v$.participation.maxlength.$invalid)) return true       
        else return false
    }
}

function resetSpecific(/* model */) {
    //const self = this;
    /* [model, (model + 'Freq')].forEach(mdl => {
        self[mdl] = '';
        self.v$[mdl].$reset();
        self.v$[mdl].$touch();
    }); */
    // console.log('model', model)
}

function handlerFormPago(val, num) {
    if (num === 1) {
        this.estatusR = val
    }
}

async function fillInputs(data) {
    this.codigoCondicion = data.codigoCondicion;
    this.description = data.descripcionCon;
    this.tipoJugada = data.tipoJugada;
    this.utility = data.utility;
    this.participation = data.porcParticipacion;
    this.sales = data.porcVenta;
    //this.participationFreq = data.participationFreq;
    this.status = data.codigoEstCon;
    this.estatusOptions = data.estatusOptions;
    this.formaDePremiacion = data.formaDePremiacion;

    this.estatusR = this.status;

    const auxFrecuenciaOptions = data.frecuenciaOptions;
    this.frecuenciaOptions = auxFrecuenciaOptions.map(item => {
        if(item.label === "TODAS"){
            return {
                label: "SELECCIONE",
                value: "MDA="
            }
        }
        return item;
    });

    const auxPremiacionOptions = data.formaDePremiacionOptions;
    this.formaDePremiacionOptions = auxPremiacionOptions.map(item => {
        if(item.label === "TODAS"){
            return {
                label: "SELECCIONE",
                value: "MDA="
            }
        }
        return item;
    });

    const auxTipoJugadaOptions = data.tipoJugadaOptions;
    this.tipoJugadaOptions = auxTipoJugadaOptions.map(item => {
        if(item.label === "TODAS"){
            return {
                label: "SELECCIONE",
                value: "MDA="
            }
        }
        return item;
    });

    this.entidadOptions = data.entidadOptions;
    this.utilityFreq = data.utilityFreq;
    this.entidad = data.codigoAplica;
    if (this.mode === 'register') this.ccOptions = data.ccOptions;
    if (this.mode === 'edit' || this.mode === 'view') {
        this.fetchCC(data.codigoCondicion);
    }
    this.v$.$reset();
}

async function fetchCC(cod) {
    const self = this;
    fetchRequest({
        api: `${this.$apiAdministrativo}ConsultarCompradrorCondicion/${this.auth_tokenUsuario}/${cod}`,
        self,
        success: (rjson) => {
            self.ccOptions = rjson.datos.map((val) => {
                return {
                    value: val.codComprador,
                    label: val.nomComprador,
                    status: val.estCompradorCon
                };
            });
            this.cc = self.ccOptions.filter(aux => aux.status != '0');
        },
        error: (rjson) => {
            console.error('rjson modal', rjson);
        },
    });
}

function searchInEsquemaData(model, attr, value, txt = 'label') {
    if (this.esquemaData.length) {
        const val = this.esquemaData.find(formItem => formItem.model === model);
        if (val) {
            const requested = val[attr].find(item => item.value === value);
            if (requested) return requested[txt];
        }
        return null;
    }
}

function actionEsquemaN() {
    const self = this;
    self.valBtn = true;
    const edit_ = (isDetail = false) => {
        const dirtyOnes = Object.keys(this.v$).reduce((vals, val) => [...vals, ...(!val.startsWith('$') && this.v$[val].$dirty ? [val] : [])], []);
        const data = {
            ...(self.data || {}),
            ...['entidad', 'description', 'status', 'sales'/* ,'operation' */].reduce((attrs, attr) =>
                ({ ...attrs, ...(dirtyOnes.includes(attr) ? { [attr]: self[attr] } : {}) }), {}),
            ...[['utility', 'participation'], ['participation', 'utility'], ['utilityFreq', 'participation'], ['utility']].reduce((attrs, attr) =>
                ({ ...attrs, ...(dirtyOnes.includes(attr[0]) ? { [attr[0]]: !self.validatr(attr[1]) ? self[attr[0]] : null } : {}) }), {}),
        };
        self.edit(data, isDetail);
    };

    if (this.mode === 'edit' || this.mode === 'register') {
        let listComprador = []
        if(this.cc){
                listComprador = this.cc.map((val) => {
                return val.value
            });
        }
        
        let idOpcion = this.mode === 'register' ? '0' : '1'
        
        let auxUtilidad = '';
        let auxParticipacin = '';

        if(this.utility > '0' || this.utility > 0) {
            auxUtilidad = this.utility
            auxParticipacin = '0'
        }else if(this.participation > '0' || this.participation > 0){
            auxParticipacin = this.participation
            auxUtilidad = '0'
        }else if(this.utilityFreq === 'MDA=' || this.utilityFreq === '' || this.utilityFreq === undefined){
            auxUtilidad = '0'
            auxParticipacin = '0'
        }else if(this.utilityFreq != 'MDA=' && (this.utility === '0' || this.utility === 0) && (this.participation === '0' || this.participation === 0)){
            auxUtilidad = '0'
            auxParticipacin = '0'
        }

        let auxFrecuencia = ''
        if(this.utilityFreq === '' || this.utilityFreq === 'MDA=' || this.utilityFreq === undefined){
            auxFrecuencia = 'MA=='
        }else{
            auxFrecuencia = this.utilityFreq
        }

        const data = {
            desCondicion: this.description,
            estatusCondicion: window.btoa(this.estatusR),
            entidadAplica: this.entidad,
            frecPago: auxFrecuencia /* !this.validatr('participation') ? this.utilityFreq : null */,
            porcVenta: this.sales === '' ? '0' : this.sales,
            porcUtilidad: auxUtilidad,
            porcParticipacion: auxParticipacin,
            lisCompradorC: listComprador,
            idOpcion: idOpcion,
            codigoCondicion: this.codigoCondicion,
            formPremiacion:this.formaDePremiacion,
            tipoJugada:this.tipoJugada
        };
        this.save(data);
        this.estatusR = this.mode === 'register' ? '1' : this.estatusR;
    }
    if (this.mode === 'view') {
        const modVal = Boolean(this.modifying);
        this.modifying = !this.modifying;
        if (modVal) edit_(true);
        return;
    }

}

function validatr(model) {
    //return this[model] || (this[model + 'Freq'] && this[model + 'Freq'] !== 'seleccione');
    return this[model];
}

function shouldDisabled(unless) {
    const extraVals = Boolean(unless && this.validatr(unless));
    return extraVals || (this.mode === 'view' && !this.modifying)
}

// COMPUTED
function isMValid() {
    const extraVals = this.mode === 'edit' || (this.mode === 'view' && this.modifying) ? this.v$.$anyDirty : true;
    return extraVals && !this.v$.$invalid
}

// WATCH
function visibleW(val) {
    if (!val) this.clearInputs();
    else if (this.data) this.fillInputs(this.data);
    this.valBtn = false;
}

function changeUtilityFreq(val){
    if(val == 'MDA='){
        this.utility = ''
        this.participation = ''
    }
}

export default {
    components: { CCInput, CCFormStructureWrapper },
    name: 'ModalEsquemaNegociacion',
    mixins: [globalMixin],
    data() {
        return {
            codigoCondicion: '',
            tipoJugada:'',
            description: '',
            entidad: '',
            // operation: '',
            utility: '0',
            participation: '0',
            sales: '0',
            utilityFreq: '',
            status: '00',
            // 
            modifying: false,
            formaDePremiacion: '',
            estatusOptions: [],
            formPagoOptions: [],
            frecuenciaOptions: [],
            formaDePremiacionOptions: [],
            tipoJugadaOptions:[],
            ccOptions: [],
            cc: '',
            estatusR:'1',
            valBtn: false
        }
    },
    props: {
        visible: Boolean,
        close: Function,
        save: Function,
        edit: Function,
        esquemaData: {
            type: Array,
            default: () => [],
        },
        mode: {
            type: String,
            default: 'register',
        },
        data: Object,
        showFooter: {
            type: Boolean,
            default: true,
        },
    },
    setup() {
        const authStore = useAuth()
        const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)
        return {
            v$: useVuelidate(),
            auth_tokenUsuario,
            auth_tipoUsuario
        }
    },
    methods: {
        clearInputs,
        resetSpecific,
        fillInputs,
        actionEsquemaN,
        searchInEsquemaData,
        validatr,
        shouldDisabled,
        handlerFormPago,
        fetchCC,
        btnDisabled,
        camposDisabled,
        changeUtilityFreq,
        checkNegativeValue(e) {
        if (e.target.value < 0 || e.target.value > 99 || e.target.value % 1 !== 0 || e.target.value === '') {
                e.target.value = 0;
            }
        }
    },
    computed: {
        isMValid,
    },
    validations() {
        return registerVals();
    },
    watch: {
        visible: visibleW,
        participation: function(val){
            if(val > '0') this.utility = '0'
        },
        utility: function(val){
            if(val > '0') this.participation = '0'
        },
        entidad: function(val){
            if(val == "Mg==") this.cc = ''
        },
    },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;

:deep(.select-multiple) {
    .vs__selected-options {
        max-height: 10rem !important;
    }
}
.border-blue {
  border: 4px solid #dae8fd;
  border-radius: 10px;
  padding: 0.75rem 0.5rem 0.5rem;
//   text-align: center;
}
.color-text {
  color: #1c4c96;
}
</style>