<template>
  <CModal 
        size="lg"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="shouldClose"
    >
        <CModalHeader>
            <CModalTitle>Detalle de ticket</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CRow>
              <CCol class="" xs="12" lg="6">Fecha: {{this.fecha + ' ' + this.horaFinal}}</CCol>
              <CCol class="" xs="12" lg="6">Serial: {{this.serial}}</CCol>
            </CRow>
            <CRow>
              <CCol class="mt-3" xs="12" lg="12">
                <CCTable
                  :ref="tRef"
                  v-model="currentPage"
                  :tableData="tableData"
                  :inTableData="inTableData"
                  :setTableState="setTableState"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :loading="tableDataLoading"
                  maxHeight="22rem"
                  doNotEmit
                  hideActions
                  :monedaStatic="simboloConcat"
                  :truncateNum="2"
                />
                <div class="row">
                  <div class="col-lg-3">
                    <span class="color-text">Monto total apuesta:</span> 
                  </div>
                  <div class="col-lg-3">
                    <span class="color-text">{{simboloConcat}}<span v-numberComma:dot="{truncate: 2, val: acumMontoApuesta}">{{acumMontoApuesta}}</span></span>
                  </div>
                </div>
              </CCol>
            </CRow>
        </CModalBody>
    </CModal>
</template>

<script>
import CCTable from '@/components/custom/CCTable.vue';
import tableGenerals from '@/_mixins/tableGenerals';
import globals from '@/_mixins/globals';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { numberComma } from '@/directives/number';

function shouldClose () {
    this.close();
    this.acumMontoApuesta = 0;
}

function setup() {
  const optionsColWidthRem = 5
  const forTabla = [
      [{ name: 'Nombre del Sorteo', attr: 'nombreSorteo'}],
      [{ name: 'Modalidad', attr: 'modalidad'}],
      [{ name: 'Apuesta', attr: 'simbolo'}],
      [{ name: 'Monto de Apuesta', attr: 'montoApuesta', dir: 'dot' }],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(1),
    inTableData,
    optionsColWidthRem,
  }
}

function formatearNumero(numero) {
  // Convertir el número a una cadena.
  const numeroStr = numero.toString();

  // Invertir la cadena.
  const numeroStrInvertido = numeroStr.split('').reverse().join('');

  // Añadir un punto cada tres dígitos.
  let numeroStrFormateado = numeroStrInvertido.match(/\d{1,3}/g).join('.');

  // Invertir la cadena de nuevo.
  numeroStrFormateado = numeroStrFormateado.split('').reverse().join('');

  // Devolver el número formateado.
  return numeroStrFormateado;
}

async function fillInputs (data) {
    this.tableData = data.laTabla
    this.fecha = data.fechaAnulado,
    this.serial = data.serialAnulado

    const hora = data.fechaAux.getHours();
    const minutos = data.fechaAux.getMinutes();

    // Convertir las horas a formato de 12 horas
    let horas12 = hora % 12 || 12; // Si es 0, se convierte a 12
    const ampm = hora < 12 ? 'AM' : 'PM';

     // Crear la cadena de hora en formato normal
    this.horaFinal = `${horas12}:${minutos} ${ampm}`;

    if(this.tableData?.length) {
      this.simboloConcat = this.tableData[0].simboloMoneda;
        this.tableData.forEach((item) => {
        this.acumMontoApuesta += item.montoUniq;
      });
      // this.acumMontoApuesta = this.formatearNumero(this.acumMontoApuesta)
    }
}

function visibleW (val) {
  if(val) this.fillInputs(this.data);
}

export default {
    name: 'ModalDetalleAnulado',
		setup,
		components: { CCTable },
		mixins: [tableGenerals,globals],
		methods: {
      fillInputs,
			shouldClose,
      formatearNumero
		},
		props: {
      visible: Boolean,
      close: Function,
      data: Object,
    },
		mounted() {
			this.tRef = 'tablaDetalleAnulado';
  },
  data() {
    return {
      nombreSorteo: '',
      modalidad: '',
      simbolo: '',
      montoApuesta: '',
      fecha:'',
      hora:'',
      serial: '',
      acumMontoApuesta: 0,
      simboloConcat:''
    }
  },
  watch: {
    visible: visibleW,
  },
  directives: {
    numberComma,
  },
}
</script>

<style>

</style>