<template>
  <div class="out-logged-page bg-light min-vh-100 d-flex flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center align-items-center flex-column">
        <img src="@/assets/images/Logo-MA.png" alt="logo" class="mb-4 width-custom">
        <CCol :md="8" :lg="6" :xl="4">
          <!-- <CCardGroup> -->
            <CCard class="p-4">
              <CCardBody>
                <CForm class="d-flex flex-wrap justify-content-between align-items-baseline">
                  <h1 class="fw-bold mx-auto">INICIO DE SESIÓN</h1>
                 <!--  <p class="text-medium-emphasis w-100">¿Ya tienes cuenta?</p> -->
                  <CCInput  
                    :allData="{ label: 'Usuario', rowClasses: 'mb-3 flex-grow-1 w-100', labelClasses: 'pt-0', errorMessageClasses: 'wrong-input', type: 'text' }"
                    v-model="user" 
                    :v_="v$.user" 
                    col activateTouched
                    :execute="($event) => {touchInput('user', $event)}"
                    :disabled="loading"
                    keyPress
                  />
                  <CCInput  
                    :allData="{ label: 'Contraseña', rowClasses: 'mb-3 flex-grow-1 w-100', labelClasses: 'pt-0', errorMessageClasses: 'wrong-input', type: 'group', icon:'cicEye' }"
                    v-model="password" 
                    :v_="v$.password" 
                    col activateTouched
                    :execute="($event) => {touchInput('password', $event)}"
                    :disabled="loading"
                    keyPress
                  >
                  
                  </CCInput>

                  <CRow class="flex-grow-1">
                    <CCol :xs="12" :md="6">
                      <CButton class="btn-primario px-3 adapt-all-md" @click="iniciarSesion($event)" :disabled="!isValid">
                        <CCLoader v-if="loading" inline />
                        Iniciar sesión
                      </CButton>
                    </CCol>
                    <CCol :xs="12" :md="6" class="text-right">
                      <CButton color="link" class="px-0 color-primario-oscuro" @click="olvidoContrasenna()">
                        ¿Olvidó su contraseña?
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
            <!-- <CCard class="text-white bg-primario py-5 wf-44">
              <CCardBody class="text-center">
                <div class="h-100 d-flex flex-column">
                  <h2 class="mt-auto">No tienes una cuenta</h2>
                  <CButton color="light" variant="outline" class="mt-3 mb-auto mx-auto" @click="olvidoContrasenna($event)">
                    Regístrate ahora!
                  </CButton>
                </div>
              </CCardBody>
            </CCard> -->
          <!-- </CCardGroup> -->
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import globals from '@/_mixins/globals';
import identificadorControls from '@/_mixins/identificadorControls';
import authVals from '@/_validations/authVals';
import useVuelidate from '@vuelidate/core';
import CCInput from '@/components/custom/CCInput.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { useGeneral } from '@/store/general';
import { resCodes } from "@/_helpers/general";
import { LABELS as labels } from '@/_helpers/labels';
import { useMessages } from '@/store/messages';

async function inicioSistema (alertOnError = true) {
  this.authClearAll();
  // const api = this.$apiPrueba;
  const api = this.$apiGeneral+'IniciarSesion'; 
  const self = this;
  fetchRequest({ 
      api,
      mock: 'gralIniciarSesion',
      method: 'POST',
      self,
      notAuthSist: true,
      body: {
        A1: "MXFUV1htSEhRTExiUVBYUw==", // clave publica
        A2: "TWpIZWsxSlpHcFdXOWFzS2dISUozS1pJUk9hMmxPRnk=", // clave privada
        A3: "bG9jYWxob3N0OjUxMzI2" // url aplicacion
      },
      success: (rjson) => {
        const rdatos = rjson;
        self.authSetLocalCustom({
          tokenSistema: rdatos.datos.token,
          tiempoSistema: `${(new Date().getTime()) + (rdatos.datos.caducidad * 1000)}`,
          fechaSistema: rdatos.datos.fecha,
        });
      }, 
      error: (rjson) => {
        self.authClearAll();
        return caseWrong({ self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg), boolError: true, notAlert: !alertOnError });
      },
  });
}

async function iniciarSesion (e = null, timex = 0) {
  if (e) e.preventDefault();
  const self = this;
  this.loading = true;
  // const menuStatic = require('@/assets/jsons-prueba/menu.json');
  if (!this.identificadorCode) await this.identificador();
  this.cleanMessages();
  await this.awaiter(100);
  fetchRequest({ 
      api: this.$apiUsuario+'IniciarSesion', 
      mock: 'userIniciarSesion',
      applyMock: false,
      method: 'POST',
      self,
      isLogIn: true,
      appCode: true,
      body: {
        login: window.btoa(this.user),//"R08xMTEzNQ==", // GO11135
        clave: window.btoa(this.password),//"YWJjZDEyMw==" // abcd123
        identificador: this.identifierOrDefault
      },
      success: (rjson) => {
        const rdatos = rjson.datos;
        self.setGralValLocal(['dateOfTimeOut', new Date().getTime() + (rdatos.datosUsuario.tiempoSesion * 1000)]);
        const tipUsu = +rdatos.datosUsuario.tipoUsuario;
        const buzon = +(rdatos.datosUsuario.estatusBuzon || 2); // 2 para ocultar el label de mensaje buzon
        const showBuzon = buzon != 2;
        self.authSetLocalCustom({
          nombrePuntoVenta: rjson.mock ? rdatos.datosUsuario.nombrePuntoVenta : window.atob(rdatos.datosUsuario.nombre),
          tiempoSesion: rdatos.datosUsuario.tiempoSesion, // (multiplicar por 1000)
          tiempoAlerta: rdatos.datosUsuario.tiempoModal,
          menu: rjson.mock ? rdatos.listaMenu.map(mnuItm => ({ ...mnuItm, /* desMenu: window.btoa(mnuItm.desMenu),  */codMenu: window.btoa(mnuItm.codMenu), codPadre: window.btoa(mnuItm.codPadre), icoMenu: window.btoa(mnuItm.icoMenu), urlMenu: window.btoa(mnuItm.urlMenu) })) : /* [... */rdatos.listaMenu/* , ...menuStatic] */, // TEMPORAL
          tokenUsuario: rdatos.datosUsuario.tokenUsuario,
          // 20 taquilla
          // 21 Usuario Admin Centro de apuesta
          // 22 CC
          // 23 Grupo
          // 24 Banca
          tipoUsuario: tipUsu === 21 ? 0 : tipUsu,
          taquilla: rjson.mock ? rdatos.datosUsuario.codigoTaquilla : window.atob(rdatos.datosUsuario.codigoTaquilla),
          usuarioLogueado: true,
          login: window.btoa(self.user),
          columnaTicket: rdatos.datosUsuario.columnaTicket,
          showBuzon,
        });
        if (showBuzon) self.setMessageNumber(rdatos.datosUsuario.estatusBuzon, rdatos.datosUsuario.msjBuzon);
        self.$router.push({ path: tipUsu === 20 ? "/loteria" : "/dashboard" });
        // self.loading = false;
      }, 
      error: async (rjson) => {
        let notAlert = false;
        if (timex < 4 && (resCodes(rjson).includes('053') || resCodes(rjson).includes('500'))){
          notAlert = true;
          self.alreadyAsked = false;
          await self.sharedProcesses(false);
          self.iniciarSesion(null, timex + 1);
          return;
        }
        if (resCodes(rjson).includes('060') || resCodes(rjson).includes('061')){
          this.$router.push({ name: 'cambiarClave' });
          self.authSetLocalCustom({ 
            login:this.user
          });
        }
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg), loading: 'loading',
            defaultMsg: labels.defaultErrorMsg, notAlert
        });
      },
  });
}

function olvidoContrasenna () {
   this.$router.push({ name: 'recuperarClave' });
}

async function sharedProcesses (alertOnError = true) {
  const getSystem = /* this.auth_tiempoSistema ? ((new Date().getTime()) >= +this.auth_tiempoSistema) :  */true;
  if (!this.alreadyAsked && (getSystem || !this.auth_tokenSistema)) {
    this.alreadyAsked = true;
    await this.inicioSistema(alertOnError);
  }
}

async function touchInput (name, e = null) {
  this.v$[name].$touch(); 
  await this.sharedProcesses();
  if (e && typeof e === 'string' && e === 'keypress' && this.isValid) this.iniciarSesion();
}

// COMPUTED
function isValid () {
  return !this.loading && this.v$.$anyDirty && !this.v$.$invalid
}

// DATA
function data() {
  return {
    loading: false,
    user: '',
    password: '',
    alreadyAsked: false,
  }
}

// SETUP
function setup() {
  const authStore = useAuth()
  const { auth_tokenSistema, auth_tiempoSistema } = storeToRefs(authStore)
  const { setGralValLocal } = useGeneral()
  const { authSetLocalCustom, authClearAll } = authStore
  const messageStore = useMessages()
  const { setMessageNumber, cleanMessages } = messageStore

  return {
    v$: useVuelidate(),
    auth_tokenSistema,
    auth_tiempoSistema,
    authSetLocalCustom,
    authClearAll,
    setGralValLocal,
    setMessageNumber,
    cleanMessages,
  }
}

export default {
  name: 'login',
  mixins: [ globals, identificadorControls ],
  components: { CCInput, CCLoader },
  data,
  setup,
  methods: {
    inicioSistema,
    iniciarSesion,
    olvidoContrasenna,
    sharedProcesses,
    touchInput,
    // togglePasswordVisibility(e) {
    //   console.log('envent',e)
    //   this.password.type = this.password.type === 'password' ? 'text' : 'password';
    // }
  },
  computed: {
    isValid,
  },
  validations () {
    return authVals;
  },
  mounted() {
    // this.inicioSistema();
    this.sharedProcesses();
  },
  unmounted() {
    this.loading = false;
  }
}
</script>

<style lang="scss" scoped>
@include outLoggedAppearance;
.color-primario-oscuro {
  color: $dark-gray !important;
}
</style>