<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader>
          <h5>Gestionar centro de apuesta</h5>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <div class="col-md-12 row">
              <CCol xs="12" lg="4" v-if="this.auth_tipoUsuario === 24">
                <CCol class="mb-1 color-text">Comprador comercial</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'vSelect',
                    multiple: false
                  }"
                  v-model="comprador"
                  :v_="v$.comprador"
                  :options="compradorOptions"
                  :execute="
                    () => {
                      v$.comprador.$touch()
                    }
                  "
                  hideSeleccione
                />
              </CCol>
              <CCol xs="12" lg="4">
                <CCol class="mb-1 color-text">RIF/Centro de apuesta</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'vSelect',
                    multiple: false
                  }"
                  v-model="puntoVenta"
                  :v_="v$.puntoVenta"
                  activateTouched
                  :execute="
                    () => {
                      v$.puntoVenta.$touch()
                    }
                  "
                  :options="puntoVentasOptions"
                  hideSeleccione
                  :disabled="
                    comprador === 'MDAwMDAw' && this.auth_tipoUsuario === 24
                      ? true
                      : false
                  "
                />
              </CCol>
              <CCol xs="12" lg="4">
                <CCol class="mb-1 color-text">Estatus</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="estatus"
                  :v_="v$.estatus"
                  activateTouched
                  :execute="
                    () => {
                      v$.estatus.$touch()
                    }
                  "
                  :options="estatusOptions"
                  hideSeleccione
                />
              </CCol>
            </div>
            <div class="mt-3 col-md-12">
              <CModalFooter class="col-lg-12 col-12 mt-3 justify-content-center mt-3 mb-3">
                <CButton class="btn-primario mx-2" @click="ListarCentroApuesta()">Buscar</CButton>
                <CButton @click="viewCentro(null, 'register')" class="btn-primario mx-2">Agregar</CButton>
              </CModalFooter>
            </div>
          </CRow>
          <CCol class="col-md-12 mt-5">
            <CRow>
              <CCTable
                :ref="tRef"
                v-model="currentPage"
                :tableData="tableData"
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :editFromTable="viewCentro"
                :loading="tableDataLoading"
                maxHeight="20rem"
                doNotEmit
                :showView="false"
                :showDelete="false"
                :pageSize="8"
              />
            </CRow>
          </CCol>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalCentroApuesta
    ref="modalcentroDecorator"
    :visible="centroModalVisible"
    :data="centroModalDta"
    :close="closeModal"
    :edit="editCentro"
    :mode="centroMode"
    :formData="listadoCentro"
    :actualizarCentro="ListarCentroApuesta"
    :actualizarPtoVenta="fetchListarPuntoVenta"
    :actualizarComprador="actualizarComprador"
  />
</template>

<script>
import CCInput from '@/components/custom/CCInput.vue'
import CCTable from '@/components/custom/CCTable.vue'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import useVuelidate from '@vuelidate/core'
import centroApuesta from '@/_validations/centroApuesta/centroApuesta'
import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import tableGenerals from '@/_mixins/tableGenerals'
import globals from '@/_mixins/globals'
import modalGenerals from '@/_mixins/modalGenerals'
import ModalCentroApuesta from './modalCentroApuesta.vue'
import { modalSetupData } from '@/composables/modalDataStruct'
import { LABELS as labels } from '@/_helpers/labels'

//*******************************************************LISTAR COMPRADOR COMERCIAL****************************************************
async function fetchComprador() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarCompradorComercial/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      self.compradorOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.compradorOptions = [
        { label: 'TODOS', value: 'MDAwMDAw' },
        ...self.compradorOptions,
      ]
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
  })
}
//*******************************************************LISTAR PUNTO DE VENTA****************************************************
async function fetchListarPuntoVenta(ptoVenta) {
  const self = this

  let auxPtoVenta = window.atob(ptoVenta)
  auxPtoVenta = auxPtoVenta + '%'
  auxPtoVenta = window.btoa(auxPtoVenta)
  
  fetchRequest({
    api: `${this.$apiGeneral}ListarPuntoVenta/${self.auth_tokenUsuario}/${auxPtoVenta}`,
    self,
    success: (rjson) => {
      self.puntoVentasOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.puntoVentasOptions = [
        { label: 'TODOS', value: 'MDAwMDAw' },
        ...self.puntoVentasOptions,
      ]
    },
    error: (rjson) => {
      console.error(rjson)
      this.puntoVenta = { label: 'TODOS', value: 'MDAwMDAw' };
      this.puntoVentasOptions = [];
      this.tableData= [];
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los puntos de ventas', true),
      })
    },
  })
}
//*******************************************************LISTAR ESTATUS****************************************************
async function fetchListarEstatus() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral+'ListarEstatusGral/MA==',
    self,
    success: (rjson) => {
      self.estatusOptions = rjson.datos.map((val) => {
        return {
          label: val.descripcion,
          value: val.codigo,
        }
      })
      self.estatusOptions = [
        { label: 'TODOS', value: 'JQ==' },
        ...self.estatusOptions,
      ]
    },
    error: (rjson) => {
      console.error('jsonResponse', rjson)
    },
  })
}
//*******************************************************BUSCAR CENTRO DE APUESTA****************************************************
async function ListarCentroApuesta() {
  const self = this
  const auxPuntoVenta = self.puntoVenta.value;

  const auxComprador = self.comprador != 'MDAwMDAw' ? self.comprador.value : self.comprador

  fetchRequest({
    api: `${this.$apiAdministrativo}ConsultarCentroApuesta/${self.auth_tokenUsuario}/${auxComprador}/${auxPuntoVenta}/${self.estatus}`,
    // api: `${this.$apiAdministrativo}ConsultarCentroApuesta/328EAB63A71045D8837ADDC121C13C08/MDAwMDAw/MDAwMDAw/MQ==`,
    self,
    success: (rjson) => {
      self.tableData = rjson.datos.map((val) => {
        return {
          centro: val.nombreCA,
          rif: val.rif,
          estatus: val.estatusCA,

          codComprador: val.codComprador,
          codEstatusCA: val.codEstatusCA,
          codigoCA: val.codigoCA,
          latitudCA: val.latitudCA,
          longitudCA: val.longitudCA,
          montoImpMunicipal: val.montoImpMunicipal,
          correoCA: val.correoCA,
          direccionCA: val.direccionCA,
          montoLimite: val.montoLimite,
          nombreImpresion: val.nombreImpresion,
          nombreResponsable: val.nombreResponsable,
          telefonoCA: window.atob(val.telefonoCA).replace(/[-()]/g, ""),
        }
      })
    },
    error: (rjson) => {
      console.error(rjson)
      self.tableData = []
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los centros de apuesta', true),
      })
    },
  })
}

// async function viewCentro(data, mode) {
//   if ( this.comprador != 'MDAwMDAw' && this.auth_tipoUsuario === 24 && mode === undefined ) {
//     console.log("1")
//     this.actionFromTable(
//       {
//         // para abrir modal
//         auxComprador: this.comprador,
//         auxPunto: data ? data.codigoCA : '',
//         allData: data,
//       },
//       mode,
//     )
//   } else if (this.comprador != 'MDAwMDAw' && this.auth_tipoUsuario === 24 && mode === 'edit' ) {
//     console.log("2")
//     this.actionFromTable(
//       {
//         // para abrir modal
//         auxComprador: this.comprador,
//         auxPunto: data ? data.codigoCA : '',
//         allData: data,
//       },
//       mode,
//     )
//   } else if(this.comprador == 'MDAwMDAw' && this.auth_tipoUsuario === 24 && mode === 'edit') {
//     console.log("3")
//     this.actionFromTable(
//       {
//         // para abrir modal
//         auxComprador: data ? data.codComprador : '',
//         auxPunto: data ? data.codigoCA : '',
//         allData: data,
//       },
//       mode,
//     )
//   } else if (this.comprador == 'MDAwMDAw' && this.auth_tipoUsuario === 22 && mode === undefined) {
//     console.log("4")
//     this.actionFromTable(
//       {
//         // para abrir modal
//         auxComprador: this.comprador,
//         auxPunto: data ? data.codigoCA : '',
//         allData: data,
//       },
//       mode,
//     )
//   } else if (this.comprador == 'MDAwMDAw' && this.auth_tipoUsuario === 22 && mode === 'edit') {
//     console.log("5")
//     this.actionFromTable(
//       {
//         // para abrir modal
//         auxComprador: data ? data.codComprador : '',
//         auxPunto: data ? data.codigoCA : '',
//         allData: data,
//       },
//       mode,
//     )
//   } 
//   else {
//     const msg = 'Debe seleccionar un comprador comercial.'
//     this.fireToastMsg(msg, { icon: 'info' })
//   }
// }

async function viewCentro(data, mode) {
  if((this.auth_tipoUsuario === 24 || this.auth_tipoUsuario === 22) && mode === 'edit'){
    this.actionFromTable(
      {
        // para abrir modal
        auxComprador: data ? data.codComprador : '',
        auxPunto: data ? data.codigoCA : '',
        allData: data,
      },
      mode,
    )
  }else if ((this.auth_tipoUsuario === 24 || this.auth_tipoUsuario === 22) && mode === 'register' ) {
    this.actionFromTable(
      {
        // para abrir modal
        auxComprador: this.comprador,
        auxPunto: data ? data.codigoCA : '',
        allData: data,
      },
      mode,
    )
  }
}

function actualizarComprador(){
  this.comprador = { label: 'TODOS', value: 'MDAwMDAw' };
}

function setup() {
  const authStore = useAuth()
  const { auth_tipoUsuario, auth_tokenUsuario } = storeToRefs(authStore)

  const optionsColWidthRem = 5
  const forTabla = [
    [{ name: 'Centro de Apuesta', attr: 'centro' }],
    [{ name: 'RIF', attr: 'rif' }],
    [{ name: 'Correo', attr: 'correoCA' }],
    [{ name: 'Teléfono', attr: 'telefonoCA' }],
    [{ name: 'Estatus', attr: 'estatus' }],
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(
            tableCol[1],
            forTabla.length,
            optionsColWidthRem,
          )
        : {}),
    })),
  )

  return {
    ...setupData(1),
    ...modalSetupData('centro'),
    v$: useVuelidate(),
    auth_tipoUsuario,
    auth_tokenUsuario,
    inTableData,
    optionsColWidthRem,
  }
}

function data() {
  return {
    comprador: 'MDAwMDAw',
    compradorOptions: [],
    puntoVenta: 'MDAwMDAw',
    puntoVentasOptions: [],
    estatus: 'JQ==',
    estatusOptions: [],
    tableData: [],
  }
}

export default {
  data,
  setup,
  components: { CCInput, CCTable, ModalCentroApuesta },
  mixins: [tableGenerals, globals, modalGenerals],
  methods: {
    fetchComprador,
    fetchListarPuntoVenta,
    fetchListarEstatus,
    ListarCentroApuesta,
    viewCentro,
    actualizarComprador
  },
  validations() {
    return centroApuesta(this.auth_tipoUsuario)
  },
  mounted() {
    this.tRef = 'centroApuesta'
    this.puntoVenta = { label: 'TODOS', value: 'MDAwMDAw' };
    this.comprador = { label: 'TODOS', value: 'MDAwMDAw' };
    if (this.auth_tipoUsuario === 24) this.fetchComprador()
    if (this.auth_tipoUsuario === 22) this.fetchListarPuntoVenta('MDAwMDAw')
    this.fetchListarEstatus()
  },
  watch: {
    comprador: function (val) {
      if(val === 'MDAwMDAw') { 
        this.puntoVenta = { label: 'TODOS', value: 'MDAwMDAw' };
        this.estatus = 'JQ=='
      }else{
        this.fetchListarPuntoVenta(val.value)
        this.puntoVenta = { label: 'TODOS', value: 'MDAwMDAw' };
        this.estatus = 'JQ=='
      }
      
    },
  },
}
</script>

<style>
</style>