// Variable overrides
$soft-gray: #dae8fd;
$softer-gray: #f9f9f9;
$softie-gray: #ebedef;
$soft-gray-t: rgba(218, 232, 253, 0);
$soft-gray-f: rgba(218, 232, 253, 1);
$hyper-blue: rgba(73, 136, 233, 0.25);
$soft-middle-gray: #4279ce;
$soft-middle-gray-t: rgba(66, 121, 206, 0.25);
$middle-gray: #2155a5;
$middle-gray-t: rgba(33, 85, 165, 0.25);
$dark-gray: #1c4c96;
$dark-gray-tr: rgba(28, 76, 150, 0.25);
$dark-gray-tr-solid: #c6d2e5;
$dark-gray-t: #e1e7f0;
$grave-red: #bd5151;
$grave-red-t: rgba(189, 81, 81, 0.25);
$cancel-gray: #cacaca;
$cancel-gray-t: rgba(143, 142, 142, 0.25);
$gray-border-table: #bdcfea;
$deep-gray: #606060;
$disabled-gray: #d8dbe0;
$disabled-border: #b1b7c1;
$dash-color: #ccd5d1;
$black-blue: #0a2654;
$azul-claro: #0079c0;
$azul-clarito: #90b9f9;
$yellow-box: #fffb9b;
$gris-grid: #ebebeb;

$input-height: 38px;

$responsive: (
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
  xxxl: 2000
);

// fcui --> from core ui
$sidebar-width-fcui: 16rem;
$sidebar-transition-fcui: top .15s, margin-left .15s, margin-right .15s, box-shadow .075s, transform .15s, width .15s, z-index 0s ease .15s;
$headerHeight: 65px;
// FOR FORM-RANGE
$form-range-thumb-width: 1.5rem !default;
$form-range-track-bg: transparent !important;
$form-range-thumb-bg: $dark-gray !default;
$form-range-thumb-active-bg: $dark-gray-tr-solid !default;
$form-range-thumb-box-shadow: 0 .43rem 1.08rem $dark-gray-tr !default;
$form-range-thumb-focus-box-shadow: 0 0 0 1px #fff, 0 0 0 0.27rem $dark-gray-tr !default;

:root {
  --vs-controls-size: 0.8 !important;
}

// FUNCTIONS
@function iffer($condition, $if-value, $else-value) {
  @if $condition {
      @return $if-value;
  } @else {
      @return $else-value;
  }
}

@function sizer($map, $size) {
  $is-size: map-has-key($map, $size);
  $size-transformated: iffer($is-size, map-get($map, $size), $size);
  @return $size-transformated;
}

// MIXINS
@mixin mediaquery($size, $dir: 'min', $orientation: '', $other-size: 'sm', $custom: 0, $other-custom: 0) {
  $with-orientation: iffer($orientation == 'landscape' or $orientation == 'portrait', ' and (orientation: #{$orientation})', '');
  $limitter: iffer($dir == 'min', $dir, 'max');
  $size-transformed: sizer($responsive, $size);
  $size-final: iffer($custom > 0, $custom, $size-transformed);
  $current-size: iffer($dir == 'min', $size-final, ($size-final - 1));
  $other-size-transformed: sizer($responsive, $other-size) - 1;
  $other-size-final: iffer($other-custom > $size-final, $other-custom - 1, $other-size-transformed);
  $with-other-size: iffer($other-size == 'sm' and $other-custom == 0, '', ' and (max-width: #{$other-size-final}px)');

  @media screen#{$with-orientation}#{$with-other-size} and (#{$limitter}-width: #{$current-size}px) {
    @content;
  }
}

@mixin sqrDist ($args...) {
    @for $i from 2 through length($args) {
        #{nth($args, $i)}: #{nth($args, 1)};
    }
}

@mixin borderGray ($npx: 3px, $property: 'border', $color: $soft-gray) {
    #{$property}: $npx solid $color;
}

@mixin gridDist ($area: null, $col: null, $grid: false) {
    @if $grid {
        display: grid;
    }
    @if $area {
        grid-area: #{$area};
    }
    @if $col {
        grid-template-columns: #{$col};
    }
}
@mixin customBtnConstrTr ($color-tr, $color: #000) {
  color: $color !important;
  font-weight: 600;
  background: transparent !important;
  border: 1px solid $color !important;

  &:focus {
    background: $color !important;
    color: #fff !important;
    @include sqrDist(0 0 0 0.18rem $color-tr !important, -o-box-shadow, -moz-box-shadow, -webkit-box-shadow, box-shadow);
  }
}

@mixin customBtnConstr ($color-tr, $color, $color-text: null, $with-bg: true) {
  @if $color-text {
    &:not(.label-btn-primario) {
      color: $color-text !important;
    }
    &.label-btn-primario label.btn {
      color: $color !important;
    }
  }
  @else {
    color: #000 !important;
  }
  
  @if $with-bg {
    font-weight: 600;
  }

  &:not(.label-btn-primario) {
    @if $with-bg {
      background: $color !important;
    }
  }

  &:not(.label-btn-primario):focus, &.label-btn-primario .btn-check:focus + label.btn {
    @include sqrDist(0 0 0 0.18rem $color-tr !important, -o-box-shadow, -moz-box-shadow, -webkit-box-shadow, box-shadow);
  }

  &.label-btn-primario {
    label.btn {
      border: 1px solid $color !important;
      background: transparent !important;

      @include mediaquery(md, 'max') {
        display: block !important;
        
        &:last-child {
          margin-top: 1rem;
          margin-bottom: 2rem;
        }
      }
    }

    .btn-check:checked + label.btn {
      background: $color !important;
      color: $color-text !important;
    }
  }
}

@mixin switchNM {
  .form-check.form-switch {
    padding-left: 0 !important;

    :deep(input) {
        margin-left: 0 !important;
        float: unset !important;

        @content;
    }
  }
}

@mixin deepSectionContainer {
  :deep(.section-container) {
    position: relative;
    @include borderGray(4px);
    border-radius: 10px;
    padding: 0.75rem 0.5rem 0.5rem;
    height: 100%;

    &.border-rt0 {
      @include mediaquery(md) {
        border-top-right-radius: 0;
      }
    }
  
    h6.reference {
      position: absolute;
      top: -0.8rem;
      background: #fff;
      padding-inline: 0.5rem;
      width: max-content;
      // z-index: 2;
    }

    .glosario-grid {
      grid-template-columns: repeat(2, calc(50% - 0.5rem));
      grid-column-gap: 1rem;

      button {
        cursor: default !important;
      }
    }

    @content;
  }
}
 
@mixin outLoggedAppearance {
  .out-logged-page {
    background-image: url('@/assets/images/fondo-login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    .width-custom {
      width: 15rem;
  
      @include mediaquery(md) {
        width: 17rem;
      }
      @include mediaquery(xxl) {
        width: 19rem;
      }
      @include mediaquery(xxxl) {
        width: 21rem;
      }
    }

    @content;
  }
}