<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Resultados de los sorteos</h5></CCardHeader>
        <CCardBody>
          <CRow class="d-flex justify-content-center">
            <CRow class="mb-3 d-flex justify-content-center">
              <DateFilter
                :siTurno="true"
                :siFechaDesde="true"
                :siFechaHasta="false"
                :siSorteo="true"
                :siTaquilla="false"
                :siSwitch="false"
                :siConsultar="true"
                :siImprimir="true"
              />
            </CRow>

            <CRow >
              <CCol class="mt-3" xs="12" lg="12">
                <CCTable
                  :tableData="tableData"
                  :inTableData="inTableData"
                  :ref="tRef"
                  v-model="currentPage"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :unselectFromTable="eraseFromTable"
                  :loading="tableDataLoading"
                  maxHeight="10rem"
                  doNotEmit
                  :showEdit="false"
                  :showView="false"
                  :checkCol="false"
                  :setTableState="setTableState"
                  :hideActions="true"
                />
              </CCol>

              <CCol class="d-flex justify-content-center mt-3" xs="12" lg="12">
                <CButton  @click="showItems = true" class="mx-4 btn-primario">
                  Aceptar
                </CButton>
                <CButton
                  @click="showItems = false"
                  xs="12"
                  class="mx-md-4 btn-primario"
                >
                  Cancelar
                </CButton>
              </CCol>
            </CRow>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import DateFilter from '@/components/date-filter.vue'
import { loadToggler } from '@/composables/loadToggler'
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc'
import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'
function setup() {
  loadToggler()
  
  const optionsColWidthRem = null
  const forTabla = [
      [{ name: 'Nombre del sorteo', attr: 'nombre' }, 25],
      [{ name: 'Apuesta', attr: 'apuesta' }, 25],
      [{ name: 'Signo', attr: 'signo' }, 25],
      [{ name: 'Monto', attr: 'monto' }, 25],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(2),
    inTableData,
  }
}
// function search_register(value) {
//   console.log('value', value)
// }
function data() {
  const date = new Date()
  return {
    triplebs: '',
    terminales: '',
    select_taquilla: '',
    showItems: false,
    radioType: 'sorteo',
    terminal: '',
    serialInterno: '',
    serial: '',
    horaActual: date.toLocaleTimeString(),
    dateActual:
      String(date.getDate()).padStart(2, '0') +
      '/' +
      String(date.getMonth() + 1).padStart(2, '0') +
      '/' +
      date.getFullYear(),
  }
}
export default {
  data,
  setup,
  components: { CCTable, DateFilter },
  mixins: [tableGenerals],
  methods() {
    // search_register
  },
  mounted() {
    this.tRef = 'resultado'
    this.tableData = [
      {
        nombre: 'Chance "A" 1',
        apuesta: '506',
        signo: 'Geminis',
        monto: 6,
      },
      {
        nombre: 'Tripe Caliente "C" 1',
        apuesta: '596',
        signo: 'Aries',
        monto: 5,
      },
      {
        nombre: 'Zodiacal Caracas',
        apuesta: '926',
        signo: 'Tauro',
        monto: 4,
      },
    ]
  },
}
</script>
