<template>
    <CModal
      size="lg"
      alignment="center"
      backdrop="static"
      :visible="visible"
      @close="close"
    >
      <CModalHeader>
        <CModalTitle>Detalle del Registro de Abono</CModalTitle>
      </CModalHeader>
      <CContainer class="d-flex flex">
      <CModalBody>
        <div class="row">
          <CCol xs="12" lg="3">
            <CFormLabel for="serial">Nombre</CFormLabel>
            <CCol>
              <CFormInput
                maxlength="25"
                v-model="localFormData.name"
                type="text"
                disabled
                class="mb-3"
              />
            </CCol>
          </CCol>
          <CCol xs="12" lg="3">
            <CFormLabel for="monto-apuesta">Banco</CFormLabel>
            <CCol>
              <CFormInput
                maxlength="25"
                v-model="localFormData.fechaRegistro"
                type="text"
                disabled
                class="mb-3"
              />
            </CCol>
          </CCol>
          <CCol xs="12" lg="3">
            <CFormLabel for="monto-premio">Tipo de Abono</CFormLabel>
            <CCol>
              <CFormInput
                maxlength="25"
                v-model="localFormData.tipoAbono"
                type="text"
                disabled
                class="mb-3"
              />
            </CCol>
          </CCol>
          <CCol xs="12" lg="3">
            <CFormLabel for="monto-premio">Referencia</CFormLabel>
            <CCol>
              <CFormInput
                maxlength="25"
                v-model="localFormData.nroReferencia"
                type="text"
                disabled
                class="mb-3"
              />
            </CCol>
          </CCol>
          <CCol xs="12" lg="3">
            <CFormLabel for="monto-premio">Cuenta Destino</CFormLabel>
            <CCol>
              <CFormInput
                maxlength="25"
                v-model="localFormData.ctaDestino"
                type="text"
                disabled
                class="mb-3"
              />
            </CCol>
          </CCol>
          <CCol xs="12" lg="3">
            <CFormLabel for="monto-premio">Fecha Deposito</CFormLabel>
            <CCol>
              <CFormInput
                maxlength="25"
                v-model="localFormData.fechaDeposito"
                type="text"
                disabled
                class="mb-3"
              />
            </CCol>
          </CCol>
          <CCol xs="12" lg="3">
            <CFormLabel for="monto-premio">Monto</CFormLabel>
            <CCol>
              <CFormInput
                maxlength="25"
                v-model="localFormData.monto"
                type="text"
                disabled
                class="mb-3"
              />
            </CCol>
          </CCol>
        </div>
      </CModalBody>
      </CContainer>
      <CModalFooter v-if="showFooter" class="justify-content-center">
        <CButton ref="cancelbtn" class="btn-primario" @click="close">
          Cerrar
        </CButton>
      </CModalFooter>
    </CModal>
  </template>
  
  <script>
  import globalMixin from '@/_mixins/globals'
  export default {
    name: 'ModalTaquillaSistAdmin',
    mixins: [globalMixin],
    data() {
      return {
        
      }
    },
    props: {
      visible: Boolean,
      close: Function,
      formData: {
        type: Object,
        default: () => {},
      },
      data: Object,
      showFooter: {
        type: Boolean,
        default: true,
      },
    },
    
    computed: {
      localFormData() {
        return this.formData
      },
    },
  }
  </script>
  
  <style lang="scss" scoped>
  @include deepSectionContainer;
  </style>
  