<template>
  <CModal
    size="xl"
    alignment="center"
    backdrop="static"
    :visible="visible"
    @close="shouldClose"
  >
    <CModalHeader>
      <CModalTitle>{{
        this.mode === 'edit' ? 'Modificar comprador' : 'Agregar comprador'
      }}</CModalTitle>
    </CModalHeader>
    <CModalBody class="modal-content">
      <CForm class="d-flex flex-wrap justify-content-between align-items-start">
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="10"
            >Nombre comprador comercial *</CCol
          >
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="nombreComprador"
            :v_="v$.nombreComprador"
            activateTouched
            :execute="
              () => {
                v$.nombreComprador.$touch()
              }
            "
            :disabled="this.mode === 'edit' ? true : false"
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5">RIF *</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="rif"
            :v_="v$.rif"
            activateTouched
            @input="rif = $event.target.value.toUpperCase()"
            :execute="
              () => {
                v$.rif.$touch()
              }
            "
            :disabled="this.mode === 'edit' ? true : false"
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5">Número teléfono*</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="numeroTele"
            :v_="v$.numeroTele"
            activateTouched
            :execute="
              () => {
                v$.numeroTele.$touch()
              }
            "
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5"
            >Forma de premiación *</CCol
          >
          <vSelect
            class="select-multiple"
            multiple
            v-model="premiacionVal"
            placeholder="SELECCIONE"
            :options="premiacionOptions"
          >
            <template #no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para <em>{{ search }}</em
                >.
              </template>
              <template v-else> No hay resultados para mostrar. </template>
            </template>
          </vSelect>
        </CCol>

        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5">Dirección</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="direccion"
            :v_="v$.direccion"
            activateTouched
            :execute="
              () => {
                v$.direccion.$touch()
              }
            "
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5"
            >Correo electrónico *</CCol
          >
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="correo"
            :v_="v$.correo"
            activateTouched
            :execute="
              () => {
                v$.correo.$touch()
              }
            "
          />
        </CCol>
        <CCol v-if="this.mode === 'edit'" xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text">Estatus</CCol>
            <CCInput
              :allData="{
                errorMessageClasses: 'wrong-input',
                type: 'select',
              }"
              v-model="estatusComprador"
              :v_="v$.estatusComprador"
              activateTouched
              :execute="
                () => {
                  v$.estatusComprador.$touch()
                }
              "
              :options="estatusOptions"
              hideSeleccione
              :selected="estatusComprador"
            /> 
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5">Cupo de venta*</CCol>
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="cupoVenta"
            :v_="v$.cupoVenta"
            activateTouched
            :execute="
              () => {
                v$.cupoVenta.$touch()
              }
            "
          />
        </CCol>
        <CCol xs="12" lg="5" class="mt-3">
          <CCol class="mb-1 color-text" xs="12" lg="5"
            >Responsable legal *</CCol
          >
          <CCInput
            :allData="{
              errorMessageClasses: 'wrong-input',
              type: 'text',
            }"
            v-model="responsable"
            :v_="v$.responsable"
            activateTouched
            :execute="
              () => {
                v$.responsable.$touch()
              }
            "
            :disabled="this.mode === 'edit'"
          />
        </CCol>
      </CForm>
      <!----------------------------DATOS EN LOS TABS ---------------------------->
      <div class="mt-4" v-if="validarSeccionTabs">
        <CNav variant="tabs">
          <CNavItem>
            <CNavLink
              @click="handlerTabs(0)"
              :active="productos"
              :disabled="this.mode === 'register' ? true : false"
            >
              <CIcon icon="cil-media-play" class="me-2" />
              Productos
            </CNavLink>
          </CNavItem>
          <CNavItem>
            <CNavLink
              @click="handlerTabs(1)"
              :active="negociacion"
              :disabled="this.mode === 'register' ? true : false"
            >
              <CIcon icon="cil-media-play" class="me-2" />
              Condiciones de negociación
            </CNavLink>
          </CNavItem>
          <CNavItem>
            <CNavLink
              @click="handlerTabs(2)"
              :active="limite"
              :disabled="this.mode === 'register' ? true : false"
            >
              <CIcon icon="cil-media-play" class="me-2" />
              Límites por sorteos
            </CNavLink>
          </CNavItem>
        </CNav>
        <CTabContent class="rounded-bottom">
          <CTabPane class="p-3 preview" :visible="productos">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="mb-1 color-text maximo">Asociar</th>
                    <th class="mb-1 color-text">Producto</th>
                  </tr>
                </thead>
              </table>
              <div class="tableContainer">
                <table class="table">
                  <tbody>
                    <template
                      v-for="(prod, index) in productosOptions"
                      :key="index"
                    >
                      <tr>
                        <td class="mb-1 maximo">
                          <CCol xs="12" lg="12" class="mt-1">
                            <input
                              class="check-figura d-block"
                              type="checkbox"
                              :id="'prod-' + index"
                              :value="productoArray[index]"
                              v-model="productoArray[index]"
                              @change="asociarProducto(index)"
                            />
                          </CCol>
                        </td>
                        <td class="mb-1">
                          <CCol xs="12" lg="12">
                            {{ prod.label }}
                          </CCol>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
            <CModalFooter v-if="showFooter" class="justify-content-right">
              <CButton
                class="btn-primario"
                @click="handlerTabs(1)"
                :disabled="mode === 'register' ? btnTabsDisabled(1) : btnDisabledEdit(1)"
              >
                Continuar
              </CButton>
            </CModalFooter>
          </CTabPane>
          <CTabPane class="p-3 preview" :visible="negociacion">
            <div class="table-responsive">
              <CCol xs="12" lg="3" class="me-1">
                <CCol class="mb-1 color-text">Productos</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="productoNegociacion"
                  :v_="v$.productoNegociacion"
                  activateTouched
                  :execute="
                    () => {
                      v$.productoNegociacion.$touch()
                    }
                  "
                  :options="productosNegociacionOptions"
                  hideSeleccione
                  @change="cambioProductosNegociacion($event)"
                />
              </CCol>
              <table class="table">
                <thead>
                  <tr>
                    <th class="mb-1 color-text">Tipo de jugada</th>
                    <th class="mb-1 color-text">Condición de negociación</th>
                  </tr>
                </thead>
                <tbody>
                  <template
                    v-for="(prod, i) of elementosFiltradosNegociacion"
                    :key="prod.value"
                  >
                    <tr>
                      <td class="mb-1" style="vertical-align: middle;">{{ prod.NomJugada }}</td>
                      <td class="mb-1">
                        <CCol
                          xs="12"
                          lg="5"
                          class="mt-3"
                          v-for="aux of auxCondicionOptions"
                          :key="aux.value"
                        >
                          <CCInput
                            :allData="{
                              errorMessageClasses: 'wrong-input',
                              type: 'select',
                            }"
                            v-model="condicion[i]"
                            :v_="v$.condicion"
                            v-if="
                              prod.CodJugada === aux.CodJugada &&
                              prod.codigoCondNeg === aux.codigoCondNeg
                            "
                            :options="aux.ListCondicionesProTipJug"
                            @change="
                              obtenerValorNegociacion(
                                condicion[i],
                                prod.CodigoProducto,
                                aux.CodJugada,
                              )
                            "
                          />
                        </CCol>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
            <CModalFooter v-if="showFooter" class="justify-content-right">
              <CButton class="btn-primario" @click="handlerTabsAtras(2)">
                Atrás
              </CButton>
              <CButton
                class="btn-primario"
                @click="handlerTabs(2)"
                :disabled="mode === 'register' ? btnTabsDisabled(2) : false"
              >
                Continuar
              </CButton>
            </CModalFooter>
          </CTabPane>
          <CTabPane class="p-3 preview" :visible="limite">
            <CRow>
              <div class="row mt-3 mb-3">
                <CCol xs="12" lg="3" class="me-1">
                  <CCol class="mb-1 color-text">Productos</CCol>
                  <CCInput
                    :allData="{
                      errorMessageClasses: 'wrong-input',
                      type: 'select',
                    }"
                    v-model="productoLimite"
                    :v_="v$.productoLimite"
                    activateTouched
                    :execute="
                      () => {
                        v$.productoLimite.$touch()
                      }
                    "
                    :options="productosLimiteOptions"
                    hideSeleccione
                    @change="limpiarTodos()"
                  />
                </CCol>
                <CCol xs="12" lg="3" class="me-1">
                  <CCol class="mb-1 color-text">Monto del cupo</CCol>
                  <CCInput
                    :allData="{
                      errorMessageClasses: 'wrong-input',
                      type: 'text',
                    }"
                    v-model="montoDelCupo"
                    :v_="v$.montoDelCupo"
                    activateTouched
                    :execute="
                      () => {
                        v$.montoDelCupo.$touch()
                      }
                    "
                    :disabled="productoLimite != 'MDA='"
                  />
                </CCol>
                <CCol xs="12" lg="3" class="me-1">
                  <CCol class="mb-1 color-text">Aplicar a todos los productos</CCol>
                  <CFormCheck
                    inline
                    class="text-capitalize"
                    :value="aplicarTodos"
                    v-model="aplicarTodos"
                    @change="handlerFunciones(aplicarTodos, 3)"
                    :disabled="montoDelCupo == '' && productoLimite != 'MDA='"
                  />
                </CCol>
              </div>

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="mb-1 color-text">Producto</th>
                      <th class="mb-1 color-text">Sección</th>
                      <th class="mb-1 color-text">Modalidad</th>
                      <th class="mb-1 color-text">Cupo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <template
                      v-for="prod of elementosFiltradosLimiteSorteo"
                      :key="prod.value"
                    >
                      <tr>
                        <td class="mb-1">{{ prod.nombreProducto }}</td>
                        <td class="mb-1">{{ prod.nombreSeccion }}</td>
                        <td class="mb-1">{{ prod.nombreModalidad }}</td>
                        <td class="mb-1">
                          <CCol xs="12" lg="5">
                            <CCInput
                              :allData="{
                                errorMessageClasses: 'wrong-input',
                                type: 'text',
                              }"
                              v-model="prod.montoCupo"
                              :v_="v$.cupo"
                              @input="checkNegativeValue($event)"
                              @change="cambioAplicaTodos()"
                              :disabled="aplicarTodos === true"
                            />
                          </CCol>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
              <CModalFooter v-if="showFooter" class="justify-content-right">
                <CCLoader v-if="loading" inline />&nbsp;
                <CButton class="btn-primario" @click="handlerTabsAtras(3)">
                  Atrás
                </CButton>
                <CButton
                  class="btn-primario"
                  @click="handlerTabs(3)"
                  :disabled="mode === 'register' ? (btnTabsDisabled(3) || valBtn) : false"
                >
                  {{ this.mode === 'edit' ? 'Modificar' : 'Guardar' }}
                </CButton>
              </CModalFooter>
            </CRow>
          </CTabPane>
        </CTabContent>
      </div>
    </CModalBody>
  </CModal>
</template>
  <script>
import globalMixin from '@/_mixins/globals'
import useVuelidate from '@vuelidate/core'
import modalComprador from '@/_validations/gestionComprador/modalGestionCompradorVal'
import CCInput from '@/components/custom/CCInput.vue'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import CCLoader from '@/components/custom/CCLoader.vue'
import { LABELS as labels } from '@/_helpers/labels'

function limpiarTodos(){
  this.montoDelCupo = '';
  if(this.aplicarTodos === true){
    this.aplicarTodos = false;
    this.valorApliTodos = 'MA=='
  }
}

function cambioAplicaTodos(){
  if(this.aplicarTodos === true){
    this.aplicarTodos = false;
    this.valorApliTodos = 'MA=='
  }
}

// ESTATUS
async function fetchListarEstatus() {
    const self = this
    fetchRequest({
      api: this.$apiGeneral + 'ListarEstatus/MDE=',
      self,
      success: (rjson) => {
        self.estatusOptions = rjson.datos.map((val) => {
          return {
            label: val.descripcion,
            value: window.btoa(val.codigo),
          }
        })
      },
      error: (rjson) => {
        console.error('jsonResponse', rjson)
      },
    })
  }
//***************************CARGAR DATOS PARA TODO EL MODAL *****************************************************
async function fetchCargarDatos(auxComprador) {
  const self = this
  let valComprador = self.mode === 'register' ? 'MDAwMDAw' : auxComprador.value
  self.premiacionOptions = []
  fetchRequest({
    api: `${this.$apiAdministrativo}CargarDatosCompradorComercial/${self.auth_tokenUsuario}/${valComprador}`,
    self,
    success: (rjson) => {
      //--------------------LISTAR PREMIOS-----------------------------
      if (rjson.datos.formaPremiacion) {
        self.premiacionOptions = rjson.datos.formaPremiacion.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
            estatus: val.estatus,
          }
        })

        self.premiacionOptions = [
          ...new Map(
            self.premiacionOptions.map((v) => [JSON.stringify(v), v]),
          ).values(),
        ]

        const opcionPorDefectoPremio = self.premiacionOptions.find(
          (opcion) => opcion.estatus === 'MQ==',
        )

        self.premiacionVal = self.premiacionOptions.filter(
          (v) => v.estatus === 'MQ==',
        )

        self.premiacionOptions = [
          // { label: 'SELECCIONE', value: 'MDA=' },
          ...self.premiacionOptions,
        ]
        if (opcionPorDefectoPremio?.value && self.v$?.premiacion) {
          self.premiacion = opcionPorDefectoPremio.value
          self.v$.premiacion.$model = opcionPorDefectoPremio.value
        }
      }

      //-----------------------PRODUCTOS-------------------------------
      if (rjson.datos.productos) {
        self.productosOptions = rjson.datos.productos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
            estatus: val.estatus,
          }
        })

        self.productosNegociacionOptions = self.productosOptions.filter(
          (v) => v.estatus === 'MQ==',
        )

        self.productosNegociacionOptions = [
          { label: 'SELECCIONE', value: 'MDA=' },
          ...self.productosNegociacionOptions,
        ]

        self.productosOptions.forEach((e) => {
          if (e.estatus === 'MQ==') {
            self.productoArray.push(true)
          } else {
            self.productoArray.push(false)
          }
        })

        self.productosLimiteOptions = rjson.datos.productos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
            estatus: val.estatus,
          }
        })

        self.productosLimiteOptions = self.productosLimiteOptions.filter(
          (v) => v.estatus === 'MQ==',
        )

        self.productosLimiteOptions = [
          { label: 'TODOS', value: 'MDA=' },
          ...self.productosLimiteOptions,
        ]
      }

      if (rjson.datos.productoCondicionTipJug) {
        self.productoCondicionTipJug = rjson.datos.productoCondicionTipJug
      }
      //LIMITE SORTEO
      self.limitesSorteoOptions = rjson.datos.limitesSorteo.map((val) => {
        return {
          codigoModalidad: val.codigoModalidad,
          codigoProducto: val.codigoProducto,
          codigoSeccion: val.codigoSeccion,
          estatus: val.estatus,
          montoCupo: val.montoCupo == -1 ? '': val.montoCupo ,
          nombreModalidad: val.nombreModalidad,
          nombreProducto: val.nombreProducto,
          nombreSeccion: val.nombreSeccion,
        }
      })
      // Recorre el arreglo limitesSorteoOptions
      self.limitesSorteoOptions.forEach((item) => {
        // Verifica si el estatus es MQ==
        if (item.estatus === 'MQ==') {
          self.productoLimite =
            self.mode === 'edit' ? item.codigoProducto : 'MQ=='
        }
      })

      //PRODUCTOS
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsgPlus('cargar los turnos', true),
      })
    },
  })
}

//*******************************************************LISTAR CONDICIONES DE NEGOCIACION POR ENTIDAD Y CCL****************************************************
async function fetchCondicionNegociacion() {
  const self = this
  const valComp = self.mode === 'register' ? 'MDAwMDAw' : self.comprador
  const codAsociado = self.mode === 'register' ? 'MDAwMDAw' : self.comprador
  const auxArrayPremiacion = []
  self.premiacionVal.forEach((e) => {
    if (e.value != 'MDA=') auxArrayPremiacion.push(window.atob(e.value))
  })
  const auxPremiacion = window.btoa(auxArrayPremiacion.join())
  if (auxPremiacion) {
    fetchRequest({
      api: `${this.$apiAdministrativo}ListarCondicionEntidad/${self.auth_tokenUsuario}/${valComp}/MjI=/${auxPremiacion}/${codAsociado}`,
      self,
      success: (rjson) => {
        self.condicionOptions = rjson.datos
        if (self.mode === 'edit' && self.arraySinDuplicados.length === 0) {
          self.condicionOptions.forEach((e) => {
            e.ListCondicionesProTipJug.forEach((condicion) => {
              if (condicion.estatus !=='MA=='){
                  self.obtenerValorNegociacion(
                      condicion.codigo,
                      e.CodigoProducto,
                      e.CodJugada,
                      )
                    }
            })
          })
        }
        self.productoNegociacion = 'MDA='
        self.elementosFiltradosNegociacion = []
      },
      error: (rjson) => {
        self.condicionOptions = []
        return caseWrong({
          self,
          error: rjson.msg || rjson,
          passMsg: Boolean(rjson.msg),
          defaultMsg: labels.defaultErrorMsg,
        })
      },
    })
  }
}

//*************************************************** GESTIONAR COMPRADOR *********************************************************** */
async function fetchGestionarCompradorComercial() {
  const self = this
  self.valBtn = true
  self.loading = true
  const tpoOperacion = self.mode === 'register' ? 'MA==' : 'MQ=='
  const codComprador = self.mode === 'register' ? 'MDAwMDAw' : self.comprador
  const estComprador = self.mode === 'register' ? 'MQ==' : self.estatusComprador
  const listCupos = !self.cupoVenta ? -1 : self.cupoVenta
  const arrayProductos = []
  const arrayPremiacion = []
  self.productosOptions.forEach((e) => {
    if (e.estatus === 'MQ==') {
      arrayProductos.push(e.value)
    }
  })
  self.premiacionVal.forEach((e) => {
    if (e.value !== 'MDA=') {
      arrayPremiacion.push(e.value)
    }
  })

  self.auxLimiteSorteo = self.arrayLimiteSorteo.map((val) => {
    return {
      codigoProducto: val.codigoProducto,
      codigoSeccion: val.codigoSeccion,
      codigoModalidad: val.codigoModalidad,
      montoCupo: val.montoCupo !== '' ? val.montoCupo : '-1',
      // montoCupo: self.aplicarTodos === true && val.montoCupo !== '' ? self.montoDelCupo : self.aplicarTodos === false && val.montoCupo !== '' ? val.montoCupo : '-1',
    }
  })
  self.arraySinDuplicados = self.arraySinDuplicados.map((val) => {
    return {
      codigoProducto: val.codigoProducto,
      codigoCondicion: val.codigoCondicion,
    }
  })
  self.arraySinDuplicados.forEach((item, indice, arr) => {
    if (item.codigoCondicion === 'seleccione') {
      arr.splice(indice, 1)
    }
  })

  const auxTodos = self.valorApliTodos != '' ? self.valorApliTodos : 'MA=='
  
  fetchRequest({
    api: this.$apiAdministrativo + 'GestionarCompradorComercial',
    method: 'POST',
    self,
    body: {
      tokenUsuario: self.auth_tokenUsuario,
      tipoOperacion: tpoOperacion,
      codigoComprador: codComprador,
      nombreComprador: self.nombreComprador,
      rifComprador: window.btoa(self.rif),
      telefonoComprador: window.btoa(self.numeroTele),
      direccionComprador: self.direccion,
      emailComprador: window.btoa(self.correo),
      nombreResponsable: self.responsable,
      cupoVenta: listCupos,
      codEstatusComprador: estComprador,
      ListFormaPremiacion: arrayPremiacion,
      ListProductos: arrayProductos,
      condicionesNeg: self.arraySinDuplicados,
      productoCupo: {
        estatusAplica: auxTodos,
        montoCupo: self.montoDelCupo != '' ? self.montoDelCupo : '-1',
        listaCupos: self.auxLimiteSorteo,
      },
    },

    success: (rjson) => {
      self.loading = false
      self.close()
      self.fireToastMsg(rjson.mensaje.descripcion,
        // self.mode === 'register'
        //   ? 'Comprador Comercial creado de manera exitosa.'
        //   : 'Comprador Comercial editado de manera exitosa.',
        { icon: 'success' },
      )
      self.cleanAll()
      self.valBtn = false
    },
    error: (rjson) => {
      self.loading = false
      self.valBtn = false
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
    done: () => {
      self.actualizarComprador('tabla_');
      self.actualizarTabla();
    },
  })
}

//*********************************************************** PESTAÑAS *********************************************************************

//ESTO ES DE LA PESTAÑA DE NEGOCIACION
function obtenerValorNegociacion(cond_, valor, jugada) {
  const objeto = {
    codigoProducto: valor,
    codigoCondicion: cond_,
    codigoJugada: jugada,
  }

  const index = this.arrayCondicionesNeg.findIndex(
    (item) => item.codigoJugada === jugada && item.codigoProducto === valor,
  )

  if (index !== -1) {
    // Reemplazar el objeto existente con la nueva data
    this.arrayCondicionesNeg[index] = objeto
  } else {
    // Agregar el nuevo objeto si no existe
    this.arrayCondicionesNeg.push(objeto)
  }

  this.arrayCondicionesNeg = this.arrayCondicionesNeg.map((val) => {
    return {
      codigoProducto: val.codigoProducto,
      codigoCondicion: val.codigoCondicion,
      codigoJugada: val.codigoJugada,
      estatus: val.estatus
    }
  })

  this.arraySinDuplicados = this.arrayCondicionesNeg.filter((value, index) => {
    const _value = JSON.stringify(value)
    return (
      index ===
      this.arrayCondicionesNeg.findIndex((obj) => {
        return JSON.stringify(obj) === _value
      })
    )
  })

  this.arraySinDuplicados.forEach((item, indice, arr) => {
    if (item.codigoCondicion === 'seleccione') {
      arr.splice(indice, 1)
    }
  })
}

//*********************************************************** BOTONES PESTAÑAS *********************************************************************

function btnTabsDisabled(val) {
  const todasSonSeleccione = this.condicion.every(
    (item) => item === 'seleccione',
  )
  if (val === 1 && this.productosLimiteOptions.length > 1) return false
  else if (
    val === 2 &&
    // this.productoNegociacion != 'MDA=' &&
    !todasSonSeleccione
  )
    return false
  else if (
    (val === 3 && this.valDelMonto === false) &&
    (this.direccion.length > 0 && this.v$.direccion.$invalid === false || this.direccion.length === 0 && this.v$.direccion.$invalid === true)/* && this.productoLimite != 'MDA=' */) return false
  else if (val === 4) return false
  else return true
}

function btnDisabledEdit(val) {
  if(val === 1){
    if(this.productosLimiteOptions.length > 1) return false
    else return true
  }/* else{
    if(this.valDelMonto === false) return false
    else return true
  } */
}

//NUEVA FUNCION CUANDO CAMBIA cambioProductosNegociacion
function cambioProductosNegociacion (val) {
  function filtrarElementosNegociacion(valor, objeto) {
    return objeto.filter((elemento) => elemento.CodigoProducto === valor)
  }
  const valorBuscado = val.target.value
  const objeto = this.condicionOptions
  //const objeto = this.productoCondicionTipJug
  this.elementosFiltradosNegociacion = filtrarElementosNegociacion(
    valorBuscado,
    objeto,
  )

  if (this.elementosFiltradosNegociacion.length > 0) {
    this.auxCondicionOptions = []
    this.elementosFiltradosNegociacion.forEach((prod) => {
    this.auxCondicionOptions.push({
      CodJugada: prod.CodJugada,
      ListCondicionesProTipJug: [],
      codigoCondNeg: prod.codigoCondNeg,
    })
      prod.ListCondicionesProTipJug.forEach((condicion) => {
        this.auxCondicionOptions[
          this.auxCondicionOptions.length - 1
        ].ListCondicionesProTipJug.push({
            value: condicion.codigo,
            label: condicion.descripcion,
            estatus: condicion.estatus,
          })
        })
    })
  }
  this.condicion = []

      this.elementosFiltradosNegociacion.forEach((e) => {
        let valor = ''
        e.ListCondicionesProTipJug.forEach((l) => {
          this.arraySinDuplicados.forEach((d) => {
            if (
              d.codigoProducto === e.CodigoProducto &&
              d.codigoCondicion === l.codigo &&
              d.estatus !== 'MA=='
            ) {
              valor = l.codigo
            }
          })
        })
        if (valor) {
          this.condicion.push(valor)
        } else {
          this.condicion.push('seleccione')
        }
      })
}

//*******************************************************FUNCION PARA CAMBIAR ENTRE PESTAÑAS****************************************************
function handlerTabs(val) {
  if (val == 0) {
    this.productos = true
    this.negociacion = false
    this.limite = false
    this.productoLimite = ''
  } else if (val == 1) {
    this.productoLimite = ''
    this.productoNegociacion = 'MDA='
    this.negociacion = true
    this.productos = false
    this.limite = false
    if (this.mode === 'edit') this.fetchCondicionNegociacion()
    this.elementosFiltradosNegociacion = []
  } else if (val == 2) {
    this.montoDelCupo = ''
    this.aplicarTodos = false
    this.productoLimite = 'MDA='
    this.limite = true
    this.productos = false
    this.negociacion = false
  } else {
    this.fetchGestionarCompradorComercial()
  }
}

function handlerTabsAtras(val) {
  if (val == 2) {
    this.productos = true
    this.negociacion = false
    this.limite = false
  } else if (val == 3) {
    this.productoNegociacion = 'MDA='
    this.negociacion = true
    this.productos = false
    this.limite = false
    this.montoDelCupo = ''
    this.aplicarTodos = false
    if (this.mode === 'edit') this.fetchCondicionNegociacion()
    this.elementosFiltradosNegociacion = []
  }
}

//ESTO ES DE LA PESTAÑA DE FUNCIONES
function handlerFunciones(val, num) {
  if (num === 3) {
    if (val === false) this.valorApliTodos = 'MQ=='
    else this.valorApliTodos = 'MA=='
  }
}

//******************************************************* OTRAS FUNCIONES  *********************************************************************
function cleanAll() {
  this.nombreComprador = ''
  this.rif = ''
  this.premiacion = 'MDA='
  this.numeroTele = ''
  this.correo = ''
  this.estatus = ''
  this.direccion = ''
  this.responsable = ''
  this.condicion = []
  this.productoNegociacion = 'MDA='
  this.aplicarTodos = false
  this.productosNegociacionOptions = []
  this.condicion = []
  this.condicionOptions = []
  this.condiciones = {}
  this.elementosFiltradosNegociacion = []
  this.auxCondicionOptions = []
  this.arrayCondicionesNeg = []
  this.arraySinDuplicados = []
  this.estatusArray = []
  this.montoCupo = ''
  this.montoDelCupo = ''
  this.limitesSorteoOptions = []
  this.elementosFiltradosLimiteSorteo = []
  this.auxLimiteSorteo = []
  this.premiacionVal = []
  this.productoArray = []
  this.productosOptions = []
  this.valorApliTodos = ''
  this.productoCondicionTipJug = []
  this.productoLimite = 'MDA='
  this.productosLimiteOptions = []
  this.estatusComprador = 'MDA='

  this.handlerTabs(0)
  this.arrayLimiteSorteo = []
  this.v$.$reset()
}

function shouldClose() {
  this.cleanAll()
  this.v$.$reset()
  this.close()
}

function cambiarEstatus(val) {
  if (this.productosOptions[val].estatus === 'MA==') {
    this.productosOptions[val].estatus = 'MQ=='
  } else {
    this.productosOptions[val].estatus = 'MA=='
  }
}

function asociarProducto(val) {
  this.cambiarEstatus(val)
  this.productosNegociacionOptions = this.productosOptions.filter(
    (v) => v.estatus === 'MQ==',
  )
  this.productosNegociacionOptions = [
    { label: 'SELECCIONE', value: 'MDA=' },
    ...this.productosNegociacionOptions,
  ]

  this.productosLimiteOptions = this.productosOptions.filter(
    (v) => v.estatus === 'MQ==',
  )
  this.productosLimiteOptions = [
    { label: 'TODOS', value: 'MDA=' },
    ...this.productosLimiteOptions,
  ]
}

async function fillInputs(data) {
  if (this.visible === true) {
    this.fetchCargarDatos(data.auxComprador)
    this.valorComprador = data.auxComprador
    this.estatusComprador = data.allData ? data.allData.codEstatusComprador : ''
    this.nombreComprador = data.allData ? data.allData.nombreComprador : ''
    this.rif = data.allData ? data.allData.rifComprador : ''
    this.numeroTele = data.allData
      ? window.atob(data.allData.telefonoComprador)
      : ''
    this.correo = data.allData ? data.allData.emailComprador : ''
    this.direccion = data.allData ? data.allData.direccionComprador : ''
    this.responsable = data.allData ? data.allData.nombreResponsable : ''
    this.cupoVenta = data.allData ? data.allData.cupoVenta : ''
    this.comprador = data.allData ? data.allData.codigoComprador : 'MDAwMDAw'
    this.cupoVenta = this.cupoVenta == -1 ? '' : this.cupoVenta
    this.fetchListarEstatus()
    this.productoLimite = 'prueba'
  }
  /*if (this.mode === 'edit') {
      this.fetchCondicionNegociacion()
    }*/
}

function visibleW() {
  this.fillInputs(this.data)
}
export default {
  name: 'modalComprador',

  data() {
    return {
      loading: false,
      pruebaComprador: [],
      pruebaEstatus: [],
      codigoGrupo: '',
      valorComprador: '',
      comprador: 'MDAwMDAw',
      nombreComprador: '',
      compradorOptions: [],
      compradorAux: '',
      nombreGrupo: '',
      rif: '',
      numeroTele: '',
      premiacion: 'MDA=',
      premiacionOptions: [],
      direccion: '',
      correo: '',
      responsable: '',
      cupoVenta: '',
      productos: true,
      negociacion: false,
      limite: false,
      productoNegociacion: 'MDA=',
      productosNegociacionOptions: [],
      condicion: [],
      condicionOptions: [],
      condiciones: {},
      centrosApuestaGrupo: '', ////
      centrosApuestaGrupoOptions: [],
      elementosFiltradosNegociacion: [],
      auxCondicionOptions: [],
      arrayCondicionesNeg: [],
      arraySinDuplicados: [],
      productoLimite: 'MDA=',
      productosLimiteOptions: [],
      aplicarTodos: false,
      montoCupo: '',
      montoDelCupo: '',
      limitesSorteoOptions: [],
      elementosFiltradosLimiteSorteo: [],
      auxLimiteSorteo: [],
      premiacionVal: [],
      productoArray: [],
      productosOptions: [],
      valorApliTodos: '',
      productoCondicionTipJug: [],
      estatusComprador: 'MDA=',
      arrayLimiteSorteo: [],
      valDelMonto: false,
      valBtn: false,
    }
  },
  components: { CCInput, CCLoader },
  mixins: [globalMixin],
  props: {
    visible: Boolean,
    close: Function,
    edit: Function,
    mode: {
      type: String,
      default: 'register',
    },
    data: Object,
    showFooter: {
      type: Boolean,
      default: true,
    },
    actualizarComprador: Function,
    actualizarTabla: Function
  },
  setup() {
    const authStore = useAuth()
    const { auth_tipoUsuario, auth_tokenUsuario } = storeToRefs(authStore)
    return {
      v$: useVuelidate(),
      auth_tipoUsuario,
      auth_tokenUsuario,
    }
  },
  computed: {
    validarSeccionTabs: function () {
      if (
        this.mode === 'register' &&
        this.v$.nombreComprador.$invalid === false &&
        (this.rif.length === 11 || this.rif.length === 12) &&
        //this.premiacion != 'MDA=' &&
        this.premiacionVal.length > 0 &&
        this.numeroTele.length === 11 &&
        this.v$.correo.$invalid === false &&
        this.v$.responsable.$invalid === false && 
        this.v$.cupoVenta.$invalid === false /* &&
        this.v$.direccion.$invalid === false */
      ) return true
      else if (this.mode === 'edit' && this.v$.cupoVenta.$invalid === false 
      && this.numeroTele.length === 11 && this.premiacionVal.length > 0
      && this.v$.correo.$invalid === false && this.estatus != 'Seleccione' /* && this.v$.direccion.$invalid === false */) return true
      else return false
    },
  },
  validations() {
    return modalComprador(this.auth_tipoUsuario)
  },

  mounted() {
    this.tRef = 'gestionComprador'
  },

  methods: {
    shouldClose,
    obtenerValorNegociacion,
    btnTabsDisabled,
    btnDisabledEdit,
    handlerTabs,
    handlerTabsAtras,
    handlerFunciones,
    fetchCondicionNegociacion,
    fetchCargarDatos,
    fillInputs,
    cleanAll,
    cambiarEstatus,
    asociarProducto,
    fetchGestionarCompradorComercial,
    checkNegativeValue(e) {
      const hasInvalidChars = /[^0-9.,]/;
      if (e.target.value < 0 || e.target.value === '') {
          e.target.value = '';
      }else if (e.target.value > 9999999999999999999999 || hasInvalidChars.test(e.target.value)) {
        e.target.value = '0';
      } else {
        // Reemplazar coma por punto
        e.target.value = e.target.value.replace(',', '.');

        // Validar que no haya más de dos decimales
        const parts = e.target.value.split('.');
        if (parts.length > 2) {
          e.target.value = parts[0] + '.' + parts[1]; // Mantener solo la primera parte decimal
        }

        if (parts[1] && parts[1].length > 2) {
          // Si hay más de dos decimales, truncar a dos
          let truncatedValue = Math.trunc(e.target.value * 100) / 100;
          e.target.value = truncatedValue.toFixed(2);
        }
      }
    },
    fetchListarEstatus,
    cambioAplicaTodos,
    limpiarTodos,
    cambioProductosNegociacion
  },

  watch: {
    visible: visibleW,
    productoLimite: function (val) {
       this.v$.montoDelCupo.$reset();
       this.valDelMonto = false
      const allSelected = this.productosLimiteOptions.filter((option) => option.value != 'MDA=')
      
      function filtrarElementos(valor, objeto) {
        return objeto.filter((elemento) => elemento.codigoProducto === valor)
      }

      // Ejemplo de uso
      const valorBuscado = val
      const objeto = this.limitesSorteoOptions

      if(val != 'MDA='){
        this.elementosFiltradosLimiteSorteo = filtrarElementos(
          valorBuscado,
          objeto,
        )
      }else{
        let resultados = [];
        allSelected.forEach((item) => {
            let matches = filtrarElementos(item.value, objeto);
            resultados.push(...matches);
        });
        this.elementosFiltradosLimiteSorteo = resultados;
      }

      this.elementosFiltradosLimiteSorteo.forEach((elemento) => {
        this.arrayLimiteSorteo.push(elemento);
      });
    },
    premiacionVal: function () {
      this.fetchCondicionNegociacion()      
    },
    montoDelCupo: function() {
      this.valDelMonto = this.v$.montoDelCupo.$invalid;
    },
    direccion: function(val){
      if(val.length === 0) this.v$.direccion.$reset()
    }
  },
}
</script>
  <style lang="scss" scoped>
@include deepSectionContainer;
.border-blue {
  border: 4px solid #dae8fd;
  border-radius: 10px;
  padding: 0.75rem 0.5rem 0.5rem;
  text-align: center;
}
.color-text {
  color: #1c4c96;
}
.inline-block {
  display: inline-block;
}
a {
  color: gray !important;
  cursor: pointer;
}
.nav-link {
  color: gray !important;
}
.modal-content {
  overflow-y: scroll; /* Habilitar el scroll vertical */
}
.tableContainer {
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}
.maximo {
  width: 30%;
}

.inputContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
.inputContainer label {
  padding-right: 10px;
  padding-bottom: 5px;
}
</style>
  