<template>
  <div 
    id="dashboard-display" 
    v-bind:class="sidebarVisible ? '' : 'full'"
    v-bind:style="{
      top: headerHeight,
      height: 'calc(100% - '+headerHeight+')'
    }"
  >
    <CRow class="d-none">
      <CCol :md="12">
        <CCard class="mb-4">
          <CCardBody>
            Pagina de Bienvenida
            <!-- <hr>
            <div><CIcon icon="cil-ban" size="lg" /> cil-ban</div>
            <div><CIcon icon="cil-bar-chart" size="lg" /> cil-bar-chart</div>
            <div><CIcon icon="cil-bell" size="lg" /> cil-bell</div>
            <div><CIcon icon="cil-check-circle" size="lg" /> cil-check-circle</div>
            <div><CIcon icon="cil-clipboard" size="lg" /> cil-clipboard</div>
            <div><CIcon icon="cil-code" size="lg" /> cil-code</div>
            <div><CIcon icon="cil-comment-square" size="lg" /> cil-comment-square</div>
            <div><CIcon icon="cil-dollar" size="lg" /> cil-dollar</div>
            <div><CIcon icon="cil-envelope-open" size="lg" /> cil-envelope-open</div>
            <div><CIcon icon="cil-file" size="lg" /> cil-file</div>
            <div><CIcon icon="cil-group" size="lg" /> cil-group</div>
            <div><CIcon icon="cil-list" size="lg" /> cil-list</div>
            <div><CIcon icon="cil-lock-locked" size="lg" /> cil-lock-locked</div>
            <div><CIcon icon="cil-loop" size="lg" /> cil-loop</div>
            <div><CIcon icon="cil-magnifying-glass" size="lg" /> cil-magnifying-glass</div>
            <div><CIcon icon="cil-media-play" size="lg" /> cil-media-play</div>
            <div><CIcon icon="cil-menu" size="lg" /> cil-menu</div>
            <div><CIcon icon="cil-minus" size="lg" /> cil-minus</div>
            <div><CIcon icon="cil-options" size="lg" /> cil-options</div>
            <div><CIcon icon="cil-pencil" size="lg" /> cil-pencil</div>
            <div><CIcon icon="cil-plus" size="lg" /> cil-plus</div>
            <div><CIcon icon="cil-settings" size="lg" /> cil-settings</div>
            <div><CIcon icon="cil-shield-alt" size="lg" /> cil-shield-alt</div>
            <div><CIcon icon="cil-task" size="lg" /> cil-task</div>
            <div><CIcon icon="cil-trash" size="lg" /> cil-trash</div>
            <div><CIcon icon="cil-user" size="lg" /> cil-user</div>
            <div><CIcon icon="cil-x-circle" size="lg" /> cil-x-circle</div>
            <div><CIcon icon="cic-award" size="lg" /> cic-award</div>
            <div><CIcon icon="cic-eye" size="lg" /> cic-eye</div>
            <div><CIcon icon="cic-group-listers" size="lg" /> cic-group-listers</div>
            <div><CIcon icon="cic-lotto" size="lg" /> cic-lotto</div>
            <div><CIcon icon="cic-negotiation" size="lg" /> cic-negotiation</div>
            <div><CIcon icon="cic-pos" size="lg" /> cic-pos</div>
            <div><CIcon icon="cic-ticket-office" size="lg" /> cic-ticket-office</div> -->
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import { loadToggler } from '@/composables/loadToggler';
import { useSideHelp } from '@/store/sidehelp';
import { storeToRefs } from 'pinia';
import { useSidebar } from '@/store/sidebar';

export default {
  name: 'Dashboard',
  setup() {
    const sideHelpStore = useSideHelp()
    const sidebarStore = useSidebar()
    const { headerHeight } = storeToRefs(sideHelpStore)
    const { sidebarVisible } = storeToRefs(sidebarStore)
    loadToggler()

      return {
          headerHeight,
          sidebarVisible,
      }
  },
}
</script>

<style lang="scss" scoped>
#dashboard-display {
  background-image: url('@/assets/images/bienvenida.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% - $sidebar-width-fcui);
  position: absolute;
  left: 0;
  // top: 0;
  margin-left: $sidebar-width-fcui;
  transition: $sidebar-transition-fcui;
  &.full {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
</style>
