<template>
  <CDropdown variant="nav-item" class="d-flex">
    <strong class="ms-2">{{auth_nombrePuntoVenta}}</strong>
    <CDropdownToggle placement="bottom-end" class="py-0" :caret="false" @click="preventDefault">
      <CIcon icon="cilChevronCircleDownAlt" />
    </CDropdownToggle>
    <CDropdownMenu class="pt-0">
       <!-- <CDropdownHeader component="h6" class="bg-light fw-semibold py-2">
        Account
      </CDropdownHeader>
      <CDropdownItem>
        <CIcon icon="cil-bell" /> Updates
        <CBadge color="info" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-envelope-open" /> Messages
        <CBadge color="success" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-task" /> Tasks
        <CBadge color="danger" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-comment-square" /> Comments
        <CBadge color="warning" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem> 
      <CDropdownHeader component="h6" class="bg-light fw-semibold py-2">
        Opciones
      </CDropdownHeader> -->
      <CDropdownItem @click="$router.push({ path: '/cambiar-clave' })"> <CIcon icon="cil-user" /> Cambiar contraseña</CDropdownItem>
      <!-- <CDropdownItem> <CIcon icon="cil-settings" /> Settings </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-dollar" /> Payments
        <CBadge color="secondary" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-file" /> Projects
        <CBadge color="primary" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem> 
      <CDropdownDivider />
      <CDropdownItem>
        <CIcon icon="cil-shield-alt" /> Lock Account 
      </CDropdownItem> -->
      <CDropdownItem @click="clogOutSession"> <CIcon icon="cil-account-logout" /> Salir </CDropdownItem>
    </CDropdownMenu>
  </CDropdown>
</template>

<script>
import avatar from '@/assets/images/avatars/8.jpg'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { logOutSession } from '@/_helpers/general'
import globals from '@/_mixins/globals'

export default {
  name: 'AppHeaderDropdownAccnt',
  mixins: [globals],
  setup() {
    const authStore = useAuth()
    const { auth_nombrePuntoVenta } = storeToRefs(authStore)
    return {
      avatar: avatar,
      itemsCount: 42,
      auth_nombrePuntoVenta,
      logOutSession
    }
  },
  methods:{
    clogOutSession() {
      const self = this;
      this.logOutSession(self, true, false, true);
    },
    preventDefault(event) {
      event.preventDefault();
    },
  }
}
</script>
