<template>
    <CModal 
        size="lg"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="shouldClose"
    >
        <CModalHeader>
            <CModalTitle>{{ mode === 'edit' ? 'Modificar' : mode === 'view' ? 'Detalle' : 'Registrar' }} Modalidad</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CCFormStructureWrapper 
                :formData="formData"
                :btnAction="[addComponente]"
                :customVals="customVuelidations"
            >
                <template #formOut="formObj">
                    <CCInput 
                        :allData="formObj"
                        v-model="v$[formObj.model].$model" 
                        :v_="v$[formObj.model]" 
                        :col="formObj.col"
                        :disabled="formObj.disabled || shouldDisabled()"
                        :options="getOptions(formObj.options)"
                        :disabledLighted="!showFooter"
                        :keyPress="formObj.kpress"
                    />
                </template>
                <template #formIn="inCol">
                    <CCInput 
                        :allData="inCol"
                        v-model="v$.componentes[inCol.model].$model" 
                        :v_="v$.componentes[inCol.model]" 
                        :col="inCol.col"
                        :disabled="inCol.disabled || shouldDisabled() || (getTipo == '02' && inCol.model == 'inicio')"
                        :options="getOptions(inCol.options)"
                        :disabledLighted="!showFooter"
                        :keyPress="inCol.kpress"
                    />
                </template>
                <template #colFreeCode="colFreeCode">
                    <div v-bind:class="colFreeCode.class || ''">
                        <CFormLabel for="aim-radios" class="me-3">Hacia:</CFormLabel>
                        <div id="aim-radios">
                            <CFormCheck 
                                v-for="aim of ['derecha','izquierda']" 
                                :key="aim" 
                                inline
                                class="text-capitalize" 
                                type="radio" 
                                name="orientacion"
                                :id="'orientacion'+aim"
                                autocomplete="off" 
                                :label="aim" 
                                :value="aim"
                                :checked="componentes.orientacion === aim" 
                                @change="() => {componentes.orientacion = aim}"
                                :disabled="shouldDisabled() || getTipo == '02'"
                            />
                        </div>
                    </div>
                </template>
                <template #freeCode="freeCode">
                    <CCTable 
                        :ref="tRef" 
                        v-bind:class="freeCode.class || ''"
                        v-model="currentPage" 
                        :tableData="tableData" 
                        :inTableData="inTableData"
                        :setTableState="setTableState"
                        :showPagination="showPagination"
                        :setShowPagination="setShowPagination"
                        :unselectFromTable="deleteComponente"
                        :alertMsgs="[labels.sureDelete(true, 'componente', false), labels.sureDelete(false, 'componente', false), 
                            labels.deleteAll('componentes', false), labels.deleteOne('componente', false)]"
                        :loading="tableDataLoading"
                        :optionsColWidth="optionsColWidthRem"
                        maxHeight="10rem"
                        doNotEmit
                        :showEdit="false"
                        :showView="false"
                        :disabledDelete="!modifying || fetching"
                        wide
                        :optionsLabelsDynamic="{ componenteOptions, orientacionOptions }"
                    />
                </template>
            </CCFormStructureWrapper>
        </CModalBody>
        <CModalFooter v-if="showFooter" class="justify-content-center">
            <CButton ref="acceptbtn" class="btn-primario" @click="actionModalidad" :disabled="!isMValid">
                <template v-if="fetching"><CCLoader inline />&nbsp;</template>
                {{ mode === 'edit' ? 'Modificar' : mode === 'view' ? (modifying ? 'Guardar Cambios' : 'Modificar') : 'Guardar' }}
            </CButton>
            <CButton ref="cancelbtn" class="btn-primario" @click="shouldClose">
                Cancelar
            </CButton>
        </CModalFooter>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import useVuelidate from '@vuelidate/core';
import modalidadRegisterVals from '@/_validations/gestionProductos/modalidadRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCLoader from '@/components/custom/CCLoader.vue';
import CCTable from '@/components/custom/CCTable.vue';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { LABELS as labels } from '@/_helpers/labels';

// METHODS
function clearInputs (forComp = false, reset = true) {
    if (!forComp) {
        this.fetching = false;
        ['codigo','nombre'].forEach(ths => this[ths] = '');
        this.maximoPermuta = 5;
        this.componentes.$dirty = false;
    }
    const compData = {
        ...this.componentes,
        inicio: 1,
        longitud: 2,
        componente: reset ? 'seleccione' : `${this.componentes.componente}`,
        orientacion: 'derecha',
        obligatorio: reset ? true : !!this.componentes.obligatorio,
    };
    this.componentes = compData;
    if (!forComp) this.v$.$reset();
    else if (reset) this.v$.componentes.$reset();
}

async function fillInputs (data) {
    this.codigo = data.codigo;
    this.nombre = data.nombre || '';
    this.maximoPermuta = data.maximoPermuta;
    this.tableData = data.componentes.map(c => {
        const ordArr = c.ordenSeleccion.trim().split(',').map(n => n.replace('-', ''));
        return {
            guid: c.codigo, 
            inicio: +ordArr[0] + 1, 
            longitud: +ordArr[1] - +ordArr[0], 
            orientacion: c.ordenSeleccion.trim().includes('-') ? 'izquierda' : 'derecha',
            obligatorio: c.obligatorio,
        }
    });
    this.v$.$reset();
    this.clearInputs(true);
    this.modifying = this.mode != 'view';
}

function actionModalidad () {
    const self = this;

    const edit_ = (/* isDetail = false */) => {
        self.fetching = true;
        const dirtyOnes = Object.keys(this.v$).reduce((vals, val) => [...vals, ...(!val.startsWith('$') && this.v$[val].$dirty ? [val] : [])], []);
        const data = {
            ...(self.data || {}),
            ...['nombre','maximoPermuta'].reduce((attrs, attr, i) => // se puede editar los del array
                ({...attrs, ...(dirtyOnes.includes(attr) ? {[attr]: !i ? self[attr].toUpperCase() : self[attr]} : {})}), {}),
        };
        self.edit({
            ...data, 
            ...(self.componentes.$dirty ? { 
                componentes: self.tableData.map(c => ({
                    codigo: c.guid,
                    obligatorio: c.obligatorio,
                    ordenSeleccion: `${c.orientacion == 'derecha' ? '' : '-'}${+c.inicio - 1},${+c.longitud - 1 + +c.inicio}`,
                })) 
            } : {})
        }/* , isDetail */);
    };

    if (this.mode === 'edit') {
        edit_();
        return;
    }
    if (this.mode === 'view') {
        const modVal = Boolean(this.modifying);
        this.modifying = !this.modifying;
        if (modVal) edit_(/* true */);
        return;
    }
    // register
    this.fetching = true;
    const data = {
        nombre: this.nombre.toUpperCase(),
        codigo: this.codigo,
        guid: this.codigo,
        maximoPermuta: this.maximoPermuta,
        componentes: this.tableData.map(c => ({
            codigo: c.guid,
            obligatorio: c.obligatorio,
            ordenSeleccion: `${c.orientacion == 'derecha' ? '' : '-'}${+c.inicio - 1},${+c.longitud - 1 + +c.inicio}`,
        })),
    };
    this.save(data);
}

function shouldDisabled (/* model */) {
    return (this.mode === 'view' && !this.modifying) || this.fetching
}

function shouldClose () {
    if (this.fetching) return;
    this.modifying = false;
    this.v$.$reset();
    this.close();
}

function addComponente () {
    const compIn = this.tableData.some(comp => comp.guid == this.componentes.componente);
    if (compIn) {
        this.fireToastMsg('Ya este componente se encuentra agregado en la tabla', {icon: 'info'});
        return;
    }

    this.tableData = [ 
        ...this.tableData, 
        { 
            guid: `${this.componentes.componente}`, 
            inicio: this.componentes.inicio, 
            longitud: this.componentes.longitud, 
            orientacion: this.componentes.orientacion,
            obligatorio: this.componentes.obligatorio,
        } 
    ];
    this.componentes.$dirty = true;
    this.clearInputs(true);
}

async function deleteComponente (...args) {
  if (args.length < 2) return;
  const msg = args[1][1];
  const result = await this.fireAlertMsg(msg, {});
  if (result.isConfirmed) {
    this.removeFromTable(false, args[0], args[4]);
    this.componentes.$dirty = true;
    this.fireToastMsg(args[1][3], { icon: 'success' });
  }
}

// COMPUTED
function isMValid () {
    const extraVals = this.mode === 'edit' || (this.mode === 'view' && this.modifying) ? this.v$.nombre.$dirty || this.v$.maximoPermuta.$dirty || this.componentes.$dirty : true;
    return extraVals && !this.v$.nombre.$invalid && !this.v$.maximoPermuta.$invalid && this.tableData.length && !this.fetching
}

// WATCH
function visibleW (val) {
    if (!val) this.clearInputs();
    else if (this.data) this.fillInputs(this.data);
}

export default {
    components: { CCInput, CCFormStructureWrapper, CCLoader, CCTable },
    name: 'ModalModalidad',
    mixins: [ globalMixin, tableGenerals ],
    data() {
        return {
            codigo: '',
            nombre: '',
            maximoPermuta: 5,
            componentes: {
                len: 0,
                $dirty: false,
                inicio: 1,
                longitud: 2,
                componente: 'seleccione',
                orientacion: 'derecha',
                obligatorio: true,
            },
            modifying: false,
            fetching: false,
            componenteOptions: [
                { label: 'NUMEROA', value: '01', tipo: '01' },
                { label: 'NUMEROB', value: '02', tipo: '01' },
                { label: 'ANIMALITO', value: '03', tipo: '02' },
                { label: 'CACHO', value: '04', tipo: '02' },
                { label: 'ASTRAL', value: '05', tipo: '02' },
            ],
            orientacionOptions: [
                { label: 'Hacia la derecha', value: 'derecha' },
                { label: 'Hacia la izquierda', value: 'izquierda' },
            ],
        }
    },
    props: {
        visible: Boolean,
        close: Function,
        save: Function,
        edit: Function,
        formData: {
            type: Array,
            default: () => [],
        },
        mode: {
            type: String,
            default: 'register',
        },
        data: Object,
        showFooter: {
            type: Boolean,
            default: true,
        },
    },
    setup() {
        const optionsColWidthRem = 3
        const forTabla = [
                [{name: 'Componente', attr: 'guid', slct: 'componenteOptions'}, 30],
                [{name: 'Inicio', attr: 'inicio'}, 15], 
                [{name: 'Longitud', attr: 'longitud'}, 15],
                [{name: 'Orientacion', attr: 'orientacion', slct: 'orientacionOptions'}, 30],
                [{name: 'Obligatorio', attr: 'obligatorio', cmp: true}, 10],
            ]
        const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

        return {
            v$: useVuelidate(),
            ...setupData(1),
            optionsColWidthRem,
            inTableData,
            labels,
        }
    },
    methods: {
        clearInputs,
        fillInputs,
        actionModalidad,
        shouldDisabled,
        shouldClose,
        addComponente,
        deleteComponente,
    },
    computed: {
        isMValid,
        getTipo: function () {
            const componente = this.componenteOptions.find(c => c.value == this.componentes.componente);
            return componente?.tipo || '01'
        },
    },
    validations () {
        return modalidadRegisterVals(this.visible);
    },
    watch: {
        visible: visibleW,
        getTipo: function (val) {
            if (val == '02') this.clearInputs(true,false);
        },
        tableData: function (val) {
            this.componentes.len = val ? val.length : 0;
        },
    },
    mounted: function () {
        this.tRef = 'componenteTable';
        this.canDelete = 'componente';
    },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>