<template>
    <CModal 
        size="lg"
        alignment="center" 
        backdrop="static" 
        :visible="visible" 
        @close="shouldClose"
    >
        <CModalHeader>
            <CModalTitle>{{ mode === 'edit' ? 'Modificar' : mode === 'view' ? 'Detalle' : 'Registrar' }} Componente</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <CCFormStructureWrapper :formData="formData" :showFreeCode="tipo == '02' && +cantidadElementos > 0 && +cantidadElementos <= maxCantSimbs ? true : false" >
                <template #formOut="formObj">
                    <CCInput 
                        :allData="{
                            ...formObj, 
                            ...(formObj.model == 'cantidadElementos' ? {maximum: maxCantSimbs} : {}),
                            ...(formObj.model == 'rutaLista' ? {urlPath} : {})
                        }"
                        v-model="v$[formObj.model].$model" 
                        :v_="v$[formObj.model]" 
                        :col="formObj.col"
                        :disabled="formObj.disabled || shouldDisabled(formObj.model)"
                        :options="getOptions(formObj.options)"
                        :disabledLighted="!showFooter"
                        :keyPress="formObj.kpress"
                        activateTouched
                        :execute="formObj.model == 'cantidadElementos' ? () => { arrElementos.$dirty = true} : () => {}"
                    />
                </template>
                <template #formIn="inCol">
                    <CCInput 
                        :ref="inCol.model+'Ref'"
                        :allData="inCol"
                        v-model="elementoItem[inCol.model]" 
                        :v_="elementoItem" 
                        :disabled="shouldDisabled('arrElementos')"
                        activateTouched
                        :execute="() => {elementoItem.$dirty = true}"
                    />
                </template>
                <template #freeButton="inCol">
                    <CButton 
                        v-bind:class="inCol.class || ''"
                        :disabled="disReset || shouldDisabled('arrElementos')"
                        @click="restablecerElemento"
                    >Restablecer
                    </CButton>
                    <CButton 
                        v-bind:class="inCol.class2 || ''"
                        :disabled="disAsign || shouldDisabled('arrElementos')"
                        @click="asignarElemento"
                    >Asignar
                    </CButton>
                </template>
                <template #freeCode="inStructure">
                    <div class="elementos-wrapper" v-bind:class="inStructure.subClass || ''">
                        <div
                            v-for="(el, n) in arrElementos.data" 
                            :key="n" 
                            class="elemento-item d-inline-block"
                            v-bind:class="[
                                elementosStretch && arrElementos.data.length > 1 ? 'grow-all' : '',
                                !el[1] ? 'empty' : ''
                            ]"
                        >
                            <CFormCheck 
                                :button="{ variant: 'outline' }" 
                                type="radio" 
                                name="elementos-lista" 
                                :id="'elemento'+(n+1)" 
                                autocomplete="off" 
                                :label="(el[1] && (el[1]+' - '+el[0])) || String(n+1)" 
                                :value="String(n+1)" 
                                :checked="currElemento === String(n+1)" 
                                :disabled="shouldDisabled('arrElementos')"
                                @change="asignarElementoInputs"
                            />
                        </div>
                    </div>
                    <CIcon v-if="arrElementos.data.length > 1" class="stretcher" icon="cil-resize-width" @click="() => { elementosStretch = !elementosStretch }" />
                </template>
            </CCFormStructureWrapper>
            <!-- {{currElemento}} -->
            <!-- <br> -->
            <!-- {{arrElementos}} -->
        </CModalBody>
        <CModalFooter v-if="showFooter" class="justify-content-center">
            <CButton ref="acceptbtn" class="btn-primario" @click="actionComponente" :disabled="!isMValid">
                <template v-if="fetching"><CCLoader inline />&nbsp;</template>
                {{ mode === 'edit' ? 'Modificar' : mode === 'view' ? (modifying ? 'Guardar Cambios' : 'Modificar') : 'Guardar' }}
            </CButton>
            <CButton ref="cancelbtn" class="btn-primario" @click="shouldClose">
                Cancelar
            </CButton>
        </CModalFooter>
    </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals';
import useVuelidate from '@vuelidate/core';
import componenteRegisterVals from '@/_validations/gestionProductos/componenteRegisterVals';
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCLoader from '@/components/custom/CCLoader.vue';

// METHODS
function clearInputs (type = 'all') {
    if (['seleccione','numero','all'].includes(type)) {
        if (['seleccione','all'].includes(type)) this.nombre = '';
        if (type == 'all') {
            this.fetching = false;
            this.codigo = '';
            this.tipo = 'seleccione';
            this.urlPath = location.origin+'/img/';
        }
        this.cantidadElementos = 0;
        this.rutaLista = '';
        ['data','$dirty'].forEach((k,i) => this.arrElementos[k] = !i ? [] : false);
        this.currElemento = '1';
        this.elementosStretch = false;
    }
    this.v$.$reset();
}

function fillInputs (data) {
    this.codigo = data.codigo;
    this.nombre = data.nombre || '';
    this.tipo = data.tipo;
    if (data.rutaHost) this.urlPath = data.rutaHost;
    this.rutaLista = data.rutaLista;
    this.arrElementos.data = data.elementos;
    this.cantidadElementos = data.cantidadElementos;
    this.v$.$reset();
}

function actionComponente () {
    const self = this;

    const edit_ = (/* isDetail = false */) => {
        self.fetching = true;
        const dirtyOnes = Object.keys(self.v$).reduce((vals, val) => [...vals, ...(!val.startsWith('$') && self.v$[val].$dirty ? [val] : [])], []);
        const data = {
            ...(self.data || {}),
            ...['nombre','cantidadElementos','rutaLista'].reduce((attrs, attr, i) => // se puede editar los del array
                ({...attrs, ...(dirtyOnes.includes(attr) ? {[attr]: !i ? self[attr].toUpperCase() : self[attr]} : {})}), {}),
        };
        self.edit({...data, ...(self.tipo == '02' && self.arrElementos.$dirty ? { elementos: self.arrElementos.data } : {})}/* , isDetail */);
    };

    if (this.mode === 'edit') {
        edit_();
        return;
    }
    if (this.mode === 'view') {
        const modVal = Boolean(this.modifying);
        this.modifying = !this.modifying;
        if (modVal) edit_(/* true */);
        return;
    }
    // register
    this.fetching = true;
    const data = {
        nombre: this.nombre.toUpperCase(),
        codigo: this.codigo,
        guid: this.codigo,
        tipo: this.tipo,
        cantidadElementos: this.cantidadElementos,
        rutaHost: this.urlPath,
        rutaLista: this.rutaLista,
        elementos: this.tipo == '02' ? this.arrElementos.data : [],
    };
    this.save(data);
}

function shouldDisabled (model) {
    const notThisType = ((!this.tipo || this.tipo === 'seleccione') && model != 'tipo') || (this.tipo == '01' && ['cantidadElementos','rutaLista'].includes(model));
    return (this.mode === 'view' && !this.modifying) || (this.mode !== 'register' && model == 'tipo') || this.fetching || notThisType
}

function shouldClose () {
    if (this.fetching) return;
    this.modifying = false;
    this.v$.$reset();
    this.close();
}

// COMPUTED
function isMValid () {
    const extraVals = this.mode === 'edit' || (this.mode === 'view' && this.modifying) ? this.v$.$anyDirty || this.arrElementos.$dirty : true;
    const disIfSimbolsNotSpecified = this.tipo != '02' || this.todosElementosSeleccionados;
    return extraVals && !this.v$.$invalid && !this.fetching && disIfSimbolsNotSpecified
}

// WATCH
function visibleW (val) {
    if (!val) this.clearInputs();
    else if (this.data) this.fillInputs(this.data);
}

export default {
    components: { CCInput, CCFormStructureWrapper, CCLoader },
    name: 'ModalComponente',
    mixins: [globalMixin],
    data() {
        return {
            codigo: '',
            nombre: '',
            tipo: 'seleccione',
            cantidadElementos: 0,
            rutaLista: '',
            // 
            tipoOptions: [
                {label: 'Número', value: '01'},
                {label: 'Lista de elementos', value: '02'},
            ],
            modifying: false,
            fetching: false,
            currElemento: '1',
            elementoItem: {
                elementoNombre: '',
                elementoCodigo: '',
                $path: '', 
                maxlength: { 
                    $params: { 
                        max: null 
                    } 
                }, 
                $errors: [],
                $dirty: false,
            },
            arrElementos: {
                data: [],
                $dirty: false,
            },
            elementosStretch: false,
            urlPath: '',
        }
    },
    props: {
        visible: Boolean,
        close: Function,
        save: Function,
        edit: Function,
        formData: {
            type: Array,
            default: () => [],
        },
        mode: {
            type: String,
            default: 'register',
        },
        data: Object,
        showFooter: {
            type: Boolean,
            default: true,
        },
        maxCantSimbs: Number,
    },
    setup() {
        return {
            v$: useVuelidate(),
        }
    },
    methods: {
        clearInputs,
        fillInputs,
        actionComponente,
        shouldDisabled,
        shouldClose,
        asignarElemento: function () {
            if (this.treeFind(this.elementoItem.elementoCodigo)) {
                this.fireToastMsg('El código ya se encuentra asignado', {});
                this.getRef(this, 'elementoCodigoRef', false)?.getElementsByTagName('input')?.item(0)?.focus();
                return;
            }
            this.makeArrElementos(false, true);
            const id = this.arrElementos.data.findIndex(el => !el[0]);
            if (id > -1) this.asignarElementoInputs(id+1+'');
        },
        restablecerElemento: function () {
            this.makeArrElementos(true, true);
        },
        clearElementoInputs: function (justBlank = false) {
            ['elementoCodigo','elementoNombre'].forEach(k => this.elementoItem[k] = '');
            if (!justBlank) {
                this.currElemento = '1';
                this.elementoItem.$dirty = false;
            }
        },
        asignarElementoInputs: function (e = null, focus = true) {
            this.clearElementoInputs();
            if (e && (typeof e == 'string' || e.target?.value)) this.currElemento = typeof e == 'string' ? e : e.target.value;
            if (+this.currElemento && this.arrElementos.data.length && this.arrElementos.data[+this.currElemento - 1][0]) 
                ['elementoCodigo','elementoNombre'].forEach((k,i) => this.elementoItem[k] = this.arrElementos.data[+this.currElemento - 1][i]);
            if (focus) this.getRef(this, 'elementoNombreRef', false)?.getElementsByTagName('input')?.item(0)?.focus();
        },
        treeFind: function (searchStr) {
            const half = Math.round(this.arrElementos.data.length / 2);
            for (let i = 0; i < half; i++) {
                const arrPosVal =[this.arrElementos.data[i], this.arrElementos.data[i + half]];
                const val = [arrPosVal[0] && arrPosVal[0][0], arrPosVal[1] && arrPosVal[1][0]];
                if (val.includes(searchStr)) return true;
            }
            return false;
        },
        makeArrElementos: function (reset = false, makeDirty = false) {
            const copyArr = this.arrElementos.data.slice();
            if (reset || (copyArr[+this.currElemento - 1] && !this.disAsign)) {
                ['elementoCodigo','elementoNombre'].forEach((k,i) => copyArr[+this.currElemento - 1][i] = reset ? '' : `${this.elementoItem[k].toUpperCase()}`);
                if (reset) {
                    this.clearElementoInputs(true);
                    this.fireToastMsg('El elemento ha sido restablecido', {icon: 'success'});
                }
                else this.fireToastMsg('El elemento ha sido asignado', {icon: 'success'});
            } 
                
            this.elementoItem.$dirty = false;
            if (makeDirty) this.arrElementos.$dirty = true;
            const nuevoArr = Array.from(Array(+this.cantidadElementos), (_, i) => copyArr[i] || ['','']);
            if (!nuevoArr.length) this.arrElementos.$dirty = false;
            this.arrElementos.data = nuevoArr;
        },
    },
    computed: {
        isMValid,
        disAsign: function () {
            return !+this.cantidadElementos || +this.cantidadElementos < 1 || +this.cantidadElementos > this.maxCantSimbs || !this.elementoItem.elementoNombre || !this.elementoItem.elementoCodigo || !this.elementoItem.$dirty
        },
        disReset: function () {
            return !+this.cantidadElementos || +this.cantidadElementos < 1 || +this.cantidadElementos > this.maxCantSimbs || !this.elementoItem.elementoNombre || !this.elementoItem.elementoCodigo || !(+this.currElemento && this.arrElementos.data[+this.currElemento - 1][0])
        },
        todosElementosSeleccionados: function () {
            return this.arrElementos.data.every(el => el[0])
        },
    },
    validations () {
        return componenteRegisterVals(this.visible, this.tipo == '02', this.maxCantSimbs);
    },
    watch: {
        visible: visibleW,
        tipo: function (val) {
            if (val == 'seleccione' || val == '01') this.clearInputs(val == '01' ? 'numero' : val);
            if (this.mode === 'register') {
                const [sel, val1] = !val ? [true, false] : [val === 'seleccione', val == '01'];
                this.cantidadElementos = sel || val1 ? 0 : 1;
            }
        },
        cantidadElementos: function (val) {
            if (isNaN(+val) || +val < 0 || +val > this.maxCantSimbs) return;
            this.clearElementoInputs();
            this.makeArrElementos();
            const id = this.arrElementos.data.findIndex(el => !el[0]);
            this.asignarElementoInputs(id > -1 ? (id+1+'') : null, false);
        },
    },
    mounted() {
        this.urlPath = location.origin+'/img/';
    },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer {
    .elementos-wrapper {
        margin-inline-end: -0.4rem;
        
        .elemento-item {
            padding-inline-end: 0.5rem;
            margin-block-end: 0.4rem;
            
            &.grow-all {
                flex-grow: 1;
            }

            &.empty label {
                background-color: $softer-gray;
                color: $cancel-gray;
            }

            label {
                width: 100%;
                border-color: $cancel-gray;
            }
            .btn-check:checked + label {
                color: #fff;
                font-weight: bold;
                background-color: $middle-gray;
                border-color: $middle-gray;
            }
        }
    }
    
    .stretcher {
        cursor: pointer;
    }
};
</style>