<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader>
          <h5>Gestionar condiciones de negociación</h5>
        </CCardHeader>
        <CCardBody>
          <CRow class="mt-3">
            <CCol xs="12" lg="3">
              <CFormLabel>Entidad que aplica</CFormLabel>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  :v_="v$.entidad"
                  :options="entidadOptions"
                  v-model="entidad"
                  hideSeleccione
                />
            </CCol>
            <CCol xs="12" lg="3">
              <CFormLabel>Forma de premiación</CFormLabel>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  :v_="v$.formaDePremiacion"
                  :options="formaDePremiacionOptions"
                  v-model="formaDePremiacion"
                  hideSeleccione
                />
            </CCol>
            <CCol xs="12" lg="3">
              <CFormLabel>Frecuencia</CFormLabel>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  :v_="v$.frecuencia"
                  :options="frecuenciaOptions"
                  v-model="frecuencia"
                  hideSeleccione
                />
            </CCol>
            <CCol xs="12" lg="3">
              <CFormLabel>Tipo de jugada</CFormLabel>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-3 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  :v_="v$.tipoJugada"
                  :options="tipoJugadaOptions"
                  v-model="tipoJugada"
                  hideSeleccione
                />
            </CCol>
            <CRow>
              <CCol xs="12" lg="6">
                <CFormLabel for="aim-radios" class="me-3">Estatus:</CFormLabel>
                <div id="aim-radios">
                  <CFormCheck v-for="aim of estatusOptions" :key="aim" inline class="text-capitalize" type="radio"
                    name="estatusR" :id="'estatusR' + aim" autocomplete="off" :label="aim.descripcion" :value="aim.codigo"
                    :checked="estatusR === aim.codigo" @change="handlerFormPago(aim.codigo , 1)" />
                </div>
              </CCol> 
            </CRow>
            <CRow class="mb-3">
              <CCol xs="12" lg="6" class="text-end">
                <CButton class="btn-primario adapt-all-md" @click="fetchEsquemas()" :disabled="this.entidad === 'MDA=' ? true : false">Buscar</CButton>
              </CCol> 
              <CCol xs="12" lg="6">
              <CButton v-if="this.auth_tipoUsuario != '23'" class="btn-primario" @click="actionFromTable(esquemaDataRegister(), 'register')">
                Agregar
              </CButton>
            </CCol>
          </CRow>
          </CRow>
          <CRow class="mt-3">
            <!-- <CCol> -->
            <CCTable :ref="tRef" v-model="currentPage" :tableData="tableData" :inTableData="inTableData"
              :showDelete="false" :setTableState="setTableState" :showPagination="showPagination"
              :setShowPagination="setShowPagination" :unselectFromTable="eraseFromTable" :alertMsgs="[labels.sureDelete(true, 'esquema', false, ' de negociacion'), labels.sureDelete(false, 'esquema de negociacion', false),
              labels.deleteAll('esquemas de negociacion', false), labels.deleteOne('esquema de negociacion', false)]"
              :viewFromTable="esquemaDataEdit" :editFromTable="esquemaDataEdit" :loading="tableDataLoading"
              :optionsColWidth="optionsColWidthRem" maxHeight="30rem" doNotEmit :pageSize="10"
              :showEdit="this.auth_tipoUsuario != '23' ? true : false" />
            <!-- </CCol> -->
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalEsquemaNegociacion ref="modalesquemaDecorator" :visible="esquemaModalVisible" :data="esquemaModalDta"
    :close="closeModal" :save="saveEsquemaNegociacion" :edit="editEsquemaNegociacion" :mode="esquemaMode"
    :esquemaData="esquemaRegister" />
</template>

<script>
import useVuelidate from '@vuelidate/core';
// import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import sorteoFechasVals from '@/_validations/gestionarEsquemas/filtersVal';
import { esquemaFilters } from '@/_helpers/formData'
import CCInput from '@/components/custom/CCInput.vue';
import CCTable from '@/components/custom/CCTable.vue';
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import { LABELS as labels } from '@/_helpers/labels';
import ModalEsquemaNegociacion from '@/components/shared/modalEsquemaN.vue';
import { esquemaRegister } from '@/_helpers/formData';
import { loadToggler } from '@/composables/loadToggler';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';

/* storeToRefs: Const que hace referencia a la tienda o store */
import { storeToRefs } from 'pinia';
import { modalSetupData } from '@/composables/modalDataStruct';
// fetchRequest :
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { useAuth } from '@/store/auth';

// METHODS
async function fetchEsquemas() {
  this.tableDataLoading = true;
  const self = this;
  let codEntidad = this.entidad /* === '' ? window.btoa('00') : this.entidad */;
  let codPremiacion = this.formaDePremiacion /*  === 'seleccione' ? window.btoa('00') : this.formaDePremiacion */;
  let codFrecuencia = this.frecuencia /* === 'seleccione' ? window.btoa('00') : this.frecuencia */;
  let codTipJugada = this.tipoJugada /* === 'seleccione' ? window.btoa('00') : this.tipoJugada */;
  let codEsquema = window.btoa('00');
  fetchRequest({
    api: `${this.$apiAdministrativo}ConsultarCondicionNegociacion/${this.auth_tokenUsuario}/${codEsquema}/${codEntidad}/${codFrecuencia}/${window.btoa(this.estatusR)}/${codPremiacion}/${codTipJugada}`,
    self,
    success: (rjson) => {
      self.tableDataLoading = false;
      self.tableData = rjson.datos;
    },
    error: (rjson) => {
      self.tableDataLoading = false;
      self.tableData = [];
      self.limpiarInputs();
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
  });
}

function handlerFormPago(val,num){
    if(num === 1) {
      this.estatusR = val
    }
}

/* Funcion que envia al modal los datos */
function esquemaDataRegister() {
  const statusOptions = this.estatusOptions.filter(aux => aux.codigo != '00');
  const esquema = {
    /* Variables enviadas al modal vacia por que es un crear */
    descripcionCon: '',
    applicate: '',
    codigoAplica:'',
    utility: '',
    porcParticipacion: '',
    sales: '',
    codigoEstCon: '1',
    cc: '',
    codigoCondicion:window.btoa('000000'),
    entidad: '',
    utilityFreq: '',
    /* Fin variables enviadas al modal vacia por que es un crear */

    /* Opciones de los select que se envian al modal*/
    frecuenciaOptions: this.frecuenciaOptions,
    entidadOptions: this.entidadOptions,
    ccOptions: this.ccOptions,
    estatusOptions: statusOptions,
    formaDePremiacionOptions: this.formaDePremiacionOptions,
    tipoJugadaOptions: this.tipoJugadaOptions

    /*Fin opciones de los select que se envian al modal*/
  };
  return esquema
}

/* Funcion que toma el row y envia los datos al modal */
async function esquemaDataEdit(data, mode) {
  const statusOptions = this.estatusOptions.filter(aux => aux.codigo != '00');
  /** 
    * @param data: Es la variable que recive el row seleccionado de la tabla
    * @param moode: Indica si esta editando, registrando o view
    * @param actionFromTable: Es la función que se encarga de pasar los parametro
  */
  const self = this;
  self.actionFromTable({
    /* Variables enviadas al modal con la data que corresponde al row seleccionado */
    descripcionCon: data.desCondicion,
    applicate: data.applicate,
    codigoEstCon: window.atob(data.codigoEstCon),
    porcParticipacion: data.porcParticipacion,
    porcVenta: data.porcVenta,
    utility: data.porcUtilidad,
    tipoJugada:data.codigoTipJugada,
    /* Fin variables enviadas al modal con la data que corresponde al row seleccionado */

    /* Opciones de los select enviadas al modal */
    frecuenciaOptions: this.frecuenciaOptions,
    entidadOptions: this.entidadOptions,
    utilityFreq: data.codigoFrecPago,
    formaDePremiacion: data.codigoForPremiacion,
    codigoAplica:data.codigoAplica,
    codigoCondicion: data.codigoCondicion,
    formaDePremiacionOptions: this.formaDePremiacionOptions,
    estatusOptions: statusOptions,
    tipoJugadaOptions: this.tipoJugadaOptions
    /* Fin opciones de los select enviadas al modal */
  }, mode);

}

async function fetchEstatus() {
  const self = this;
  fetchRequest({
    api: this.$apiGeneral+'ListarEstatus/MDE=',
    self,
    success: (rjson) => {
      this.estatusOptions = rjson.datos;
      this.estatusOptions = [{ codigo: '00', descripcion: 'TODOS' }, ...this.estatusOptions];

    },
    error: (rjson) => {
      console.error('jsonResponse', rjson);
    },
  });
}


async function fetchEntidad() {
  const self = this;
  fetchRequest({
    api: `${this.$apiGeneral}ListarEntidadGeneral/${self.auth_tokenUsuario}/`,
    self,
    success: (rjson) => {
      
      self.entidadOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        };
      });
      self.entidadOptions = [{ label: 'SELECCIONE', value: 'MDA=' }, ...self.entidadOptions];
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson);
    },
  });
}

async function fetchTipoJugada() {
  const self = this;
  fetchRequest({
    api: `${this.$apiGeneral}ListarTipoJugada/${self.auth_tokenUsuario}`,
    self,
    success: (rjson) => {
      
      self.tipoJugadaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        };
      });
      self.tipoJugadaOptions = [{ label: 'TODAS', value: 'MDA=' }, ...self.tipoJugadaOptions];
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson);

    },
  });
}


async function fetchFormaDePremiacion() {
  const self = this;
  let codComprador = window.btoa('000000');
  fetchRequest({
    api: `${this.$apiGeneral}Listarformapremiacion/${this.auth_tokenUsuario}/${codComprador}`,
    self,
    success: (rjson) => {
      self.formaDePremiacionOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        };
      });
      self.formaDePremiacionOptions = [{ label: 'TODAS', value: 'MDA=' }, ...self.formaDePremiacionOptions];
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson);

    },
  });
}

async function fetchFrecuencia() {
  const self = this;
  fetchRequest({
    api: this.$apiGeneral+'ListarFrecuenciaUti/MDE=',
    self,
    success: (rjson) => {
      self.frecuenciaOptions = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        };
      });
      self.frecuenciaOptions = [{ label: 'TODAS', value: 'MDA=' }, ...self.frecuenciaOptions];
    },
    error: (rjson) => {
      console.error('entidadOptions', rjson);

    },
  });
}

async function fetchCC() {
  const self = this;
  fetchRequest({
    api: `${this.$apiAdministrativo}ConsultarCompradrorCondicion/${this.auth_tokenUsuario}/MDA=`,
    self,
    success: (rjson) => {
      self.ccOptions = rjson.datos.map((val) => {
        return {
          value: val.codComprador,
          label: val.nomComprador
        };
      });

    },
    error: (rjson) => {
      console.error('jsonnnn', rjson);

    },
  });
}

function shouldDisabled() {
  return this.loadingFilters && (this.mode === 'view' && !this.modifying) || this.fetching
}


function saveEsquemaNegociacion(data) {
  //this.tableData = [...this.tableData, data];
  fetchRequest({
    api: this.$apiAdministrativo+'GestionarCondicionNegociacion',
    method: 'POST',
    self,
    body: {
      tokenUsuario: this.auth_tokenUsuario,
			...data
    },
    success: (rjson) => {      
      this.fireToastMsg(rjson.mensaje.descripcion, { icon: 'success' });
    },
    error: (rjson) => {
      console.error('error post',rjson);
      this.fireToastMsg(rjson.msg, { icon: 'warning' });
    },
    done: () => {
      this.esquemaModalVisible = false;
      this.modalDecorator(this, 'modalesquemaDecorator');
      this.fetchEsquemas();
    }
  });
  /* this.esquemaModalVisible = false;
  this.modalDecorator(this, 'modalesquemaDecorator'); */
  
}

function editEsquemaNegociacion(data, isDetail = false) {
  if (data?.guid) {
    const ind = this.tableData.findIndex(row => row.guid === data.guid);
    if (ind > -1) {
      this.tableData[ind] = { ...this.tableData[ind], ...data };
      this.editEsquema(data); //MOMENTANEO
    }
    this.esquemaModalVisible = false;
    this.modalDecorator(this, 'modalesquemaDecorator');
    if (ind > -1) this.fireToastMsg(`El${isDetail ? ' detalle del' : ''} Esquema de Negociación fue actualizado con éxito.`, { icon: 'success' });
  }
}

function limpiarInputs(){
  this.entidad = 'MDA=';
  this.formaDePremiacion = 'MDA=';
  this.tipoJugada = 'MDA=';
  this.frecuencia = 'MDA=';
}

// SETUP
function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)
  // 
  loadToggler()

  /* Encabezado de la tabla 
    attr: key para asignar el value
    name: label de la tabla
    str: si posee un string adicional
  */
  const optionsColWidthRem = 6
  const forTabla = [
    [{ name: 'descripción', attr: 'desCondicion' }],
    [{ name: 'Entidad que aplica', attr: 'entidadAplica' }],
    [{ name: 'estatus', attr: 'estatusCondicion' }],
    [{ name: 'Forma de premiación', attr: 'desForPremiacion' }],
    [{ name: 'Frecuencia', attr: 'frecPago' }],
    [{ name: 'Tipo de jugada', attr: 'desTipJugada' }],
    [{ name: 'porcentaje venta', attr: 'porcVenta', str: '%' }],
    [{ name: 'porcentaje utilidad', attr: 'porcUtilidad', str: '%' }],
    [{ name: 'porcentaje participación', attr: 'porcParticipacion', str: '%' }],
    
  ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(1),
    ...modalSetupData('esquema'),
    labels,
    v$: useVuelidate(),
    esquemaRegister: esquemaRegister(),
    inTableData,
    auth_tipoUsuario,
    optionsColWidthRem,
    esquemaFilters,
    auth_tokenUsuario
  }
}

// MOUNTED
function mounted() {
  this.tRef = 'esquemaNegociacionTable';
  this.canDelete = 'esquemanegociacion'; //MOMENTANEO
  // this.fetchEsquemas();
  this.fetchEstatus();
  this.fetchEntidad();
  this.fetchFormaDePremiacion();
  this.fetchFrecuencia();
  this.fetchCC();
  this.fetchTipoJugada();
}

//DATA
function data() {
  return {
    cc: 'seleccione',
    entidad: 'MDA=',
    formaDePremiacion: 'MDA=',
    tipoJugada:'MDA=',
    frecuencia: 'MDA=',
    loadingFilters: false,
    annoOptions: [],
    fetching: false,
    estatusR: '00',
    estatusOptions: [],
    entidadOptions: [],
    frecuenciaOptions: [],
    formaDePremiacionOptions: [],
    ccOptions: [],
    tipoJugadaOptions:[],
    utilityFreq: 'Seleccione'
  }
}

export default {
  components: { CCTable, ModalEsquemaNegociacion, /* CCFormStructureWrapper, */ CCInput },
  name: 'EsquemaNegociacion',
  data,
  mixins: [
    globalMixin,
    tableGenerals,
    modalGenerals
  ],
  setup,
  methods: {
    fetchEsquemas,
    fetchTipoJugada,
    fetchEstatus,
    saveEsquemaNegociacion,
    editEsquemaNegociacion,
    fetchFormaDePremiacion,
    fetchEntidad,
    fetchFrecuencia,
    shouldDisabled,
    esquemaDataRegister,
    fetchCC,
    handlerFormPago,
    esquemaDataEdit,
    totalOptions: function (fo) {
      const options = this.getOptions(fo.options);
      const totoptions = [
        ...(options?.length && fo.model == 'seccion' ? [{ label: 'Todas las secciones', value: 'todos', producto: 'todos' }] : []),
        ...(options || [])
      ];
      return totoptions
    },
    limpiarInputs,
  },
  mounted,
  /* Validaciones */
  validations() {
    return sorteoFechasVals
  }
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>