<template>
  <CCol>
    <CCard class="mb-4">
      <CCardHeader><h5>Configurar cupos</h5></CCardHeader>
      <CCardBody>
        <CRow class="mb-4"> 
          <CCol xs="12" lg="4">                            
            <CCol class="mb-1">Producto</CCol>
            <CCInput
              :allData="{                                                   
              errorMessageClasses: 'wrong-input',
              type: 'select',
              }"
              v-model="producto"
              :v_="v$.producto"                                                                             
              :execute="
              () => {
                  v$.producto.$touch()
              }
              "
              :options="productoOption"       
              @Change="changeProd()"                                                 
            />    
          </CCol> 
          <CCol xs="12" lg="4">                            
            <CCol class="mb-1">Sección</CCol>
            <CCInput
              :allData="{                                                   
              errorMessageClasses: 'wrong-input',
              type: 'select',
              }"
              v-model="seccion"
              :v_="v$.seccion"                                                    
              :execute="
              () => {
                  v$.seccion.$touch()
              }
              "
              :options="seccionOption"
              :disabled="producto != 'seleccione' ? false : true"
              hideSeleccione              
            />    
          </CCol> 
          <CCol xs="12" lg="4">                            
            <CCol class="mb-1">Moneda</CCol>
            <CCInput
              :allData="{                                                   
              errorMessageClasses: 'wrong-input',
              type: 'select',
              }"
              v-model="moneda"
              :v_="v$.moneda"                                                    
              :execute="
              () => {
                  v$.moneda.$touch()
              }
              "
              :options="monedaOption"                     
            />    
          </CCol>              
        </CRow>  
        <CRow class="mb-4"> 
          <CCol xs="12" lg="12" class="mt-3">
            <CButton                                                          
              class="btn-primario"
              @click="fetchListarModSec()"
              :disabled="!isValid"                       
            >
            Buscar
            </CButton>                
          </CCol>
        </CRow> 
        <CRow class="mb-4">
          <CCTable
            :ref="tRef"
            v-model="currentPage"
            :tableData="tableData"
            :inTableData="inTableData"
            :setTableState="setTableState"
            :showPagination="showPagination"
            :setShowPagination="setShowPagination"
            :loading="tableDataLoading"
            :optionsColWidth="optionsColWidthRem"
            maxHeight="30rem"
            doNotEmit
            :checkCol="true"                       
            :valsAttrs="['montoCupo']"
            :attrVals="{ montoCupo: [1,2] }"
            :alertError="($event)=>{  theresError = $event}"
          />                    
        </CRow>
        <CRow class="mb-4">
          <CCol class="d-md-flex">                        
            <CButton
              class="btn-primario adapt-all-md mb-2 mb-md-0 ms-md-auto me-md-2" 
              @click="fetchGestionarCupo()" 
              :disabled="disabledAction"                                                  
            >
              Guardar
            </CButton>
            <CButton
              class="btn-terciario adapt-all-md me-md-auto ms-md-2"      
              @click="cleanAll()"                      
            >
              Cancelar
            </CButton>
          </CCol>
        </CRow>
      </CCardBody>
    </CCard>
  </CCol>
</template>

<script>
  import CCInput from '@/components/custom/CCInput.vue'
  import globalMixin from '@/_mixins/globals'
  import { storeToRefs } from 'pinia'
  import { useAuth } from '@/store/auth'
  import { loadToggler } from '@/composables/loadToggler'
  import { fetchRequest, caseWrong } from '@/_helpers/fetchToolkit'
  import useVuelidate from '@vuelidate/core'
  import configurarCuposVal from '@/_validations/configurarCupos/configurarCuposVal'
  import CCTable from '@/components/custom/CCTable.vue'
  import tableGenerals from '@/_mixins/tableGenerals'
  import {
    optionsColWidthRemStup,
    setupData,
    tableDataStruc,
  } from '@/composables/tableDataStruc'
  import { LABELS as labels } from '@/_helpers/labels'

  //---------------------------------------------------------- LISTAR PRODUCTOS ----------------------------------------------------------------
  async function fetchListarProductos() {
    const self = this
    fetchRequest({
      api:
        this.$apiGeneral + 'ListarProductos/MDAwMA==',
      self,
      success: (rjson) => {
        self.productoOption = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.productoOption = [
        //{ label: 'SELECCIONE...', value: 'MDA=' },
          ...self.productoOption,
        ]
      },
      error: (rjson) => {
        console.error('productoOption', rjson)
      },
    })
  }

  //---------------------------------------------------------- LISTAR SECCION ----------------------------------------------------------------
  async function fetchListarSeccion() {
    const self = this  
    fetchRequest({
      api:
        this.$apiGeneral + 'ListarSecciones/'+self.producto+'/MDAwMA==',
      self,
      success: (rjson) => {
        self.seccionOption = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.seccionOption = [
        { label: 'TODOS', value: 'MDAwMA==' },
          ...self.seccionOption,
        ]
      },
      error: (rjson) => {
        console.error('seccionOption', rjson)
      },
    })
  }

  //---------------------------------------------------------- LISTAR MONEDAS ----------------------------------------------------------------
  async function fetchListarMoneda() {
    const self = this  
    fetchRequest({
      api:
        this.$apiGeneral + 'ListarMonedaComercializadora/'+self.auth_tokenUsuario,
      self,
      success: (rjson) => {
        self.monedaOption = rjson.datos.map((val) => {
          return {
            value: val.codigo,
            label: val.descripcion,
          }
        })
        self.monedaOption = [
        //{ label: 'SELECCIONE..', value: 'MDA=' },
          ...self.monedaOption,
        ]
      
        if (self.monedaOption.length === 1) {
          self.moneda = self.monedaOption[0].value
        }
      },
      error: (rjson) => {
        console.error('monedaOption', rjson)
      },
    })
  }

  //---------------------------------------------------------- LISTAR CUPOS MODALIDAD SECCION ---------------------------------------------------
  async function fetchListarModSec() {
      this.tableDataLoading = true
      const self = this   
      fetchRequest({
      api: `${this.$apiAdministrativo}ConsultarModalidadSeccion/${self.auth_tokenUsuario}/${self.producto}/${self.seccion}/${self.moneda}`,   
      self,
      success: (rjson) => {
        self.tableData = rjson.datos      
        if (rjson.mensaje.codigo === '000') {       
          self.tableData = rjson.datos  
          self.tableData = rjson.datos.map((val) => {
          return {                      
            modalidad: val.descModalidad,
            seccion: val.descSeccion,  
            montoCupo: val.cupoModalidad,

            codModalidad: val.codigoModalidad,
            codSeccion: val.codigoSeccion,          
          }
        })      
        }
      },
      error: (rjson) => {
        self.tableData = []
        return caseWrong({
          self,
          error: rjson.msg || rjson,
          passMsg: Boolean(rjson.msg),
          defaultMsg: labels.defaultErrorMsg,
        })
      },
      done: () => {
        self.tableDataLoading = false
      },
    })
  }

  //---------------------------------------------------------- PROCESAR CUPOS ---------------------------------------------------
  async function fetchGestionarCupo() {
    const self = this    
    self.cupoModalidadSeccion = self.selectedOnesFromTable.map((val) => {
      return {
          codigoModalidad: val.codModalidad,
          codigoSeccion: val.codSeccion,
          cupoModalidad: val.montoCupo,        
      }
    })

    fetchRequest({
      api: this.$apiAdministrativo+'ConfigurarCupo ',
      method: 'POST',
      self,
      body: {
        tokenUsuario: self.auth_tokenUsuario,
        codigoProducto: self.producto,
        Moneda: self.moneda,
        ListCupos: self.cupoModalidadSeccion,
      },
      success: () => {            
        self.fireToastMsg('Cupos configurados de manera exitosa', {
            icon: 'success',
        })
        self.cupoModalidadSeccion = []
        self.tableData = []   
        self.setTableDeselected()           
      },
      error: async (rjson) => {            
        return caseWrong({
          self,
          error: rjson.msg || rjson,
          passMsg: Boolean(rjson.msg),
          defaultMsg: labels.defaultErrorMsg,
        })
      },
      })
      self.setTableDeselected() 
  }

//------------------------------------------------------------------------------------------------------------------------------------

  function setup() {  
    const authStore = useAuth()
    const { auth_tokenUsuario, auth_tipoUsuario } = storeToRefs(authStore)

    loadToggler()

    const optionsColWidthRem = 2
    const forTabla = [
      [{ name: 'Modalidad', attr: 'modalidad', dir: 'no' }, 20],
      [{ name: 'Sección', attr: 'seccion', dir: 'no' }, 20],        
      [
      {
        name: 'Cupo',
        attr: 'montoCupo',
        dir: 'dot',
        inputable: 'text',
      },        
      ],
    ]
    const inTableData = tableDataStruc(
      forTabla.map((tableCol) => ({
        ...tableCol[0],
        ...(tableCol[1]
        ? optionsColWidthRemStup(
          tableCol[1],
          forTabla.length,
          optionsColWidthRem,
        )
        : {}),
      })),
    )

    return {   
        ...setupData(1),
        v$: useVuelidate(),
        auth_tokenUsuario,
        auth_tipoUsuario,
        optionsColWidthRem,
        inTableData,
    }
  }

  function data() {
    return {
      producto: 'seleccione',
      productoOption: [],
      seccion: 'MDAwMA==',
      seccionOption: [],
      moneda: 'seleccione',
      monedaOption: [],
      cupoModalidadSeccion: [],
      theresError: false,
    }
  }

 /* function cleanTable(){
    const self = this
    self.cupoModalidadSeccion = []
    self.tableData = [] 
  }*/

  function cleanAll() {
    const self = this
    self.producto = 'seleccione'    
    self.seccionOption = [],
    self.moneda = 'seleccione' 
    if (self.monedaOption.length === 1) {
      self.moneda = self.monedaOption[0].value
    } 
    self.tableData = []
    self.v$.$reset()
    self.tableDataLoading = false  
  }

  function changeProd(){
    const self = this
    if (self.producto != 'seleccione') {
      this.fetchListarSeccion()
      this.seccion = 'MDAwMA=='
      //this.cleanTable()
    } else {
      this.seccion = 'MDAwMA==',
      this.seccionOption = []  
    } 
  }

  export default {
    name: 'configurarCupos',
    components: { CCInput, CCTable,},
    mixins: [globalMixin,tableGenerals],
    setup,
    computed: {
      isValid: function () {      
        return (this.producto != 'seleccione' && this.moneda != 'seleccione')       
      },    
      disabledAction: function () {
        return !this.selectedOnesFromTable.length || this.theresError || this.moneda === 'seleccione' || this.producto === 'seleccione'
      },
    },
    data,
    methods: {
      fetchListarProductos,
      fetchListarSeccion,
      fetchListarMoneda,
      fetchListarModSec,
      fetchGestionarCupo,
      //cleanTable,
      cleanAll,
      changeProd,
    },
    mounted() {
      this.fetchListarProductos() 
      this.fetchListarMoneda()  
    },
    validations() {
      return configurarCuposVal()
    },  
  }
</script>