<template>
  <div>
    <showInfo
      ref="modalshowinfoDecorator"
      :modal="showinfoModalDta"
      :visible="showinfoModalVisible"
      :close="closeShowInfoModal"
    />
  </div>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Listado de ticket premiado</h5></CCardHeader>
        <CCardBody>
          <DateFilter
            :siFechaDesde="true"
            :siFechaHasta="true"
            :siSorteo="true"
            :siTaquilla="true"
            :siSwitch="false"
            :siConsultar="true"
            :siImprimir="true"
          />
          <CCTable
            :tableData="tableData"
            :inTableData="inTableData"
            :ref="tRef"
            v-model="currentPage"
            :showPagination="showPagination"
            :setShowPagination="setShowPagination"
            :unselectFromTable="eraseFromTable"
            :loading="tableDataLoading"
            maxHeight="10rem"
            doNotEmit
            :showDelete="false"
            :showEdit="false"
            :showView="true"
            :checkCol="false"
            :setTableState="setTableState"
            :hideActions="false"
            :viewFromTable="sendData"
          />
          <CCol
            class="text-lg-center mx-auto mb-3 d-flex justify-content-center"
            xs="12"
            lg="6"
          >
            Total:
            <CCol lg="3">
              <h6 class="ml-3">
                {{
                  tableData.reduce(
                    (sum, value) =>
                      typeof value.montoT == 'number'
                        ? sum + value.montoT
                        : sum,
                    0,
                  )
                }}
              </h6>
            </CCol>
            <CCol lg="3">
              <h6>
                {{
                  tableData.reduce(
                    (sum, value) =>
                      typeof value.montoP == 'number'
                        ? sum + value.montoP
                        : sum,
                    0,
                  )
                }}
              </h6>
            </CCol>
          </CCol>
          <CCol class="mx-auto mt-3" xs="12" lg="6">
            <CRow class="mt-0 mt-lg-4">
              <CCol class="section-container">
                <h6 class="reference">Resumen</h6>
                <CCTable
                  :tableData="tableData2"
                  :inTableData="inTableData2"
                  :ref="tRef"
                  v-model="currentPage"
                  :showPagination="showPagination"
                  :setShowPagination="setShowPagination"
                  :unselectFromTable="eraseFromTable"
                  :loading="tableDataLoading"
                  maxHeight="10rem"
                  doNotEmit
                  :showDelete="false"
                  :showEdit="false"
                  :showView="false"
                  :checkCol="false"
                  :setTableState="setTableState"
                  :hideActions="true"
                />
              </CCol>
            </CRow>
          </CCol>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import DateFilter from '@/components/date-filter.vue'
import showInfo from './showInfo.vue'
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc'
import CCTable from '@/components/custom/CCTable.vue'
import tableGenerals from '@/_mixins/tableGenerals'
import globals from '@/_mixins/globals';
import { loadToggler } from '@/composables/loadToggler'
import { modalSetupData } from '@/composables/modalDataStruct'

function sendData(data) {
  this.showinfoModalDta = data
  this.showinfoModalVisible = true
}

function closeShowInfoModal () {
  this[this.modalPre+'ModalVisible'] = false;
  this.modalDecorator(this, 'modal'+this.modalPre+'Decorator');
  this[this.modalPre+'ModalDta'] = {};
}

function setup() {
  loadToggler()

  const optionsColWidthRem = null
  const forTabla = [
      [{ name: 'Fecha', attr: 'fecha' }],
      [{ name: 'Taquilla', attr: 'taquilla' }],
      [{ name: 'Ticket', attr: 'ticket' }],
      [{ name: 'Monto Ticket', attr: 'montoT' }],
      [{ name: 'Monto Premio', attr: 'montoP' }],
      [{ name: 'Estatus', attr: 'estatus' }],
    ]
  const forTabla2 = [
      [{ name: 'Cantidad de ticket', attr: 'cantidad' }, 33],
      [{ name: 'Estatus', attr: 'estatus' }, 33],
      [{ name: 'Total bs', attr: 'total' }, 33],
    ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))
  const inTableData2 = tableDataStruc(forTabla2.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla2.length, optionsColWidthRem) : {}) })))

  return {
    ...setupData(2),
    ...modalSetupData('showinfo',true),
    inTableData,
    inTableData2,
  }
}
export default {
  setup,
  components: {
    DateFilter,
    showInfo,
    CCTable,
  },
  mixins: [globals, tableGenerals],
  methods: {
    sendData,
    closeShowInfoModal,
  },
  mounted() {
    this.tRef = 'listado'
    this.tRef2 = 'resumen'
    ;(this.tableData2 = [
      {
        cantidad: '25',
        estatus: 'Pagado',
        total: '123456',
      },
      {
        cantidad: '10',
        estatus: 'No Pagado',
        total: '123456',
      },
      {
        cantidad: '35',
        estatus: 'Premiado',
        total: '123456',
      },
    ]),
      (this.tableData = [
        {
          fecha: '01/30/2022',
          taquilla: '1',
          ticket: '123456',
          montoT: 10.5,
          montoP: 70.1,
          estatus: 'Pagado',
        },
        {
          fecha: '01/30/2022',
          taquilla: '1',
          ticket: '123456',
          montoT: 40.0,
          montoP: 40,
          estatus: 'No Pagado',
        },
        {
          fecha: '01/30/2022',
          taquilla: '1',
          ticket: '123456',
          montoT: 12.2,
          montoP: 15.11,
          estatus: 'Pagado',
        },
      ])
  },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
.customs-title-table {
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  padding: 10px;
  margin: 0;
}
</style>
