<template>
  <CModal :visible="visible" @close="close" >
    <CModalHeader>
      <CModalTitle> Detalle del ticket </CModalTitle>
    </CModalHeader>
    <CModalBody>
      <h6> Fecha: {{date}} </h6>
      <h6>Taquilla: {{boxOffice}} </h6>
      <h6>Monto del ticket: {{ticketAmount}} </h6>
      <h6>Monto del premio: {{ticketp}} </h6>
      <h6>Estatus: {{status}} </h6>
    </CModalBody>
    <CModalFooter>
      <CButton color="secondary" @click="close"> Cerrar </CButton>
    </CModalFooter>
  </CModal>
</template>
<script>
export default {
  data() {
    return {
      date : '',
      boxOffice:'',
      ticketAmount:'',
      ticketp :'',
      status :'',
    }
  },
  props: {
    modal: Object,
    visible: Boolean,
    close: Function,
  },
  watch: {
    visible: function (val) {
      if (val) {
        this.date = this.modal.fecha;
        this.boxOffice = this.modal.taquilla;
        this.ticketAmount = this.modal.montoT;
        this.ticketp = this.modal.montoP;
        this.status = this.modal.estatus;
      }
    },
  },
  //   changePageTitle(modal) {
  //       this.$emit('update:modal', modal) // previously was `this.$emit('input', title)`
  //     }
}
</script>
