<template>
  <CModal
    size="lg"
    alignment="center"
    backdrop="static"
    :visible="visible"
    @close="shouldClose"
  >
    <CModalHeader>
      <CModalTitle>Información de las cuentas</CModalTitle>
    </CModalHeader>
    <CModalBody>
      <CRow v-for="data of datosInfoCuenta" :key="data">
        <CCol class="color-text " xs="12" lg="6">Banco: {{ data.nomBanco }} </CCol>
        <CCol class="color-text " xs="12" lg="6">No. de Cuenta: {{ data.numCuenta }}</CCol>
        <CCol class="color-text " xs="12" lg="6">No. de Documento: {{ data.numDocumento }}</CCol>
        <CCol class="color-text " xs="12" lg="6">No. del Titular: {{ data.titCuenta }}</CCol>
				<hr/>
      </CRow>
    </CModalBody>
  </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals'

function shouldClose() {
  this.close()
}

function visibleW(val) {
  if (val) {
    this.datosInfoCuenta = this.data.map((data) => {
      return {
        nomBanco: data.banco,
        numCuenta: window.atob(data.numeroCuenta),
        numDocumento: window.atob(data.numeroDocumento),
        titCuenta: data.titularCuenta,
      }
    })
  } else this.datosInfoCuenta = []
}

export default {
  data() {
    return {
      datosInfoCuenta: [],
    }
  },
  name: 'ModalInfoCuentas',
  mixins: [globalMixin],
  methods: {
    shouldClose,
  },
  props: {
    visible: Boolean,
    close: Function,
    data: Object,
  },
  watch: {
    visible: visibleW,
  },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
.color-text {
  color: #1c4c96;
}
hr{
	height: 1px;
	background-color: #1c4c96;
	margin: 1em 0;
}
</style>
