<template>
  <CModal
    size="lg"
    alignment="center"
    backdrop="static"
    :visible="visible"
    @close="close"
  >
    <CModalHeader>
      <CModalTitle>Validar ticket</CModalTitle>
    </CModalHeader>
    <CModalBody>
      <div class="custon-align-center">
        <CCol xs="12" lg="12">
          <CFormLabel for="serial">Serial</CFormLabel>
          <CCol>
            <CFormInput
              maxlength="25"
              v-model="localFormData.serial"
              type="text"
              disabled
              class="mb-3"
            />
          </CCol>
        </CCol>
        <CCol xs="12" lg="12">
          <CFormLabel for="monto-apuesta">Monto de apuesta</CFormLabel>
          <CCol>
            <CFormInput
              maxlength="25"
              v-model="localFormData.montoApuesta"
              type="text"
              disabled
              class="mb-3"
            />
          </CCol>
        </CCol>
        <CCol xs="12" lg="12">
          <CFormLabel for="monto-premio">Monto del premio</CFormLabel>
          <CCol>
            <CFormInput
              maxlength="25"
              v-model="localFormData.montoPremio"
              type="text"
              disabled
              class="mb-3"
            />
          </CCol>
        </CCol>
        <CCol xs="12" lg="12">
          <CFormLabel for="monto-premio">Monto del reintegro</CFormLabel>
          <CCol>
            <CFormInput
              maxlength="25"
              v-model="localFormData.montoReintegro"
              type="text"
              disabled
              class="mb-3"
            />
          </CCol>
        </CCol>
        <CCol xs="12" lg="12" v-if="!auxCedula">
          <CFormLabel for="monto-premio">Nro de cédula</CFormLabel>
          <CCol>
            <CFormInput
              :placeholder = "'V20000000'"
              maxlength="9"
              v-model="cedula"
              type="text"
              class="mb-3"
            />
          </CCol>
          <CCol class="mb-1">Ej. V20000000</CCol>
        </CCol>
        <CFormLabel for="serial" v-if="auxCedula"
          >¿Está seguro que desea pagar el premio?</CFormLabel
        >
      </div>
    </CModalBody>
    <div v-if="auxCedula">
      <CModalFooter v-if="showFooter" class="justify-content-center">
      <CButton ref="acceptbtn" class="btn-primario" @click="btnSi" > Sí </CButton>
      <CButton ref="cancelbtn" class="btn-primario" @click="close">
        No
      </CButton>
    </CModalFooter>
    </div>
    <div v-else>
      <CModalFooter v-if="showFooter" class="justify-content-center">
        <CButton ref="acceptbtn" class="btn-primario" @click="pagar_ticket(1, this.cedula)" :disabled="this.cedula.length < 8"> Pagar </CButton>
      </CModalFooter>
    </div>
  </CModal>
</template>

<script>
import globalMixin from '@/_mixins/globals'

function btnSi() {
  if(this.formData.estatusCedula === '1'){
    this.auxCedula = false
  } 
  else{
    this.pagar_ticket(1)
  }
}

// WATCH
function visibleW(/* val */) {
    this.auxCedula = true
    this.cedula =  ''
}

export default {
  name: 'ModalTaquillaSistAdmin',
  mixins: [globalMixin],
  data() {
    return {
      agency: '',
      ticketStore: '',
      serial: '',
      status: false,
      //
      modifying: false,
      auxCedula: true,
      cedula: ''
    }
  },
  props: {
    visible: Boolean,
    close: Function,
    pagar_ticket:Function,
    formData: {
      type: Object,
      default: () => {},
    },
    data: Object,
    showFooter: {
      type: Boolean,
      default: true,
    },
  },
  watch: {
    visible: visibleW,
  },
  computed: {
    localFormData() {
      return this.formData
    },
  },
  methods: {
    btnSi,
  },
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
.custon-align-center{
  display: grid;
  place-content: center;
}
</style>
