<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader>
          <h5>Gestión de usuarios</h5>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCTable
              :ref="tRef"
              v-model="currentPage"
              :tableData="tableData"
              :inTableData="inTableData"
              :setTableState="setTableState"
              :showPagination="showPagination"
              :setShowPagination="setShowPagination"
              :viewFromTable="viewActualizar"
              :editFromTable="viewActualizar"
              :loading="tableDataLoading"
              :optionsColWidth="optionsColWidthRem"
              :showDelete="false"
              maxHeight="30rem"
              doNotEmit
              :iconDistinct="true"
              :pageSize="10"
            />
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalActualizar
    ref="modalactualizarDecorator"
    :visible="actualizarModalVisible"
    :data="actualizarModalDta"
    :close="closeModal"
    :mode="actualizarMode"
    :edit="actTaquilla"
    :actUsuario="fetchUsuarios"
  />
</template>

<script>
import CCTable from '@/components/custom/CCTable.vue'
import globalMixin from '@/_mixins/globals'
import tableGenerals from '@/_mixins/tableGenerals'
import modalGenerals from '@/_mixins/modalGenerals'
import ModalActualizar from './modales/modalActualizar.vue'
import { storeToRefs } from 'pinia'
import { useAuth } from '@/store/auth'
//import { resCodes } from "@/_helpers/general";

import {
  optionsColWidthRemStup,
  setupData,
  tableDataStruc,
} from '@/composables/tableDataStruc'
import { modalSetupData } from '@/composables/modalDataStruct'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { LABELS as labels } from '@/_helpers/labels'
// METHODS

async function viewActualizar(data, mode) {
  this.actionFromTable(
    {
      estatusUsuario : window.atob(data.estatusUsuario),
      login: data.login,
      taquilla: data.taquilla,
      estatusHorario: data.estatusHorario,
      estatusAnular:data.estatusAnular,
      horaDesde: data.horaDesde,
      horaHasta: data.horaHasta,
      listaMenu: data.listaMenu,
    },
    mode,
  )
}

async function actTaquilla(data) {
  const self = this
  fetchRequest({
    api: this.$apiUsuario+'EditarUsuario',
    method: 'PUT', self,
    body: {
      tokenUsuario: self.auth_tokenUsuario,
      codigoSoftware: 'MDE=',
      loginUsuario: data.loginUsuario,
      estatusUsuario: data.estatusUsuario,
      estatusHorario: window.btoa(data.estatusHorario),
      horaDesde: data.horaDesde,
      horaHasta: data.horaHasta,
      estatusAnular: data.estatusAnular,
      listaMenu: data.listaMenu,
    },
    success: (rjson) => {
      const msg = rjson?.mensaje?.description || rjson?.message?.description || rjson?.mensaje?.descripcion;
      self.fireToastMsg(msg, { icon: 'success' });
      self.fetchUsuarios();
    },
    error: (rjson) => {
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
    done: () => {
        self.actualizarModalVisible = false;
        self.modalDecorator(self,'modalactualizarDecorator');
      }
  });
  
}

async function fetchUsuarios() {
 
  this.tableDataLoading = true
  const self = this;
  fetchRequest({
    api: this.$apiUsuario+'ListarUsuarios/'+self.auth_tokenUsuario+'/MDE=',
    self,
    success: (rjson) => {
          self.tableData = rjson.datos.map((val) => {
          return {
            taquilla: window.atob(val.codigoTaquilla),
            login: window.atob(val.loginUsuario),
            estatus: val.descripcionEstatus,
            horario: (val.horaDesde != ' ' && val.horaHasta != ' ') ? convertHora(val.horaDesde) + ' - ' + convertHora(val.horaHasta) : '-',
            estatusHorario: val.estatusHorario,
            horaDesde: val.horaDesde != ' ' ? convertHora(val.horaDesde) : val.horaDesde,
            horaHasta: val.horaHasta != ' ' ? convertHora(val.horaHasta) : val.horaHasta,
            estatusUsuario: val.estatusUsuario,
            estatusAnular: val.estatusAnular,
            listaMenu: val.listaMenu
          };
        });
    },
    error: (rjson) => {
      console.error('error',rjson)
      self.tableData = []
      return caseWrong({ self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg), boolError: true });
    },
    done: () => {
      self.tableDataLoading = false
    },
  });
  //self.caducidad = self.caducidad_options.label;
}

function convertHora(val) {
  let auxHora = val.slice(0, 2)
  const auxHora2 = val.slice(3, 5)
  if (auxHora <= 12) {
    return auxHora + ':' + auxHora2 + ' ' + 'AM';
  } else {
    return auxHora - 12 + ':' + auxHora2 + ' ' + 'PM';
  }
}

// SETUP
function setup() {
  const optionsColWidthRem = 5
  const authStore = useAuth();
  const { auth_tokenUsuario } = storeToRefs(authStore)
  const forTabla = [
    [{ name: 'taquilla', attr: 'taquilla' }, 3],
    [{ name: 'Login del Taquillero', attr: 'login' }, 70],
    [{ name: 'Estatus', attr: 'estatus' }, 15],
    [{ name: 'Horario', attr: 'horario' }, 15],
  ]
  const inTableData = tableDataStruc(
    forTabla.map((tableCol) => ({
      ...tableCol[0],
      ...(tableCol[1]
        ? optionsColWidthRemStup(
            tableCol[1],
            forTabla.length,
            optionsColWidthRem,
          )
        : {}),
    })),
  )

  return {
    ...setupData(1),
    ...modalSetupData('actualizar'),
    inTableData,
    auth_tokenUsuario,
    optionsColWidthRem
  }
}

function mounted() {
  this.tRef = 'usuariosTable'
  this.fetchUsuarios()
}

export default {
  name: 'GestionUsuario',
  components: { CCTable, ModalActualizar },
  mixins: [globalMixin, tableGenerals, modalGenerals],
  setup,
  methods: {
    fetchUsuarios,
    viewActualizar,
    convertHora,
    actTaquilla
  },
  mounted,
}
</script>

<style>
</style>

