<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader>
          <h5>Configurar sorteo</h5>
        </CCardHeader>
        <CCardBody>
          <CRow class="mb-5">
            <CCFormStructureWrapper :formData="sorteoFilters">
              <template #formIn="formObj">
                <CCInput :allData="formObj" v-model="v$[formObj.model].$model" :v_="v$[formObj.model]"
                  :disabled="shouldDisabled()" :options="totalOptions(formObj)" />
              </template>
            </CCFormStructureWrapper>
          </CRow>
          <CRow class="mb-4">
            <CCTable :ref="tRef" v-model="currentPage" :tableData="tableData" :inTableData="inTableData"
              :setTableState="setTableState" :showPagination="showPagination" :setShowPagination="setShowPagination"
              :viewFromTable="viewSorteo" :editFromTable="configurarEdit" :showDelete=false
              :unselectFromTable="deleteSorteo" :alertMsgs="[labels.sureDelete(true, 'sorteo', false), labels.sureDelete(false, 'sorteo', false),
              labels.deleteAll('sorteos', false), labels.deleteOne('sorteo', false)]" :loading="tableDataLoading"
              :optionsColWidth="optionsColWidthRem" maxHeight="30rem" doNotEmit
              :optionsLabelsDynamic="{ estatusOptions, horaOptions, productoOptions, seccionOptions }" />
          </CRow>
          <CRow class="mb-3">
            <CCol>
              <CButton class="btn-primario adapt-all-md" @click="actionFromTable(sorteoData(), 'register')"
                :disabled="disabledAdd">
                Agregar
              </CButton>
            </CCol>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalSorteo ref="modalsorteoDecorator" :visible="sorteoModalVisible" :data="sorteoModalDta" :close="closeModal"
    :save="saveSorteo" :edit="editSorteo" :mode="sorteoMode" :formData="sorteoRegister"
    :options="{ estatusOptions, horaOptions, productoOptions, seccionOptions }" :dataTEST="tableData" />
</template>

<script>
//#region IMPORTS
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import modalGenerals from '@/_mixins/modalGenerals';
import useVuelidate from '@vuelidate/core';
import { loadToggler } from '@/composables/loadToggler'
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import CCTable from '@/components/custom/CCTable.vue';
import { sorteoFilters, sorteoRegister } from '@/_helpers/formData'
import sorteoFilterVals from '@/_validations/gestionSorteo/sorteoFilterVals';
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { optionsColWidthRemStup, setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { modalSetupData } from '@/composables/modalDataStruct';
import ModalSorteo from './modales/modalSorteo.vue';
import { LABELS as labels } from '@/_helpers/labels';
import { storeToRefs } from 'pinia';
import { useAuth } from '@/store/auth';
//#endregion

async function configurarEdit(data, mode) {
  this.actionFromTable({ // para abrir modal
    codigo: data.codigoSorteo,
    producto: data.codigoProducto,
    seccion: data.codigoSeccion,
    dia: data.nombreDia,
    codigoDia: data.codigoDia,
    hora: data.codigoHorario,
    turno: data.codigoTurno,
    status: data.estatusSorteo,
  }, mode);

}

//#region SETUP and DATA and HOOKS
function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
  loadToggler()

  const optionsColWidthRem = 5
  const forTabla = [
    [{ name: 'Código del sorteo', attr: 'codigoSorteo' }, 10],
    [{ name: 'Producto', attr: 'nombreProducto' }, 20],
    [{ name: 'Sección', attr: 'nombreSeccion' }, 25],
    [{ name: 'Día', attr: 'nombreDia' }, 15],
    [{ name: 'Hora', attr: 'descripcionHorario' }, 20],
    [{ name: 'Estado', attr: 'descripcionEstatus' }, 10],
  ]
  const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    v$: useVuelidate(),
    ...setupData(1),
    ...modalSetupData('sorteo'),
    sorteoFilters,
    sorteoRegister,
    inTableData,
    optionsColWidthRem,
    labels,
    auth_tokenUsuario,
  }
}

function data() {
  return {
    producto: 'seleccione',
    seccion: 'seleccione',
    loadingFilters: false,
    productoOptions: [],
    seccionOptions: [],
    hora: 'seleccione',
    turno: 'seleccione',
  }
}

function mounted() {
  this.tRef = 'sorteoTable';
  this.canDelete = 'sorteo';
  this.fetchWhich('productos');
}
//#endregion

//#region METHODS
function shouldDisabled() {
  return this.loadingFilters
}

function sorteoData() {
  const id = 'S' + String(this.tableData.length + 1).padStart(3, '0');
  const sorteo = {
    codigo: id,
    guid: id,
    producto: 'seleccione',
    seccion: 'seleccione',
    dia: 'seleccione',
    hora: 'seleccione',
    status: 'seleccione',
  };

  return sorteo
}

async function saveSorteo(data) {
  this.tableDataLoading = true;
  const self = this;

  fetchRequest({
    api: this.$apiEscrutinio+'InsertarSorteo',
    method: 'POST',
    self,
    body: {
      tokenUsuario: this.auth_tokenUsuario,
      detalleSorteos: data
    },
    success: () => {
      self.fireToastMsg('Sorteo añadido de manera exitosa', { icon: 'success' });
      self.fetchListarNuevo();
    },
    error: (rjson) => {
      console.error(rjson);
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
    done: () => {
      self.tableDataLoading = false;
      self.sorteoModalVisible = false;
      self.modalDecorator(self, 'modalsorteoDecorator');
    }
  });
}

async function viewSorteo(data, mode) {
  this.actionFromTable({ // para abrir modal
    codigo: data.codigo,
    producto: data.codigoProducto,
    seccion: data.codigoSeccion,
    dia: data.nombreDia,
    hora: data.codigoHorario,
    turno: data.codigoTurno,
    status: data.estatusSorteo,
  }, mode, 'producto');
}

function editSorteo(data/* , isDetail = false */) {
  this.tableDataLoading = true;
  const self = this;
  fetchRequest({ 
      api: this.$apiEscrutinio+'EditarSorteo',
      method: 'PUT',
      self,
      body: {
        tokenUsuario: this.auth_tokenUsuario,
        codigoSorteo: window.btoa(data.codigo),
        codigoProducto: data.producto, 
        codigoSeccion: data.seccion,
        codigoDia: window.btoa(data.codigoDia),
        codigoTurno: data.turno, 
        codigoHorario: data.hora,
        estatusSorteo: data.status, 
      },
      success: () => {
        self.fireToastMsg('Sorteo modificado de manera exitosa', { icon: 'success' });
        self.fetchListarNuevo();
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.tableDataLoading = false;
        self.sorteoModalVisible = false;
        self.modalDecorator(self,'modalsorteoDecorator');
      }
  });
}

async function fetchWhich(wch) {
  const [srts, prods, secs] = ['sorteos', 'productos', 'secciones'].map(w => wch == w);
  this[srts ? 'tableDataLoading' : 'loadingFilters'] = true;
  const self = this;
  fetchRequest({
    api: `${srts ? this.$apiEscrutinio : this.$apiGeneral}${prods ? 'ListarProductos/MDAwMA==' : secs ? 'ListarSecciones/' + self.producto + '/MDAwMA==' : 'ListarSorteos/' + self.auth_tokenUsuario + '/MDAwMA==/' + self.producto + '/' + self.seccion}`,
    self,
    success: (rjson) => {
      self[srts ? 'tableData' : `${prods ? 'producto' : 'seccion'}Options`] =
        srts ? rjson.datos.map((val) => {
          return {
            codigoDia: val.codigoDia,
            codigoHorario: val.codigoHorario,
            codigoProducto: val.codigoProducto,
            codigoSeccion: val.codigoSeccion,
            codigoSorteo: atob(val.codigoSorteo),
            codigoTurno: val.codigoTurno,
            descripcionEstatus: val.descripcionEstatus,
            descripcionHorario: val.descripcionHorario,
            estatusSorteo: val.estatusSorteo,
            nombreDia: val.nombreDia,
            nombreProducto: val.nombreProducto,
            nombreSeccion: val.nombreSeccion
          }
        })
          // self.tableData = [{label:'TODOS',value:'0'}, ...self.tableData];
          : prods ? rjson.datos.map((val) => {
            return {
              label: val.descripcion,
              value: val.codigo,
            };
          }) : rjson.datos.map((val) => {
            return {
              label: val.descripcion,
              value: val.codigo,
            };
          });
    },
    error: (rjson) => {
      console.error(rjson);
      self[srts ? 'tableData' : `${prods ? 'producto' : 'seccion'}Options`] = [];
      // const msg = rjson?.mensaje?.description || rjson?.message?.description;
      const msg = srts ? 'No hay sorteos registrados para las opciones indicadas' :
        prods ? 'No hay productos registrados para la lotería y operadora indicada' :
          'No hay secciones registradas para el producto indicado'
      return caseWrong({
        self, error: msg || rjson, passMsg: Boolean(msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
    done: () => {
      self[srts ? 'tableDataLoading' : 'loadingFilters'] = false;
    }
  });
}

async function fetchListarNuevo() {
  const self = this;
  fetchRequest({
    api: `${this.$apiEscrutinio}ListarSorteos/${this.auth_tokenUsuario}/MDAwMA==/MDAwMA==/MDAwMA==`,
    self,
    success: (rjson) => {
      self.tableData = rjson.datos.map((val) => {
        return {
          codigoDia: val.codigoDia,
          codigoHorario: val.codigoHorario,
          codigoProducto: val.codigoProducto,
          codigoSeccion: val.codigoSeccion,
          codigoSorteo: atob(val.codigoSorteo),
          codigoTurno: val.codigoTurno,
          descripcionEstatus: val.descripcionEstatus,
          descripcionHorario: val.descripcionHorario,
          estatusSorteo: val.estatusSorteo,
          nombreDia: val.nombreDia,
          nombreProducto: val.nombreProducto,
          nombreSeccion: val.nombreSeccion
        };
      });
    },
    error: (rjson) => {
      console.error(rjson);
      return caseWrong({
        self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      });
    },
  });
}

//#endregion

export default {
  name: 'ConfigurarSorteo',
  components: { CCInput, CCFormStructureWrapper, ModalSorteo, CCTable },
  mixins: [globalMixin, tableGenerals, modalGenerals],
  setup,
  data,
  validations() {
    return sorteoFilterVals
  },
  methods: {
    shouldDisabled,
    sorteoData,
    viewSorteo,
    saveSorteo,
    editSorteo,
    fetchWhich,
    configurarEdit,
    fetchListarNuevo,
    totalOptions: function (fo) {
      const options = this.getOptions(fo.options);
      const totoptions = [
        ...(options?.length && fo.model == 'producto' ? [{ label: 'TODOS LOS PRODUCCTOS', value: 'MDAwMA==' }] : []),
        ...(options?.length && fo.model == 'seccion' ? [{ label: 'TODAS LAS SECCIONES', value: 'MDAwMA==', producto: 'todos' }] : []),
        ...(options || [])
      ];
      return totoptions
    }
  },
  computed: {
    disabledAdd: function () {
      return this.tableDataLoading || this.loadingFilters/*  || [this.loteria, this.operadora, this.producto, this.seccion].some(slctOp => !slctOp || slctOp == 'seleccione') */
    },
  },
  watch: {
    producto: function (val) {
      this.producto = val;
      this.seccion = 'seleccione';
      if (val && val != 'seleccione') this.fetchWhich('secciones')
      else this.seccionOptions = [];
    },
    seccion: function (val) {
      this.seccion = val;
      if (val && val != 'seleccione') {
        this.fetchWhich('sorteos')
      }
      else this.tableData = [];
    },
  },
  mounted,
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>