<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Generar sorteo</h5></CCardHeader>
          <CCardBody>
            <CRow class="mb-4">
                <CCFormStructureWrapper :formData="fechaFilters">
                  <template #formIn="formObj">
                    <CCInput 
                        :allData="formObj"
                        v-model="v$[formObj.model].$model" 
                        :v_="v$[formObj.model]" 
                        :disabled="shouldDisabled()"
                        :options="totalOptions(formObj)"
                    />
                  </template>
                </CCFormStructureWrapper>
            </CRow>
            <CRow class="mb-3">
            <CCol>
              <CButton class="btn-primario adapt-all-md" @click="buscarSorteo()" :disabled="this.mes != 'seleccione' && this.anno != 'seleccione' && this.producto != 'seleccione' ? false : true">
                Buscar
              </CButton>
            </CCol>
          </CRow>
          <CRow class="mb-4">
            <CCTable 
                :ref="tRef" 
                v-model="currentPage" 
                :tableData="tableData" 
                :inTableData="inTableData"
                :setTableState="setTableState"
                :showPagination="showPagination"
                :setShowPagination="setShowPagination"
                :editFromTable="viewSorteoCalendario"
                :showDelete=false
                :showView=false
                :alertMsgs="[labels.sureDelete(true, 'mes', false), labels.sureDelete(false, 'mes', false), 
                  labels.deleteAll('mes', false), labels.deleteOne('mes', false)]"
                :loading="tableDataLoading"
                :optionsColWidth="optionsColWidthRem"
                maxHeight="30rem"
                doNotEmit
            />
          </CRow>
          </CCardBody>
      </CCard>
    </CCol>
  </CRow>
  <ModalGenerarSorteo 
    ref="modalsorteocalendarioDecorator"
    :visible="sorteocalendarioModalVisible" 
    :data="sorteocalendarioModalDta"
    :close="closeModal" 
    :edit="editSorteoCalendario"
    :mode="sorteocalendarioMode"
    :formData="sorteoCalendarioRegister"
  />
</template>

<script>
import { loadToggler } from '@/composables/loadToggler';
import CCTable from '@/components/custom/CCTable.vue';
import globalMixin from '@/_mixins/globals';
import tableGenerals from '@/_mixins/tableGenerals';
import ModalGenerarSorteo from './modales/modalGenerarSorteo.vue';
import CCInput from '@/components/custom/CCInput.vue';
import CCFormStructureWrapper from '@/components/custom/CCFormStructureWrapper.vue';
import { fechaFilters,sorteoCalendarioRegister } from '@/_helpers/formData';
import { optionsColWidthRemStup,setupData, tableDataStruc } from '@/composables/tableDataStruc';
import { modalSetupData } from '@/composables/modalDataStruct';
import { storeToRefs } from 'pinia';
import {caseWrong, fetchRequest } from '@/_helpers/fetchToolkit';
import { useAuth } from '@/store/auth';
import { LABELS as labels } from '@/_helpers/labels';
import sorteoFechasVals from '@/_validations/gestionSorteo/sorteoFechasVals';
import useVuelidate from '@vuelidate/core';
import modalGenerals from '@/_mixins/modalGenerals';

function clearInputs () {
    this.fetching = false;
    ['mes','anno','producto'].forEach(ths => this[ths] = 'seleccione');
    this.v$.$reset();
}

function setup() {
  loadToggler()
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)
    const optionsColWidthRem = 7
    const forTabla = [
        [{name: 'Número de Sorteo', attr: 'codSorteo'}],
        [{name: 'Día', attr: 'nomDia'}],
        [{name: 'Fecha', attr: 'fecSorteo'}],
        [{name: 'Producto', attr: 'nomProducto'}],
        [{name: 'Sección', attr: 'nomSeccion'}],
        [{name: 'Hora', attr: 'horSorteo'}],
        [{name: 'Estatus', attr: 'desEstatus'}],

    ]
        
    const inTableData = tableDataStruc(forTabla.map(tableCol => ({ ...tableCol[0], ...(tableCol[1] ? optionsColWidthRemStup(tableCol[1], forTabla.length, optionsColWidthRem) : {}) })))

  return {
    v$: useVuelidate(),
    ...setupData(1),
    ...modalSetupData('sorteocalendario'),
    fechaFilters,
    sorteoCalendarioRegister,
    inTableData,
    optionsColWidthRem,
    labels,
    auth_tokenUsuario,
  }
}

async function buscarSorteo() {
  this.tableDataLoading = true;
  const self = this;
  const dataMes = window.btoa(self.mes);
  const dataAnno = window.btoa(self.anno);

  const dataProd = this.producto === 'todos' ?  'MDAwMA==' : this.producto

    fetchRequest({ 
        api: `${this.$apiEscrutinio}ListarSorteosCalendario/${self.auth_tokenUsuario}/MDAwMDAwMDAw/${dataMes}/${dataAnno}/${dataProd}`,
        self,
        success: (rjson) => {
          self.tableData = rjson.datos.map((val) => {
            return {
              codSorteo: window.atob(val.codSorteo),
              nomDia: val.nomDia,
              fecSorteo: val.fecSorteo,
              nomProducto: val.nomProducto,
              nomSeccion: val.nomSeccion,
              horSorteo: val.horSorteo,
              desEstatus: val.desEstatus,
              estSorteoCalendario: val.estSorteoCalendario,
              codSorteoCalendario: val.codSorteoCalendario
            };
          });
        }, 
        error: (rjson) => {
            console.error(rjson);
            self.tableData = [];
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
        done: () => {
            self.tableDataLoading = false;
            self.clearInputs()
        }
    });
}

function editSorteoCalendario(data) {
  this.tableDataLoading = true;
  const self = this;
    fetchRequest({ 
      api: this.$apiEscrutinio+'EditarSorteoCalendario',
      method: 'PUT',
      self,
      body: {
        tokenUsuario : self.auth_tokenUsuario,
        codigoSorteoCalendario : data.codSorteoCalendario,
        estatusSorteoCalendario : data.status    
      },
      success: () => {
        self.buscarSorteo();
        self.fireToastMsg('Horario añadido de manera exitosa', { icon: 'success' });
      }, 
      error: (rjson) => {
        console.error(rjson);
        return caseWrong({
            self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
            defaultMsg: labels.defaultErrorMsg,
        });
      },
      done: () => {
        self.mes = 'seleccione';
        self.anno = 'seleccione';
        self.prodcuto = 'seleccione';
        self.tableDataLoading = false;
        self.sorteocalendarioModalVisible = false;
        self.modalDecorator(self,'modalsorteocalendarioDecorator');
      }
  });
}

async function viewSorteoCalendario (data, mode) {
  this.actionFromTable({ // para abrir modal
    codSorteo: data.codSorteo,
    nomDia: data.nomDia,
    fecSorteo: data.fecSorteo,
    nomProducto: data.nomProducto,
    nomSeccion: data.nomSeccion,
    horSorteo: data.horSorteo,
    desEstatus: data.desEstatus,
    estSorteoCalendario: data.estSorteoCalendario,
    codSorteoCalendario: data.codSorteoCalendario
  }, mode);
}


function data() {
    return {
        mes: 'seleccione',
        anno: 'seleccione',
        producto: 'seleccione',
        loadingFilters: false,
        annoOptions: [],
        productoOptions: [],
        mesOptions: [],
        codigoSorteoCalendario: '',
        estatusSorteoCalendario: '',
    }
}

function mounted () {
    this.tRef = 'tablaSorteoCalendario';
    this.fetchMeses();
}

async function fetchMeses () {
    const self = this;
    fetchRequest({ 
        api: `${this.$apiGeneral}ListarMeses`,
        self,
        success: (rjson) => {
          self.mesOptions = rjson.datos.map((val) => {
            return {
              label: val.descripcion,
              value: val.codigo,
            };
          });
        }, 
        error: (rjson) => {
            console.error(rjson);
            return caseWrong({
                self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                defaultMsg: labels.defaultErrorMsg,
            });
        },
    });
}

function fetchAnno () {
  const self = this;
      fetchRequest({ 
          api: `${this.$apiGeneral}ListarAnnos`,
          self,
          success: (rjson) => {
            self.annoOptions = rjson.datos.map((val) => {
              return {
                label: val.descripcion,
                value: val.codigo,
              };
            });
          }, 
          error: (rjson) => {
              console.error(rjson);
              return caseWrong({
                  self, error: rjson.msg || rjson, passMsg: Boolean(rjson.msg),
                  defaultMsg: labels.defaultErrorMsg,
              });
          },
      });
}
async function fetchWhichProd () {
    const self = this;
    fetchRequest({ 
        api: `${this.$apiGeneral}ListarProductos/MDAwMA==`,
        self,
        success: (rjson) => {
           self.productoOptions = rjson.datos.map((val) => {
                  return {
                    label: val.descripcion,
                    value: val.codigo,
                  };
            })
        }, 
        error: (rjson) => {
            console.error(rjson);
            
        },
        done: () => {
        }
    });
}

function shouldDisabled () {
    return this.loadingFilters
}

export default {
    name: 'GenerarSorteo',
    components: { CCInput,CCFormStructureWrapper,CCTable,ModalGenerarSorteo},
    mixins: [ globalMixin,tableGenerals,modalGenerals ],
    setup,
    data,
    validations () {
      return  sorteoFechasVals
    },
    methods: {
        shouldDisabled,
        fetchAnno,
        fetchWhichProd,
        buscarSorteo,
        editSorteoCalendario,
        fetchMeses,
        clearInputs,
        viewSorteoCalendario,
        totalOptions: function (fo) {
          const options = this.getOptions(fo.options);
          const totoptions = [
            ...(options?.length && fo.model == 'producto' ? [{ label: 'Todos los productos', value: 'todos' }] : []),
            ...(options || [])
          ];
          return totoptions
        }
    },
    computed: {
      
    },
     watch: {
      mes: function (val) {
        this.mes = val;
        this.fetchAnno()
      },
      anno: function (val) {
        this.anno = val;
        this.fetchWhichProd();
      },
      producto: function (val) {
        this.producto = val;
      },
    },
    mounted,
}
</script>

<style lang="scss" scoped>
@include deepSectionContainer;
</style>