<template>
  <div>
    <AppSidebar />
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <AppHeader />
      <div class="body flex-grow-1 px-3">
        <CContainer lg>
          <router-view />
        </CContainer>
      </div>
      <!-- <AppFooter /> -->
    </div>
    <CCLoader v-if="generalLoading" />
  </div>
</template>
<script>
import { useGeneral } from '@/store/general'
import { storeToRefs } from 'pinia'
import { CContainer } from '@coreui/vue'
// import AppFooter from '@/components/AppFooter.vue'
import AppHeader from '@/components/AppHeader.vue'
import AppSidebar from '@/components/AppSidebar.vue'
import CCLoader from '@/components/custom/CCLoader.vue'
import router from '@/router'
import { inject, onMounted } from 'vue'
import { useAuth } from '@/store/auth'
import globals from '@/_mixins/globals'
import devtoolsControls from '@/_mixins/devtoolsControls'
import { fetchRequest } from '@/_helpers/fetchToolkit'
import { logOutSession } from '@/_helpers/general'
import { useMessages } from '@/store/messages'

// SETUP 
function setup () {
  // localStorage.clear() // MOMENTANEO
  const generalStore = useGeneral()
  const authStore = useAuth()
  const messageStore = useMessages()
  const { cleanMessages } = messageStore
  const { generalLoading, dateOfTimeOut } = storeToRefs(generalStore)
  const { 
    auth_tiempoAlerta, auth_tiempoSesion, auth_usuarioLogueado, auth_tokenUsuario, auth_login, auth_tiempoSistema,
  } = storeToRefs(authStore)
  const { setLoaded, setGralValLocal } = generalStore
  const emitter = inject("emitter")
  
  const loader = (clear = true) => {
    const path = router?.currentRoute?.value?.name
    if (path) {
      const fl = path[0].toLowerCase()
      if(clear) emitter.all.clear()
      setLoaded([fl+`${path}`.slice(1),true])
    }
  }

 router.afterEach(() => {
    loader()
  })


  onMounted(() => {
    loader(false)
  })

  return {
    generalLoading,
    dateOfTimeOut,
    setGralValLocal,
    auth_tiempoAlerta,
    auth_tiempoSesion,
    auth_usuarioLogueado,
    auth_tokenUsuario,
    auth_login,
    auth_tiempoSistema,
    logOutSession,
    cleanMessages,
  }
}

// MOUNTED
function mounted () {
  const self = this;

  // DEV TOOLS DETENTION-----------------------------------------
  // ------------------------------------------------------------

  // SESSION TIMEOUT CONTROL----------------------------------------------------------------------------------------
  $(document).ready(function(){
    const initTiempoSesion = self.dateOfTimeOut - (new Date().getTime());

    const timerOut = (its = null) => {
      // console.log('timerOut');
      self.effectOnBody = false;
      const timeExec = typeof its === 'number' ? its : ((self.auth_tiempoSesion - self.auth_tiempoAlerta) * 1000);
      self.t_o = setTimeout(async () => {
        // console.log('llego al t_o');
        if (!self.auth_usuarioLogueado) return;
        // console.log('newDate',((new Date().getTime())));
        // console.log('tiempoSistema',(self.auth_tiempoSistema));
        const mustLogOut = self.auth_tiempoSistema && ((new Date().getTime()) >= +self.auth_tiempoSistema);
        // console.log('mustLogOut',mustLogOut);
        const res = !mustLogOut ? await self.fireAlertMsg('Su sesión está por caducar ¿Desea extenderla?', { timer: self.auth_tiempoAlerta * 1000, timerProgressBar: true }) : undefined;
        if (!mustLogOut && res.isConfirmed) {
          await self.maintainSessionMeth(true);
          timerOut();
        }
        else {
          self.effectOnBody = false;
          clearTimeout(self.t_o);
          self.logOutSession(self, false);
        }
      }, timeExec);
      self.effectOnBody = true;
    };

    const path_ = router?.currentRoute?.value?.name;
    if (path_ !== 'login') timerOut(initTiempoSesion);

    $('body').on("mousedown mousemove touchstart", function (e) {
      if (!self.effectOnBody) return;

      const isSwal = e?.target?.className?.includes ? e.target.className.includes('swal2-') : false;
      //self.dateOfTimeOut = 40000;
      // console.log(self.dateOfTimeOut,self.auth_tiempoAlerta)
      const timeNextToOut = self.dateOfTimeOut - (self.auth_tiempoAlerta * 1000);
      const maintainSession = (new Date().getTime()) >= timeNextToOut;
      if (maintainSession && !isSwal) self.maintainSessionMeth();

      if (isSwal || !self.effectOnBody) return;

      clearTimeout(self.t_o);
      const path__ = router?.currentRoute?.value?.name;
      if (path__ !== 'login' && self.auth_usuarioLogueado){
    
        timerOut();
      } 
    });
  });
  // ---------------------------------------------------------------------------------------------------------------
}

export default {
  name: 'DefaultLayout',
  components: {
    // AppFooter,
    AppHeader,
    AppSidebar,
    CContainer,
    CCLoader,
  },
  mixins: [ 
    globals, 
    devtoolsControls 
  ],
  data() {
    return {
      effectOnBody: true,
      t_o: null,
    }
  },
  setup,
  methods: {
    maintainSessionMeth: async function(fromBtn = false) {
      if (!this.effectOnBody) return;
      const self = this;
      this.effectOnBody = false;
      await this.auth_tokenUsuario && this.auth_login && 
        fetchRequest({ 
          api: this.$apiUsuario+'MantenerSesion', 
          mock: 'userMantenerSesion',
          method: 'PUT',
          self,
          body: {
            tokenUsuario: this.auth_tokenUsuario,
            login: this.auth_login
          },
          success: () => { 
            self.setGralValLocal(['dateOfTimeOut', new Date().getTime() + (self.auth_tiempoSesion * 1000)]);
          }, 
          error: async (rjson) => { 
            if (fromBtn && rjson.msg) await self.fireToastMsg(rjson.msg, {icon: 'warning'});
            clearTimeout(self.t_o);
            self.logOutSession(self, false);
          }, 
          done: () => {
            self.effectOnBody = true; 
          }
        });
    },
  },
  mounted,
  unmounted() {
    $('body').off();
    clearTimeout(this.t_o);
    this.cleanMessages();
  }
}
</script>
