<template>
  <CRow>
    <CCol>
      <CCard class="mb-4">
        <CCardHeader><h5>Gestionar resultados</h5></CCardHeader>
        <CCardBody>
          <CForm
            class="d-flex flex-wrap justify-content-between align-items-start"
          >
            <div class="row col-lg-12">
              <CCol xs="12" lg="2">
                <CCol class="mb-1 color-text">Fecha</CCol>
                <CCInput
                  :allData="{
                    errorMessageClasses: 'wrong-input',
                    type: 'date',
                    inputWrapperClasses: 'flex-grow-1 col-sm-6',
                    rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg estilo-fecha',
                  }"
                  v-model="fecha"
                  :v_="v$.fecha"
                  :disabled="loading"
                  :sinceDate="new Date().setMonth(new Date().getMonth() - 6)"
                  :untilDate="new Date()"
                />
              </CCol>
              <CCol xs="12" lg="2">
                <CCol class="mb-1 color-text">Producto</CCol>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="producto"
                  :v_="v$.producto"
                  activateTouched
                  :execute="
                    () => {
                      v$.producto.$touch()
                    }
                  "
                  :options="productos"
                  hideSeleccione
                />
              </CCol>
              <CCol xs="12" lg="2">
                <CCol class="mb-1 color-text">Turno</CCol>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="turno"
                  :v_="v$.turno"
                  activateTouched
                  :execute="
                    () => {
                      v$.turno.$touch()
                    }
                  "
                  :options="turnos"
                  hideSeleccione
                  :disabled="this.producto === '00' ? true : false"
                />
              </CCol>
              <CCol xs="12" lg="2">
                <CCol class="mb-1 color-text">Horario sorteo</CCol>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="horario"
                  :v_="v$.horario"
                  activateTouched
                  :execute="
                    () => {
                      v$.horario.$touch()
                    }
                  "
                  :options="horarios"
                  hideSeleccione
                  :disabled="this.turno === '00' ? true : false"
                />
              </CCol>
              <CCol xs="12" lg="2">
                <CCol class="mb-1 color-text">Estatus</CCol>
                <CCInput
                  :allData="{
                    rowClasses: 'g-0 mb-3 mb-lg-0 wide-mobile-lg',
                    errorMessageClasses: 'wrong-input',
                    type: 'select',
                  }"
                  v-model="estatus"
                  :v_="v$.estatus"
                  activateTouched
                  :execute="
                    () => {
                      v$.estatus.$touch()
                    }
                  "
                  :options="estatus_"
                  hideSeleccione
                  :disabled="this.horario === '00' ? true : false"
                />
              </CCol>
              <CCol xs="12" lg="2" v-if="estatusAux != '00'" style="margin-top: 1.5rem;">
                <div  v-if="estatusAux === 'MA==' && auxLength.length > 0">
                  <CButton
                    class="btn-primario"
                    color="dark"
                    @click="botonGuardar()"
                    :disabled="disabledBtnGuardar || valBtn"
                  >
                    Guardar
                  </CButton>
                </div>
                <div v-if="estatusAux === 'MQ==' && auxLength.length > 0">
                  <CButton class="btn-primario" color="dark" @click="botonReversar()" :disabled="disabledBtnRervese || valBtn">
                    Reversar
                  </CButton>
                </div>
              </CCol>
            </div>
          </CForm>

          <!-- {{setTableState}} -->
          <CCLoader v-if="loading" inline />&nbsp;
          <div v-if="estatusAux != '00'">
            <!-- GUARDAR VIEJO -->
            <div class="row mt-4" v-if="estatusAux === 'MA=='">
              <div v-if="auxLength.length > 0" class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <template
                        v-for="(item, index) in hijosPorCodigoSeccion"
                        :key="index"
                      >
                        <tr v-for="(itemHijo, index) in item"
                        :key="index" class="border-blue">
                          <td class="mb-1">{{ itemHijo.nombreSeccion }}</td>
                          <td class="mb-1">{{ itemHijo.descripcionHorario }}</td>
                          <td class="mb-1">
                            <div
                              v-for="(subItem, subIndex) in itemHijo.hijos"
                              :key="subIndex"
                              class="mb-3"
                            >
                              <template v-if="subItem.tipoElemento === '01'">
                                <div>
                                  <label class="me-1">{{ subItem.descripcionEtiqueta }}</label>
                                  <CFormInput
                                    @input="limitarLongitud($event.target.value,subItem.longitudElemento, `cod-${subItem.codigoElemento}-${itemHijo.codigoSeccion}-${itemHijo.codigoHorario}-${subIndex}`)"
                                    :id="`input-${subItem.codigoElemento}-${itemHijo.codigoSeccion}-${itemHijo.codigoHorario}-${subIndex}`"
                                    :name="subItem.descripcionEtiqueta"
                                    type="number"
                                    v-model="inputs_[
                                  `cod-${subItem.codigoElemento}-${itemHijo.codigoSeccion}-${itemHijo.codigoHorario}-${subIndex}`
                                ]"
                                    class="form-control mt-1 me-1"
                                  />
                                </div>
                                
                              </template>
                              <template
                                v-else-if="subItem.tipoElemento === '02'"
                              >
                                <div>
                                  <div>
                                    <label
                                      :for="`input-${subItem.codigoElemento}-${index}`"
                                      class="me-1"
                                      >{{ subItem.descripcionEtiqueta }}</label
                                    >
                                      
                                      <CCInput
                                          :allData="{
                                            errorMessageClasses: 'wrong-input',
                                            type: 'select',
                                          }"
                                          v-model="simbolo[`cod-${subItem.codigoElemento}-${itemHijo.codigoSeccion}-${itemHijo.codigoHorario}`]"
                                          :v_="v$.simbolo"
                                          :options="objtSimboloSeccion[subItem.codigoElemento]"
                                          hideSeleccione
                                          @change="obtenerSimbolo($event, subItem.codigoElemento, index, itemHijo.codigoSeccion, itemHijo.codigoHorario)"
                                        />
                                  </div>
                                </div>
                              </template>                      
                            </div>
                          </td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>
              </div>
              <div v-else-if="auxLength.length === 0 && estatusAux === 'MA=='" class="color-text border-blue">No hay resultados para los sorteos.</div>
            </div>
            <!-- REVERSAR NUEVO -->
            <div class="row mt-4" v-if="estatusAux === 'MQ=='">
              <div v-if="auxLength.length > 0" class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <template
                        v-for="(item, index) in hijosPorCodigoSeccion"
                        :key="index"
                      >
                        <tr v-for="(itemHijo, indexHijo) in item"
                        :key="indexHijo" class="border-blue">
                          <td class="mb-1">{{ itemHijo.nombreSeccion }}</td>
                          <td class="mb-1">{{ itemHijo.descripcionHorario }}</td>
                          <td class="mb-1">
                            <div
                              v-for="subItem in itemHijo.hijos"
                              :key="subItem.codigoElemento"
                              class="mb-3"
                            >
                              <template v-if="subItem.tipoElemento === '01'">
                                <div>
                                  <label class="me-1">{{ subItem.descripcionEtiqueta }}</label>
                                  <input
                                    disabled
                                    :id="`input-${subItem.codigoElemento}-${indexHijo}`"
                                    :name="subItem.descripcionEtiqueta"
                                    type="text"
                                    v-model="subItem.valorResultado"
                                    class="form-control mt-1 me-1"
                                  />
                                </div>
                              </template>
                              <template v-else-if="subItem.tipoElemento === '02'">
                                <div>
                                  <div>
                                    <label
                                      :for="`input-${subItem.codigoElemento}-${indexHijo}`"
                                      class="me-1"
                                      >{{ subItem.descripcionEtiqueta }}</label
                                    >
                                      <CCInput
                                        :allData="{
                                          errorMessageClasses: 'wrong-input',
                                          type: 'text',
                                        }"
                                        v-model="subItem.valorResultado"
                                        :v_="v$.simbolo"
                                        @change="obtenerSimbolo($event, subItem.codigoElemento)"
                                        :options="item.simbolos"
                                        disabled
                                      />
                                  </div>
                                </div>
                              </template>
                            </div>
                          </td>
                          <div
                            v-if="estatusAux === 'MQ=='"
                            class="form-check"
                            style="margin-top: 2rem"
                          >
                            <label>Reversar</label>
                            <input
                              type="checkbox"
                              :id="`checkbox-${indexHijo}`"
                              :name="`checkbox-${indexHijo}`"
                              class="form-check-input mt-1 me-1"
                              @change="obtenerDatosSeccion(indexHijo,itemHijo.codigoHorario)"
                            />
                          </div>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>
              </div>
              <div v-else-if="auxLength.length === 0 && estatusAux === 'MQ=='" class="color-text border-blue">Los sorteos no han sido escrutados.</div>
            </div>
          </div>
          <div class="row col-lg-12 mt-3" v-if="estatusAux != '00'">
            <CCol xs="12" lg="2" v-if="estatusAux === 'MA==' && auxLength.length > 0">
              <CButton
                class="btn-primario"
                color="dark"
                @click="botonGuardar()"
                :disabled="disabledBtnGuardar || valBtn"
              >
                Guardar
              </CButton>
            </CCol>
            <CCol xs="12" lg="2" v-if="estatusAux === 'MQ==' && auxLength.length > 0">
              <CButton class="btn-primario" color="dark" @click="botonReversar()" :disabled="disabledBtnRervese || valBtn">
                Reversar
              </CButton>
            </CCol>
          </div>
          <!-- <pre>{{this.prueba}}</pre> -->
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import escrutarResultadosVal from '@/_validations/escrutarResultadosVal'
import CCInput from '@/components/custom/CCInput.vue'
import { setupData } from '@/composables/tableDataStruc'
import globals from '@/_mixins/globals'
import { useAuth } from '@/store/auth'
import { storeToRefs } from 'pinia'
import { caseWrong, fetchRequest } from '@/_helpers/fetchToolkit'
import { depoched } from '@/_helpers/formatters'
import { LABELS as labels } from '@/_helpers/labels'
import CCLoader from '@/components/custom/CCLoader.vue'

//*********************LISTAR PRODCUTOS************************ */
function listarProductoSorteo() {
  const self = this

  fetchRequest({
    api: `${this.$apiGeneral}ListarProductoComprador/${self.auth_tokenUsuario}/MDAwMDAw`,
    self,
    success: (response) => {
      self.productos = response.datos
      self.productos = self.productos.map((i) => {
        return {
          label: i.descripcion,
          value: i.codigo,
        }
      })
      self.productos = [{ label: 'SELECCIONE', value: '00' }, ...self.productos]
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: 'hubo problemas al conectar con el servidor',
      })
    },
  })
}
//*********************LISTAR TURNO**************************** */
function fetchTurno() {
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarTurnos`,
    self,
    success: (rjson) => {
      self.turnos = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: val.descripcion,
        }
      })
      self.turnos = [{ label: 'SELECCIONE', value: '00' }, ...self.turnos]
    },
    error: (rjson) => {
      console.error(rjson)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: 'Hubo problemas al conectarse con el servidor',
      })
    },
  })
}
//**********************HORARIO SORTEO************************* */
async function fetchHorarioSorteo() {
  const self = this
  const fechaActual = depoched(self.fecha.getTime()).toString()

  fetchRequest({
    api: `${this.$apiEscrutinio}ListarHoraSorteoProducto/${self.auth_tokenUsuario}/${self.producto}/${self.turno}/${fechaActual}`,
    self,
    success: (rjson) => {
      self.horarios = rjson.datos.map((val) => {
        return {
          value: val.codigo,
          label: window.atob(val.descripcion),
        }
      })
      const seleccion = { label: 'SELECCIONE', value: '00' };
      const todos = { label: 'TODOS', value: 'MDA=' };

      // Agregar los objetos al inicio del arreglo self.horarios
      self.horarios.unshift(seleccion,todos);
    },
    error: (rjson) => {
      console.error('error aqui',rjson)
      self.turno = '00'
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: 'Hubo problemas al conectarse con el servidor',
      })
    },
  })
}
//*********************LISTAR ESTATUS************************** */
function listarEstatus() {
  const self = this
  fetchRequest({
    api: this.$apiGeneral+'ListarEstatus/MDE=',
    self,
    success: () => {
      self.estatus_ = this.estatusEscrutado

      self.estatus_ = self.estatus_.map((i) => {
        return {
          label: i.descripcion,
          value: i.codigo,
        }
      })
    },
    error: (rjson) => {
      console.error('jsonResponse', rjson)
    },
  })
}
//*******************LISTAR SECCIONES DE RESULTADOS *************** */
function listarSecciones() {
  const self = this
  self.hijosPorCodigoSeccion = {}
  const fechaActual = depoched(self.fecha.getTime()).toString()
  fetchRequest({
    api: `${this.$apiEscrutinio}ListarProductoSeccionResultado/${self.auth_tokenUsuario}/${fechaActual}/${self.producto}/${self.turno}/${self.horario}/${self.estatus}`,
    self,
    success: (rjson) => {
      self.auxLength = rjson.datos

      // Recorrer cada objeto en el array datos
      for (const seccion of rjson.datos) {
        // Obtener el codigoSeccion
        const codigoSeccion = seccion.codigoSeccion
        // Obtener el nombre de la sección
        const nombreSeccion = seccion.nombreSeccion
        const descripcionHorario = seccion.descripcionHorario
        const codigoHorario = seccion.codigoHorario
        // Obtener los hijos de la seccion actual
        const hijos = seccion.elemento.map((elemento) => {
          if(elemento.tipoElemento === 'MDI=')
          {
            self.listarSimbolos(elemento.codigoElemento)
          }
          
          return {
            codigoElemento: atob(elemento.codigoElemento),
            descripcionEtiqueta: atob(elemento.descripcionEtiqueta),
            longitudElemento: atob(elemento.longitudElemento),
            maximoSimbolo: atob(elemento.maximoSimbolo),
            ordenJerarquia: atob(elemento.ordenJerarquia),
            tipoElemento: atob(elemento.tipoElemento),
            valorResultado: elemento.valorResultado,
          }
        })

        // const hijosAgrupadosPorHorario = {};
        // Almacenar los hijos en la variable hijosPorCodigoSeccion
        if (!self.hijosPorCodigoSeccion[codigoHorario]) {
          self.hijosPorCodigoSeccion[codigoHorario] = [];
        }
    
        self.hijosPorCodigoSeccion[codigoHorario].push({
            codigoSeccion: codigoSeccion,
            nombreSeccion: nombreSeccion,
            descripcionHorario: descripcionHorario,
            codigoHorario: codigoHorario,
            hijos: hijos,
        });

        // self.hijosPorCodigoSeccion = hijosAgrupadosPorHorario;
      }

      self.estatusAux = self.estatus
      self.loading = false
    },
    error: (rjson) => {
      console.error(rjson)
      self.verTabla = false
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg:
          'Ocurrió un problema al cargar las secciones, por favor vuelva a cargar la vista.',
      })
    },
    done: () => {
      
    },
  })
}
//******************LISTAR SIMBOLO******************************* */
function listarSimbolos(codElem){
  const self = this
  fetchRequest({
    api: `${this.$apiGeneral}ListarSimbolo/${self.auth_tokenUsuario}/${codElem}`,
    self,
    success: (response) => {
      const simbolos = response.datos.map((i) => {
        return {
          label: i.descripcion,
          value: i.codigo,
        }
      })
      // self.hijosPorCodigoSeccion[codigoHorario].simbolos[codElem] = self.simbolos;
      self.objtSimboloSeccion[atob(codElem)] = [{ label: 'SELECCIONE', value: '00' },...simbolos];
    },
    error: (rjson) => {
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: 'hubo problemas al conectar con el servidor',
      })
    },
  })
}

function fetchGuardarResultado(arrayFinal,codigoHorario, valPos) {
  const self = this
  self.valBtn = true
  fetchRequest({
    api: this.$apiEscrutinio+'AlmacenarResultado',
    method: 'POST',
    self,
    body: {
      tokenUsuario: self.auth_tokenUsuario,
      fechaSorteo: depoched(self.fecha),
      codigoProducto: self.producto,
      codigoTurno: self.turno,
      codigoHorario: /* self.horario != 'MDA=' ? self.horario : 'MDAwMA==' */ codigoHorario,
      resultado: arrayFinal,
    },
    success: () => {
      if(valPos){
        self.fireToastMsg('Resultados almacenados de manera exitosa', {
        icon: 'success',
        })
      }
      self.hijosPorCodigoSeccion = {}
      self.simbolo = '00'
      self.inputs_ = {}
      self.producto = '00'
      self.horario = '00'
      self.turno = '00'
      self.estatus = '00'
      self.estatusAux = '00'
      self.auxLength = []
      self.arrayGuardarResult = []
      self.arraySimbolosSelect = []
      self.simbolo = []
      self.simbolos = []
      self.DtaSelectEnd = []
      self.valBtn = false
    },
    error: (rjson) => {
      self.hijosPorCodigoSeccion = {}
      self.simbolo = '00'
      self.inputs_ = {}
      self.producto = '00'
      self.horario = '00'
      self.turno = '00'
      self.estatus = '00'
      self.estatusAux = '00'
      self.auxLength = []
      self.arrayGuardarResult = []
      self.arraySimbolosSelect = []
      self.simbolo = []
      self.simbolos = []
      self.DtaSelectEnd = []
      self.valBtn = false
      console.error('error 1',self.auxSelect)
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
     
    },
    done: () => {},
  })
}

function obtenerDatosSeccion(index) {
  if(this.horario != 'MDA='){
    let arrayInterior = []
    for (const key in this.hijosPorCodigoSeccion) {
      if (Object.prototype.hasOwnProperty.call(this.hijosPorCodigoSeccion, key)) {
          arrayInterior = this.hijosPorCodigoSeccion[key];
      }
    }
      const seccionSeleccionada = arrayInterior[index]

      this.arraySeccionReversar.push(seccionSeleccionada.codigoSeccion)
      this.arraySeccionReversar = this.arraySeccionReversar.filter((valor, indice, arreglo) => {
        return this.arraySeccionReversar.indexOf(valor) === indice && arreglo.lastIndexOf(valor) === indice;
      });

      if (this.arraySeccionReversar.length > 0) this.disabledBtnRervese = false
      else this.disabledBtnRervese = true
  }else{
    this.disabledBtnRervese = true
    this.horario = '00'
    this.estatus = '00'
    this.estatusAux = '00'
    this.arraySimbolosSelect = []
    this.arraySeccionReversar = []
    this.DtaSelectEnd = []
    this.fireToastMsg('Seleccione un horario de sorteo específico.', {
        icon: 'warning',
      })
  }
}

function botonReversar(){
  const self = this
  self.valBtn = true
  fetchRequest({
    api: this.$apiEscrutinio+'ReversarEscrutinio',
    method: 'PUT',
    self,
    body: {
      tokenUsuario: self.auth_tokenUsuario,
      fechaSorteo: depoched(self.fecha),
      codigoProducto: self.producto,
      codigoTurno: self.turno,
      codigoHorario: self.horario != 'MDA=' ? self.horario : 'MDAyNw==',
      estatusEscrutado: self.estatusAux,
      seccion: self.arraySeccionReversar,
    },
    success: () => {
      self.fireToastMsg('Resultados reversados de manera exitosa', {
        icon: 'success',
      }),
      self.hijosPorCodigoSeccion = {},
      self.producto = '00'
      self.horario = '00'
      self.turno = '00'
      self.estatus = '00'
      self.estatusAux = '00',
      self.auxLength = []
      self.arraySeccionReversar = []
      self.valBtn = false
    },
    error: (rjson) => {
      console.error(rjson)
      self.valBtn = false
      return caseWrong({
        self,
        error: rjson.msg || rjson,
        passMsg: Boolean(rjson.msg),
        defaultMsg: labels.defaultErrorMsg,
      })
    },
    done: () => {},
  })
}

function botonGuardar() {
  if(this.DtaSelectEnd.length > 0){
    this.auxSelect = this.DtaSelectEnd.map((i) => {

      return {
        codigoSeccion: i.codigoSeccion,
        codigoHorario: i.codigoHorario,
          elemento: [
            {
              codigo: window.btoa(i.elemento.codigo),
              descripcion: i.elemento.descripcion,
              codigoSeccion: i.codigoSeccion
            },
          ],
      }
    })
  }

  const objeto = this.inputs_
  // Iterar sobre las entradas del objeto
  for (const [clave, valor] of Object.entries(objeto)) {

    // Obtener el código de la sección
    const codigoSeccion = clave.split('-')[2]
    const codigoHorario = clave.split('-')[3]
    // Verificar si ya existe la sección en el resultado
    const seccionExistente = this.arrayGuardarResult.find(
      (seccion) => seccion.codigoHorario === codigoHorario,
    )

    // Si la sección ya existe, agregar el elemento al arreglo existente
    if (seccionExistente) {
      seccionExistente.elemento.push({
        codigo: window.btoa(clave.split('-')[1]),
        descripcion: window.btoa(valor),
        codigoSeccion
      })
    }
    // Si la sección no existe, crear una nueva sección en el resultado
    else {
      this.arrayGuardarResult.push({
        codigoSeccion: codigoSeccion,
        codigoHorario: codigoHorario,
        elemento: [
          {
            codigo: window.btoa(clave.split('-')[1]),
            descripcion: window.btoa(valor),
            codigoSeccion
          },
        ],
      })
    }
  }

  // this.arrayGuardarResult = [...this.arrayGuardarResult, this.auxSelect]
  this.arrayGuardarResult = this.arrayGuardarResult.concat(this.auxSelect);
  this.arrayGuardarResult = Object.values(this.arrayGuardarResult.reduce((acc, item) => {
  const codigoSeccion = item.codigoSeccion;
  const codigoHorario = item.codigoHorario;
    if (!acc[codigoHorario]) {
      acc[codigoHorario] = {
        codigoSeccion,
        codigoHorario,
        elemento: []
      };
    }
  acc[codigoHorario].elemento = [...acc[codigoHorario].elemento, ...item.elemento];
  return acc;
}, {}));


this.arrayGuardarResult.forEach((e, index) => {

  // let auxElemento = [
  //   {
  //     codigoSeccion: e.codigoSeccion,
  //     elemento: e.elemento
  //   }
  // ]
  const auxElemento_ = e.elemento.reduce((todos,ele) => {
    if(!todos[ele.codigoSeccion]) todos[ele.codigoSeccion] = {
      codigoSeccion: ele.codigoSeccion,
      elemento: [{
        codigo: ele.codigo,
        descripcion: ele.descripcion
      }]
    };
    else{
      todos[ele.codigoSeccion] = {
      ...todos[ele.codigoSeccion], 
      elemento: [
        ...todos[ele.codigoSeccion].elemento,
        {
        codigo: ele.codigo,
        descripcion: ele.descripcion
      }]
    } ;
    }
    return todos
  }, {});

  const auxElemento = Object.values(auxElemento_)

  let ultimaPos = false
  if (index === this.arrayGuardarResult.length - 1) {
    ultimaPos = true;
  } else {
    ultimaPos = false;
  }

    this.fetchGuardarResultado(auxElemento, e.codigoHorario, ultimaPos);
});

  // this.fetchGuardarResultado(this.arrayGuardarResult)
}

function obtenerSimbolo (event, codigo, index , codigoSeccion, codigoHorario){
  this.simbolo[index] = event.target.value;

    const elemento = {
      codigo: codigo,
      descripcion: this.simbolo[index],
    }

    this.arraySimbolosSelect.push({
      codigoSeccion,codigoHorario,elemento
    })

      this.DtaSelectEnd = this.arraySimbolosSelect.reduce((result, elemento) => {
        const existingIndex = result.findIndex(e => e.codigoSeccion === elemento.codigoSeccion && e.codigoHorario === elemento.codigoHorario);
        if (existingIndex !== -1) {
          // result[existingIndex] = elemento; // Reemplazar el elemento existente con el nuevo elemento
        } else {
          result.push(elemento); // Agregar el elemento al nuevo array
        }
        return result;
      }, []);  
}

function limitarLongitud(valor,valLongitud,id){
  const longitudMaxima = valLongitud; // Establece la longitud máxima permitida
  const longitudActual = valor.toString().length;
  if (longitudActual > longitudMaxima) {
    this.$nextTick(() => {
      this.inputs_[id] = {};
    });
  }else if(longitudActual === 0){
    this.$nextTick(() => {
      this.inputs_[id] = {};
    });
  }else if(valor < 0 ) {
    this.$nextTick(() => {
      this.inputs_[id] = {};
    });
  }
}

function setup() {
  const authStore = useAuth()
  const { auth_tokenUsuario } = storeToRefs(authStore)

  return {
    v$: useVuelidate(),
    ...setupData(),
    auth_tokenUsuario,
  }
}

function data() {
  return {
    auxSelect: [],
    DtaSelectEnd :[],
    arraySimbolosSelect:[],
    hijosPorCodigoSeccion: {},
    objtSimboloSeccion:{},
    inputs_: {},
    prueba: [],
    fecha: new Date(new Date().toDateString()),
    showItems: false,
    producto: '00',
    productos: [],
    horario: '00',
    horarios: [],
    turno: '00',
    turnos: [],
    estatus: '00',
    estatus_: [],
    auxProducto: '',
    estatusAux: '00',
    simbolo: [],
    simbolos: [],
    arrayGuardarResult: [],
    estatusEscrutado: [
      {
        descripcion: 'SELECCIONE',
        codigo: '00',
      },
      {
        descripcion: 'ESCRUTADO',
        codigo: 'MQ==',
      },
      {
        descripcion: 'NO ESCRUTADO',
        codigo: 'MA==',
      },
    ],
    verTabla: false,
    auxLength: [],
    arraySeccionReversar: [],
    disabledBtnRervese: true,
    loading: false,
    valBtn: false,
  }
}
export default {
  data,
  setup,
  components: { CCInput, CCLoader },
  mixins: [globals],
  validations() {
    return escrutarResultadosVal
  },
  mounted() {
    this.listarProductoSorteo()
    // this.listarSimbolos()
  },
  methods: {
    listarProductoSorteo,
    listarSecciones,
    listarEstatus,
    botonGuardar,
    fetchTurno,
    fetchHorarioSorteo,
    fetchGuardarResultado,
    obtenerDatosSeccion,
    listarSimbolos,
    obtenerSimbolo,
    // obtenerImput, 
    botonReversar,
    limitarLongitud,
  },
  watch: {
    fecha: function(){
      this.producto = '00'
      this.horario = '00'
      this.turno = '00'
      this.estatus = '00'
      this.estatusAux = '00',
      this.auxLength = [],
      this.inputs_ = {},
      this.simbolo = []
      this.simbolos = []
      this.DtaSelectEnd = []
      this.arraySimbolosSelect = []
      this.arraySeccionReversar = []
    },
    producto: function (val) {
      if (val != '00' && val != undefined) {
        this.fetchTurno(), (this.auxProducto = val)
        this.horario = '00'
        this.turno = '00'
        this.estatus = '00'
        this.estatusAux = '00',
        this.auxLength = [],
        this.inputs_ = {}
        this.simbolo = []
        this.simbolos = []
        this.DtaSelectEnd = []
        this.arraySimbolosSelect = []
        this.arraySeccionReversar = []
      }
    },
    turno: function (val) {
      if (val != '00' && val != undefined) {
        this.fetchHorarioSorteo()
        this.estatus = '00',
        this.estatusAux = '00',
        this.horario = '00',
        this.auxLength = [],
        this.inputs_ = {},
        this.simbolo = []
        this.simbolos = []
        this.DtaSelectEnd = []
        this.arraySimbolosSelect = []
        this.arraySeccionReversar = []
      }
    },
    horario: function (val) {
      if (val != '00' && val != undefined) {
        this.listarEstatus()
        this.estatusAux = '00'
        this.estatus = '00',
        this.inputs_ = {}
        this.simbolo = []
        this.simbolos = []
        this.DtaSelectEnd = []
        this.arraySimbolosSelect = []
        this.arraySeccionReversar = []
      }
    },
    estatus: function (val) {
      if (val != '00' && val != undefined) {
        this.inputs_ = {}
        this.simbolo = []
        this.simbolos = []
        this.DtaSelectEnd = []
        this.listarSecciones()
        this.arraySeccionReversar = []
        this.loading = true
      }
    },
  },
  computed: {
    disabledBtnGuardar: function () {
      const auxiliar = this.DtaSelectEnd.every(item => item.elemento.descripcion === "00");

      if (Object.keys(this.inputs_).length > 0 || !auxiliar)
      /* (Object.keys(this.inputs_).length > 0 && this.inputs_['cod-0001-MDAwNw=='] != undefined && this.inputs_['cod-0002-MDAwNw=='] != undefined)) */ {
        return false 
      }
      else return true
      
      //   if(
      //     (this.inputs_['cod-0001-MDAwNw=='] > 0 && this.inputs_['cod-0002-MDAwNw=='] > 0) || 
      //     (this.inputs_['cod-0001-MDAwNA=='] > 0 && this.inputs_['cod-0002-MDAwNA=='] > 0)
      //     ) {
      //     return false
        
      // } else if (
      // (
      //   (Object.keys(this.inputs_).length > 0 && this.inputs_['cod-0001-MDAwNw=='] == undefined && this.inputs_['cod-0002-MDAwNw=='] == undefined) && 
      //   (Object.keys(this.inputs_).length > 0 && this.inputs_['cod-0001-MDAwNA=='] == undefined && this.inputs_['cod-0002-MDAwNA=='] == undefined)
      // ) || 
      // !auxiliar ){
      //    return false
      // }
      // else 
      // {
      //   return true
      // }
    },
  },
}
</script>
<style lang="scss" scoped>
@include deepSectionContainer;
.customs-title-table {
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  padding: 10px;
  margin: 0;
}
.border-blue {
  border: 4px solid #dae8fd;
  border-radius: 10px;
  padding: 0.75rem 0.5rem 0.5rem;
  vertical-align: middle;
}
.color-text {
  color: #1c4c96;
}
</style>